<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.josso.generic-ee.agent">
	<resources>
		<resource-root path="." />
		<resource-root path="spring-core-3.2.3.RELEASE.jar" />
		<resource-root path="spring-beans-3.2.3.RELEASE.jar" />
		<resource-root path="spring-context-3.2.3.RELEASE.jar" />
		<resource-root path="spring-expression-3.2.3.RELEASE.jar" />
		<resource-root path="xbean-spring-3.4.3.jar" />
		<resource-root path="josso-ws-1.8.8.jar" />
		<resource-root path="josso-protocol-client-1.8.8.jar" />
		<resource-root path="josso-common-1.8.8.jar" />
		<resource-root path="josso-agent-1.8.8.jar" />
		<resource-root path="josso-core-1.8.8.jar" />
		<resource-root path="josso-servlet-agent-1.8.9-gwpatch-$GROUNDWORK_VERSION.jar" />
	</resources>
	<dependencies>
        <module name="javax.servlet.api" />
        <module name="org.jboss.logging" />
        <module name="org.apache.commons.logging" />
        <module name="javaee.api" />
        <module name="org.apache.axis" />
        <module name="net.sf.wsdl4j" />
        <module name="javax.xml.rpc.api" />
        <module name="org.apache.commons.codec" />
        <module name="org.jboss.jbossweb-extras" />
        <module name="com.groundwork.portal.extension" />
    </dependencies>
</module>  

