input, textarea {
border:1px solid #cccccc;
background-color:#fff;
}

/* textboxes, textareas, passwords */
.validation-failed {
border:1px dashed #F33;
background-color:#FCC;
}
.validation-passed {
border:1px solid #6C6;
background-color:#CFF;
}

/* checkboxes and radios */
.validation-failed-cr {}
.validation-passed-cr {}

/* selects */
.validation-failed-sel {}
.validation-passed-sel {}

.button {
border:1px solid #000000;
background-color:#fa840f;
color:#ffffff;
}
