<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension id="com.icesoft.icefaces.runtime.v180"  
   		point="org.eclipse.jst.jsf.core.pluginProvidedJsfLibraries">
      <jsfLibrary
            name="ICEfaces_runtime_v1.8.0"
            label="ICEfaces library v1.8.0"
            archiveFilesDelegate="com.icesoft.icefaces.runtime.v180.ICEfacesLibraryFiles"
            maxVersionSupported = "v1_2"
            isImplementation="false" >
      </jsfLibrary>
      
      <jsfLibrary
            name="ICEfaces_facelets_v1.8.0"
            label="ICEfaces facelets library v1.8.0"
            archiveFilesDelegate="com.icesoft.icefaces.runtime.v180.ICEfacesFaceletsLibraryFiles"
            maxVersionSupported = "v1_2"
            isImplementation="false" >
      </jsfLibrary>
      
   </extension>
</plugin>
