<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <title><TMPL_VAR NAME="TITLE"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="Content-Script-Type" content="text/javascript">
  <link rel="stylesheet" href="/snmp/mibtool/css/three-col.css" type="text/css">
  <link rel="stylesheet" href="/snmp/mibtool/css/fonts.css" type="text/css">
  <link rel="stylesheet" href="/snmp/mibtool/css/valid.css" type="text/css">
  <TMPL_VAR NAME="JAVASCRIPT">
</head>

<body>
<TMPL_VAR NAME="CSS">
<!-- tmpl_var dfv_profile -->

	<div id="header">
	<TMPL_VAR NAME="BODYHEAD">
	</div>

	<div id="container">
	  
		<div id="center" class="column">
			<h3><TMPL_VAR NAME="MAIN_COL_HEAD"></h3>
			<p>
			<TMPL_VAR NAME="MAIN_COL_TEXT">
			</p>
		</div>

		<div id="left" class="column">
			<h2><TMPL_VAR NAME="LEFT_COL_HEAD"></h2>
			<p><TMPL_VAR NAME="LEFT_COL_TEXT"></p>
		</div>

		<div id="right" class="column">
			<h2><TMPL_VAR NAME="RIGHT_COL_HEAD"></h2>
			<p><TMPL_VAR NAME="RIGHT_COL_TEXT"></p>
		</div>

	</div>

	<div id="footer-wrapper">
		<div id="footer">
		<TMPL_VAR NAME="BODYFOOT">
		</div>
	</div>

</body>

</html>
