<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <extension point="org.eclipse.jst.pagedesigner.pageDesignerExtension">
      <tagConverterFactory class="com.icesoft.ide.eclipse.designtime.converter.ICEfacesConverterFactory"/>
      <elementEditFactory class="com.icesoft.ide.eclipse.designtime.elementedit.ICEfacesElementEditFactory"/>
      <linkCreator class="com.icesoft.ide.eclipse.designtime.actions.ICEfacesCommandLinkCreator" linkIdentifier="ICEfaces CommandLink"/>
      <linkCreator class="com.icesoft.ide.eclipse.designtime.actions.ICEfacesOutputLinkCreator" linkIdentifier="ICEfaces OutputLink"/>
   </extension>

   <extension point="org.eclipse.jst.pagedesigner.jsp.core.pageVar">
      <taglib uri="http://www.icesoft.com/icefaces/component">
      	<tag varTypeStringIsAttr="true"
            varNameIsAttr="true"
            varTypeMode="EXPRESSION_COLLECTION_ITEM"
            varTypeString="value"
            varName="var"
            tagName="dataTable"/>
      	<tag varTypeStringIsAttr="true"
            varNameIsAttr="true"
            varTypeMode="EXPRESSION_COLLECTION_ITEM"
            varTypeString="value"
            varName="var"
            tagName="columns"/>
      	<tag varTypeStringIsAttr="true"
            varNameIsAttr="true"
            varTypeMode="EXPRESSION_COLLECTION_ITEM"
            varTypeString="value"
            varName="var"
            tagName="panelSeries"/>
      	<tag varTypeStringIsAttr="true"
            varNameIsAttr="true"
            varTypeMode="EXPRESSION_COLLECTION_ITEM"
            varTypeString="value"
            varName="var"
            tagName="panelTabSet"/>
      	<tag varTypeStringIsAttr="true"
            varNameIsAttr="true"
            varTypeMode="EXPRESSION_COLLECTION_ITEM"
            varTypeString="value"
            varName="var"
            tagName="panelPositioned"/>
      	<tag varTypeStringIsAttr="true"
            varNameIsAttr="true"
            varTypeMode="EXPRESSION_COLLECTION_ITEM"
            varTypeString="value"
            varName="var"
            tagName="tree"/>
     </taglib>
   </extension>

	<extension
		point="org.eclipse.ui.views.properties.tabbed.propertySections">
		<propertySections
			contributorId="org.eclipse.jst.pagedesigner.tabPropertyContributor">
			<propertySection
				class="com.icesoft.ide.eclipse.designtime.sections.ICEfacesDataTableColumnsSection"
				tab="org.eclipse.jst.pagedesigner.tabQuickEdit"
				id="section.icefaces.dataTable.columns">
			</propertySection>
			</propertySections>
			</extension> 
   <extension point="org.eclipse.jst.jsf.common.standardMetaDataFiles">
      <standardMetaDataFile
            location="/metadata/icefaces_component_pi.xml"
            uri="http://www.icesoft.com/icefaces/component">
      </standardMetaDataFile>   

      <standardMetaDataFile
            location="/metadata/icefaces_hidden_component.xml"
            uri="http://www.icesoft.com/icefaces">
      </standardMetaDataFile> 

      <standardMetaDataFile
            location="/metadata/icefaces_component.xml"
            uri="http://www.icesoft.com/icefaces/component">
      </standardMetaDataFile> 
       
   </extension>

</plugin>
