<?xml version="1.0" encoding="UTF-8"?>
<web-app id="foundation-webapp" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>cloudhub</display-name>

	<!--<security-constraint>-->
        <!--<web-resource-collection>-->
        	<!--<web-resource-name>protected-resources</web-resource-name>-->
			<!--<url-pattern>/*</url-pattern>-->
            <!--<http-method>HEAD</http-method>-->
            <!--<http-method>GET</http-method>-->
            <!--<http-method>POST</http-method>-->
            <!--<http-method>PUT</http-method>-->
            <!--<http-method>DELETE</http-method>-->
        <!--</web-resource-collection>-->

        <!--<auth-constraint>-->
            <!--<role-name>GWAdmin</role-name>-->
        <!--</auth-constraint>-->

        <!--<user-data-constraint>-->
            <!--<transport-guarantee>NONE</transport-guarantee>-->
        <!--</user-data-constraint>-->
    <!--</security-constraint>-->

    <!--<security-role >-->
        <!--<description>GWAdmin Role</description>-->
        <!--<role-name>GWAdmin</role-name>-->
    <!--</security-role>-->

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
    <session-config>
        <session-timeout>480</session-timeout>
    </session-config>
    
    <servlet>
        <servlet-name>cloudhub</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>cloudhub</servlet-name>
        <!-- CLOUDHUB-347 -->
        <url-pattern>/mvc/*</url-pattern>
        <url-pattern>/api/*</url-pattern>
     </servlet-mapping>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/cloudhub-servlet.xml</param-value>
	</context-param>
    <context-param>
        <param-name>resteasy.use.deployment.sensitive.factory</param-name>
        <param-value>false</param-value>
    </context-param>

    <listener>
        <listener-class>org.groundwork.cloudhub.web.AppContextListener</listener-class>
    </listener>

    <filter>
        <filter-name>CloudHubCorsFilter</filter-name>
        <filter-class>org.groundwork.cloudhub.api.CloudHubCorsFilter</filter-class>
        <init-param>
            <param-name>Access-Control-Allow-Origin</param-name>
            <param-value>*</param-value>
            <!--<param-value>http://localhost:4200</param-value>-->
        </init-param>
    </filter>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>


    <!-- Filter to shutdown GWOS REST clients on request thread -->
    <filter>
        <filter-name>RestClientShutdownFilter</filter-name>
        <filter-class>org.groundwork.rs.client.web.RestClientShutdownFilter</filter-class>
    </filter>
    <!-- Filter to shutdown CloudHub REST clients on request thread -->
    <filter>
        <filter-name>CloudHubClientShutdownFilter</filter-name>
        <filter-class>org.groundwork.cloudhub.web.CloudHubClientShutdownFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CloudHubCorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Filter to shutdown REST clients on request thread -->
    <filter-mapping>
        <filter-name>RestClientShutdownFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- Filter to shutdown CloudHub REST clients on request thread -->
    <filter-mapping>
        <filter-name>CloudHubClientShutdownFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
