<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
Collage - The ultimate data integration framework.
Copyright (C) 2004-2006  GroundWork Open Source Solutions info@groundworkopensource.com

    This program is free software; you can redistribute it and/or modify
    it under the terms of version 2 of the GNU General Public License 
    as published by the Free Software Foundation.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA

-->
<!DOCTYPE web-app
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app id="foundation-webapp">
  <display-name>Foundation Enterprise</display-name>	
  
   
  <servlet>
    <servlet-name>jmxserver</servlet-name>
    <servlet-class>org.groundwork.foundation.jmx.JMXServerServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
      

  <servlet-mapping>
       <servlet-name>
          jmxserver
       </servlet-name>
       <url-pattern>
         /foundation-jmx/*
       </url-pattern>
    </servlet-mapping>
    

 
     <session-config>
        <!-- Default to 5 minute session timeouts -->
        <session-timeout>5</session-timeout>
    </session-config>
 


  <mime-mapping>
    <extension>xsd</extension>
    <mime-type>text/xml</mime-type>
  </mime-mapping>
  
 
    
  <welcome-file-list id="WelcomeFileList">
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jws</welcome-file>
  </welcome-file-list>
 
</web-app>
