<P/> 
<p/>

<table>
<tr>
<td>

<table border='1'>
<tr>
<td>

<table>
<tr>
<td>
<b>User Group:</b> 
</td>
<td>
<b>Host Groups:</b>
</td>
</tr>
<tr>
<td valign='top'>
<input style='position: relative;  left: 30px;' type="select" value="NoValue" tal:replace="structure guavaGroupSelect/Draw" />
</td>
<td>
<input style='position: relative;  left: 30px;' type="select" value="NoValue" tal:replace="structure GGhostGroupSelect/Draw" />
</td>
</tr>
</table>

</td>
</tr>
</table>

</td>
<td>
<input type='button' value='<<' tal:replace="structure addButton/Draw"/><br/>
<input type='button' value='>>' tal:replace="structure removeButton/Draw"/>
</td>
<td valign='top'>
<b>Available Host Groups:</b><br></br>
<input style='position: relative;  left: 30px;' type="select" value="NoValue" tal:replace="structure hostGroupSelect/Draw" />
</td>
</tr>
</table>