/**
 * The BitRock Network Service PHP plugin
 * ======================================
 *
 * Sylesheet
 *
 * @author BitRock www.BitRock.com
 * @version @@CLIENT_PLUGIN_VERSION@@
 *
 * Copyright BitRock. For licensing information for this file, please see the 'License' file.
 *
 */

.ns_notifications_box {overflow:auto; padding:10px;_height:100%; width: 1325px; margin-left: auto; margin-right: auto; margin-top: 500px;}
.ns_notifications_box h1 {text-align:center;}
.ns_notifications_box ul {list-style-type: none;margin:0;padding:0;}
.ns_notifications_box li {border:1px solid #c1c1c1 ;padding:8px;margin:10px;background-color:#fff !important}
.ns_notifications_box li img {margin-right:6px; padding-top:3px;}
.last_checked {display:block;font-size:10px;font-family:  FreeSans , tahoma, Arial ;  }
#ns_show_unread_button {display:block; float:right;padding-top:6px;text-decoration:underline;padding-top: 50px;}
#ns_show_info_button {display:block; float:left;padding-top:6px;text-decoration:underline;padding-top: 50px;}
#ns_show_all_button {display:block; float:right;padding-top:6px;text-decoration:underline;padding-top: 50px;}
.ns_controls {text-align:right}
.ns_controls a {text-decoration:underline}
.ns_title {font-weight:bold}
.ns_date {color:gray}
.ns_notifications_list_footer {padding: 0 10px;}