.agentbody {
    background: #FFF;
    color: #000;

    margin:0 0 0 25%;
    padding: 0
}

body {
    background: #FFF;
    color: #000;
    margin: 10px;
    margin:0;
    padding: 0;
    font-family: helvetica, arial;
    font-size: 14px;
}

p {
    line-height: 1.5;
    margin: 0;
}

select {
    font-size: 14px;
    font-family: helvetica, arial;
    border: 1px solid #ccc;
    padding: 3px;
}

input {
    border: 1px solid #ccc;
    font-family: helvetica, arial;
    font-size: 14px;
    padding: 4px;
}

input[type='checkbox'] {
    margin-left: 0;
    position: relative;
    top: 1px;
}

table,td,a {
}

h1 {
    font-size: 40px;
    font-weight: 200;
}

h2 {
    font-size: 30px;
    font-weight: 200;
}

h3 {
    font-size: 24px;
    font-weight: 200;
    margin: 30px 0 20px;
}
.heading3 {
    font-size: 24px;
    font-weight: 200;
}
/* end basic styling                                 */

/* define height and width of scrollable area. Add 16px to width for scrollbar          */
div.tableContainer {
    clear: both;
    height: 500px;
    overflow: auto;
    width: 100%
}

/* Reset overflow value to hidden for all non-IE browsers. */
html>body div.tableContainer {
    overflow: hidden;
    width: 100%
}

/* define width of table. IE browsers only                 */
div.tableContainer table {
    float: left;
    width: 100%
}

/* define width of table. Add 16px to width for scrollbar.           */
/* All other non-IE browsers.                                        */
html>body div.tableContainer table {
    width: 100%
}

/* set table header to a fixed position. WinIE 6.x only                                       */
/* In WinIE 6.x, any element with a position property set to relative and is a child of       */
/* an element that has an overflow property set, the relative value translates into fixed.    */
/* Ex: parent element DIV with a class of tableContainer has an overflow property set to auto */
thead.fixedHeader tr {
    position: relative
}

/* set THEAD element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
html>body thead.fixedHeader tr {
    display: block
}

/* make the TH elements pretty */
thead.fixedHeader th {
    background: #CCCCCB;
    border-left: 1px solid #CCCCCB;
    border-right: 1px solid #CCCCCB;
    border-top: 1px solid #CCCCCB;
    font-weight: normal;
    padding: 4px 3px;
    text-align: left
}

/* make the A elements pretty. makes for nice clickable headers                */
thead.fixedHeader a,thead.fixedHeader a:link,thead.fixedHeader a:visited
{
    color: #FFF;
    display: block;
    text-decoration: none;
    width: auto
}

/* make the A elements pretty. makes for nice clickable headers                */
/* WARNING: swapping the background on hover may cause problems in WinIE 6.x   */
thead.fixedHeader a:hover {
    color: #FFF;
    display: block;
    text-decoration: underline;
    width: auto
}

/* define the table content to be scrollable                                              */
/* set TBODY element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
/* induced side effect is that child TDs no longer accept width: auto                     */
html>body tbody.scrollContent {
    display: block;
    height: 465px;
    overflow: auto;
    width: auto
}

/* make TD elements pretty. Provide alternating classes for striping the table */
/* http://www.alistapart.com/articles/zebratables/                             */
tbody.scrollContent td,tbody.scrollContent tr.normalRow td {
    background: #FFF;
    border-bottom: none;
    border-left: none;
    border-right: 1px solid #CCC;
    border-top: 1px solid #DDD;
    padding: 2px 3px 3px 4px
}

tbody.scrollContent tr.alternateRow td {
    background: #EEE;
    border-bottom: none;
    border-left: none;
    border-right: 1px solid #CCC;
    border-top: 1px solid #DDD;
    padding: 2px 3px 3px 4px
}

/* define width of TH elements: 1st, 2nd, and 3rd respectively.          */
/* Add 16px to last TH for scrollbar padding. All other non-IE browsers. */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
html>body thead.fixedHeader th {
    width: 450px
}

html>body thead.fixedHeader th+th {
    width: 240px
}

html>body thead.fixedHeader th+th+th {
    width: 316px
}

/* define width of TD elements: 1st, 2nd, and 3rd respectively.          */
/* All other non-IE browsers.                                            */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
html>body tbody.scrollContent td {
    width: auto
}

html>body tbody.scrollContent td+td {
    width: auto
}

html>body tbody.scrollContent td+td+td {
    width: auto
}

.error {
    background: none repeat scroll 0 0 #BA1F33;
    border: 2px solid #DDDDDD;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 6px #000000;
    color: #FFFFFF;
    font-size: 11px;
    padding: 1px 10px;
    position: relative;
    width: 150px;
}

.sidebox {
    margin: 0 auto 20px;
    width: 65%;
    min-width: 800px;
}

.boxhead {
    display: none; /* temporary fix -ali */
}

.boxhead h2 {
}

.boxbody {
}

.controlbg {
    width: 60%;
}

div#controlbg {
    background-color: #f6f6f6;
}

.controltop {
}

.controlheader  {
    margin: 0 auto;
    padding: 10px 0;
    width: 65%;
    min-width: 800px;
}

.controlcontent {
    margin: 0 auto;
    padding-bottom: 20px;
    width: 65%;
    min-width: 800px;
}

.controlcontent.notlast {
    padding-bottom: 10px;
}

.controlbottom {
    padding: 0;
    margin: 0;
}

.cornerul {
}

.cornerur {
}

.cornerll {
}

.cornerlr {
}

.button {
    background-color: #ccc;
    color: #000;
    padding: 4px 7px;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none; text-transform: uppercase;
    min-width: 60px;
    margin: 0;
    border: none;
}

.greencircle {
    background: #14e715;

    background: -webkit-linear-gradient(top, #14e715, #12c700);
    border-radius: 50%;
    border: none;
    width: 22px;
    height: 22px;
    float: left;
}

.redcircle {
    background: #e51c23;
    background: -webkit-linear-gradient(top, #e51c23, #c41411);
    border-radius: 50%;
    border: none;
    width: 22px;
    height: 22px;
    float: left;
}

.yellowcircle {
    background: #f7ff00;
    background: -webkit-linear-gradient(top, #f7ff00,  #EFDD37);
    border-radius: 50%;
    border: none;
    width: 22px;
    height: 22px;
    float: left;
}

.text {
    border: 1px solid #ccc;

    float: left;

    padding: 4px;
    width: auto;

}

.agent_title {
    font-size: 24px;
    font-weight: 200;
    color: #000;
    text-align: left;
    margin: 10px auto;
    width: 65%;
    min-width: 800px;
}

.agent_label{
    font-weight: bold;
    padding: 2px 10px 0 0;
}
.redMessage {
    font-size: 16px; !important
font-weight: 900;
    color: red;
    background-color: yellow;
}

.message {
    font-size: 14px; !important
    font-weight: 900;
    color: green;
    margin-bottom: 10px;
}

#testConResultMsg {
    margin: auto;
    width: 65%;
}
#testConWaitMsg {
    margin: auto;
    width: 65%;
}

tr td {
}

div#layout {display: table;}
div#layout {display: table;}
div.hgroupheader {display: table-row;background:gray;}
div.hgroup {display: table-row;}
div.cell {display: table-cell;border:solid 1px red;}

.tableRow1 {
    width: 260px;
}
.tableRow2 {
    width: 100px;
    padding-left: 20px
}
.tableRow3 {
    width: 100px;
    padding-left: 15px
}
.tableRow4 {
    width: 130px;
}
.tableRow5 {
    width: 130px;
}
.tableRow5b {
    width: 130px;
}
.tableRow6 {
    width: 200px;
}
.tableHeader1 {
    padding-bottom: 10px;
    text-align: left;
}
.tableHeader2 {
    padding-bottom: 10px;
    text-align: left;
}
.tableHeader3 {
    padding-bottom: 10px;
    text-align: left;
}
.tableHeader4 {
    padding-bottom: 10px; text-align: left;
}
.tableHeader5 {
    padding-bottom: 10px; text-align: left;
}
.tableHeader5b {
    padding-bottom: 10px; text-align: center;
}
.tableHeader6 {
    padding-bottom: 10px; text-align: left;
}


.alt-bg {
    background-color: #f6f6f6;
    padding-bottom: 40px;
}
.alt-bg:before, .alt-bg:after {
    content: " ";
    display: table;
    clear: both;
}
.add-connection {
    width: 65%;
    min-width: 800PX;
    margin: 20px auto;
}
.col-1 {
    text-align: center!important;
    vertical-align: middle;
    font-weight: bold;
    border-top: 1px solid #e6e6e6;
    height: 90px;
    width: 50%;
}
.col-2 {
    border-top: 1px solid #e6e6e6;
    width: 50%;
    text-align: center;
}
.logo-holder {
    width: 150px;
    height: 50px;
    padding: 5px 0;
    text-align: center;
    display: table-cell; vertical-align:middle;
}
.logo {
    width: 100%;
}
input.button-l {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 14px 18px;
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: inherit;
}
input[disabled].button-l {
    background-color: #777;
    color: #ccc;
}
.disabledHubButton {
    background-color: #777;
    color: #ccc;
    border: none;
    padding: 18px 20px;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: inherit;
}
input:hover.button-l {
    background-color: #777;
}
a.button-l {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 14px 14px;
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover.button-l {
    background-color: #777;
}
.left_1-3 {
    float: left;
    width: 33.33333%;
}