BODY {
      font-family:Arial;
      font-size:9pt;
      background-color:#eeeeee;
      x-next-page:page-with-header;
}
td {
    //:"font-family:"  arial verdana helvetica sans-serif;
    width="30%":"font-family:"  sans-serif;
    font-size:8pt;
    line-height:1.2em;
    color:#000000;
    border:1px solid #999999;
    vertical-align:top;
}
td.columnCell {
               background-color:#A0A0A0;
               color:#000000;
               font-weight:bold;
               padding-left:10px;
}
table.window {
              width:700px;
              margin-left:10px;
              margin-top:5px;
              font-size:9pt;
}
td.row1 {
         background-color:#A0A0A0;
         color:#000000;
         font-weight:bold;
         padding-left:10px;
         padding-top:5px;
         padding-right:5px;
         padding-bottom:5px;
         border-left-color:#000000;
         border-left-width:1px;
         border-left-style:Solid;
         border-top-color:#000000;
         border-top-width:1px;
         border-top-style:Solid;
         border-right-color:#000000;
         border-right-width:1px;
         border-right-style:Solid;
         border-bottom-color:#000000;
         border-bottom-width:1px;
         border-bottom-style:Solid;
}
td.row2 {
         background-color:#ffffff;
         color:#ffffff;
         padding-left:10px;
}
H1 {
    font-weight:normal;
    font-style:normal;
    color:#000000;
    text-transform:none;
    font-variant:normal;
    margin-bottom:0pt;
    margin-top:0pt;
    border-bottom-style:Solid;
    border-bottom-width:1px;
    x-next-type:P;
    font-size:9pt;
}
LI.H1 {
       font-weight:normal;
       font-style:normal;
       color:#000000;
       text-transform:none;
       font-variant:normal;
       font-size:9pt;
}
H2 {
    font-weight:bold;
    font-style:normal;
    text-transform:uppercase;
    margin-bottom:5pt;
    color:#f48314;
    margin-top:12.5pt;
    x-next-type:P;
    font-size:9pt;
}
LI.H2 {
       list-style:url("Shared_Images/bullet02.gif");
       font-weight:bold;
       font-style:normal;
       text-transform:uppercase;
       color:#f48314;
       font-size:9pt;
}
H3 {
    line-height:Normal;
    font-weight:bold;
    font-style:normal;
    color:#1b3a83;
    margin-top:13.5pt;
    margin-bottom:4pt;
    x-next-type:P;
    font-size:9pt;
}
LI.H3 {
       line-height:Normal;
       font-weight:bold;
       font-style:normal;
       color:#1b3a83;
       font-size:9pt;
}
H4 {
    font-weight:bold;
    margin-top:9.5pt;
    margin-bottom:0.5pt;
    x-next-type:P;
    font-size:9pt;
}
LI.H4 {
       font-weight:bold;
       font-size:9pt;
       text-decoration:underline underline;
}
h5 {
    margin-bottom:5pt;
    margin-top:9.5pt;
    font-variant:normal;
    font-style:italic;
    font-weight:normal;
    x-next-type:P;
    font-size:9pt;
}
LI.H5 {
       font-weight:bold;
       font-size:9pt;
       font-variant:small-caps;
}
LI.H6 {
       font-weight:bold;
       font-size:9pt;
}
P {
   margin-top:9pt;
   margin-bottom:2pt;
   line-height:120%;
   font-size:9pt;
   margin-right:108pt;
}
LI.P {
      line-height:120%;
      font-size:9pt;
}
A.expandspot {
              color:#008000;
              cursor:hand;
              font-style:italic;
              font-size:9pt;
              text-decoration:none;
}
SPAN.expandtext {
                 font-weight:normal;
                 font-style:normal;
                 color:#000000;
                 font-size:9pt;
}
A.dropspot {
            cursor:hand;
            color:#008000;
            font-style:italic;
            font-size:9pt;
            text-decoration:none;
}
A.glossterm {
             color:#800000;
             cursor:hand;
             font-style:italic;
             font-size:9pt;
             text-decoration:none;
}
SPAN.glosstext {
                font-style:italic;
                font-weight:normal;
                color:#1b3a83;
                font-size:9pt;
}
OL {
    font-size:9pt;
    margin-top:6px;
    margin-bottom:6px;
    line-height:Normal;
    font-family:Arial;
}
UL {
    font-size:9pt;
    margin-top:6px;
    margin-bottom:6px;
    line-height:Normal;
    font-family:Arial;
}
P.Bullet2 {
           list-style:url("Shared_Images/bullet02.gif");
           margin-bottom:4.5pt;
           margin-left:0pt;
           margin-top:0pt;
           line-height:120%;
}
LI.P-Bullet2 {
              list-style:url("Shared_Images/bullet02.gif");
              line-height:120%;
              font-size:9pt;
}
P.TableBullet1 {
                list-style:url("Shared_Images/bullet01.gif");
                margin-right:0pt;
                font-size:9pt;
                margin-top:2pt;
                margin-bottom:6.5pt;
                line-height:Normal;
}
LI.P-TableBullet1 {
                   list-style:url("Shared_Images/bullet01.gif");
                   font-size:9pt;
                   line-height:Normal;
}
P.Caption {
           font-weight:normal;
           font-style:normal;
           margin-bottom:4.5pt;
           line-height:110%;
           font-size:7pt;
}
LI.P-Caption {
              font-size:8pt;
              font-weight:normal;
              font-style:normal;
              line-height:110%;
}
SPAN.CodeInline {
                 color:#008000;
                 font-style:normal;
                 font-family:"Courier New" , monospace;
                 font-size:9pt;
                 font-weight:bold;
}
P.Numbering {
             list-style:decimal;
             margin-right:54pt;
             line-height:120%;
             margin-top:4pt;
             margin-bottom:4pt;
}
LI.P-Numbering {
                list-style:decimal;
                line-height:120%;
                font-size:9pt;
}
P.CodeGroup {
             color:#008000;
             margin-left:18pt;
             font-style:normal;
             margin-top:0pt;
             margin-bottom:0pt;
             line-height:150%;
             font-family:"Courier New" , monospace;
             font-size:9pt;
             font-weight:bold;
}
LI.P-CodeGroup {
                color:#008000;
                font-style:normal;
                line-height:150%;
                font-family:"Courier New" , monospace;
                font-size:9pt;
                font-weight:bold;
}
P.NormalIndent1 {
                 margin-left:18pt;
                 margin-top:4.5pt;
                 margin-bottom:4.5pt;
                 line-height:140%;
}
LI.P-NormalIndent1 {
                    line-height:140%;
                    font-size:9pt;
}
P.NormalIndentBullet1 {
                       margin-top:4.5pt;
                       margin-bottom:4.5pt;
                       line-height:110%;
                       margin-left:30pt;
                       margin-right:198pt;
}
LI.P-NormalIndentBullet1 {
                          line-height:110%;
                          font-size:9pt;
}
P.Footer {
          margin-right:0pt;
          text-align:Right;
          border-top-style:Solid;
          border-top-width:1px;
          font-size:8pt;
}
LI.P-Footer {
             text-align:Right;
             font-size:8pt;
}
P.CaptionBullet {
                 font-size:8pt;
                 margin-left:28pt;
                 margin-top:5pt;
                 line-height:Normal;
                 margin-bottom:0pt;
}
LI.P-CaptionBullet {
                    font-size:8pt;
                    line-height:Normal;
}
P.TableTextTitles {
                   margin-right:0pt;
                   margin-top:4.5pt;
                   margin-bottom:4.5pt;
                   line-height:110%;
                   text-align:Center;
                   font-size:8pt;
                   font-weight:bold;
                   font-style:normal;
}
LI.P-TableTextTitles {
                      line-height:110%;
                      text-align:Center;
                      font-size:8pt;
                      font-weight:bold;
                      font-style:normal;
}
P.TableTextTitlesLeft {
                       font-size:8pt;
                       font-weight:bold;
                       font-style:normal;
                       margin-right:0pt;
                       line-height:110%;
                       color:#ffffff;
                       margin-top:0pt;
                       margin-bottom:0pt;
}
LI.P-TableTextTitlesLeft {
                          font-size:8pt;
                          font-weight:bold;
                          font-style:normal;
                          line-height:110%;
                          color:#ffffff;
}
A:active {
          color:#1b3a83;
          font-size:9pt;
}
A:hover {
         color:#f48314;
         font-size:9pt;
}
A:link {
        color:#1b3a83;
        font-size:9pt;
}
A:visited {
           color:#f48314;
           font-size:9pt;
}
P.TableText {
             margin-right:0pt;
             font-size:8pt;
             margin-top:0pt;
             margin-bottom:0pt;
             line-height:110%;
}
LI.P-TableText {
                font-size:8pt;
                line-height:110%;
}
P.Figure {
          line-height:Normal;
          margin-left:1pt;
          margin-top:1pt;
          margin-bottom:1pt;
          margin-right:1pt;
}
LI.P-Figure {
             line-height:Normal;
             font-size:9pt;
}
P.BulletIndent1 {
                 line-height:110%;
                 margin-bottom:4.5pt;
                 margin-top:0pt;
                 margin-left:30pt;
                 list-style:url("Shared_Images/bullet01.gif");
}
LI.P-BulletIndent1 {
                    line-height:110%;
                    list-style:url("Shared_Images/bullet01.gif");
                    font-size:9pt;
}
p.row1 {
        font-family:Arial, sans-serif;
}
LI.p-row1 {
           font-family:Arial, sans-serif;
           font-size:9pt;
}
p.headerRow {
             font-family:Arial, sans-serif;
             margin-right:0pt;
             margin-top:0pt;
             margin-bottom:0pt;
             line-height:110%;
             border-left-style:Solid;
             border-left-width:1px;
             border-right-style:Solid;
             border-right-width:1px;
             border-top-style:Solid;
             border-top-width:1px;
             border-bottom-style:Solid;
             border-bottom-width:1px;
             border-left-color:#ffffff;
             border-right-color:#ffffff;
             border-top-color:#ffffff;
             border-bottom-color:#ffffff;
}
LI.p-headerRow {
                font-family:Arial, sans-serif;
                line-height:110%;
                font-size:9pt;
}
P.TableRow1 {
             font-weight:bold;
             text-align:center;
             margin-right:0pt;
             margin-top:2pt;
             margin-bottom:2pt;
}
LI.P-TableRow1 {
                font-weight:bold;
                text-align:center;
                font-size:9pt;
}
P.TableRows {
             font-family:Arial, sans-serif;
             margin-right:0pt;
             font-size:8pt;
             margin-top:0pt;
             margin-bottom:0pt;
             line-height:110%;
}
LI.P-TableRows {
                font-family:Arial, sans-serif;
                font-size:8pt;
                line-height:110%;
}
P.BulletTable {
               margin-right:0pt;
               margin-top:2pt;
               margin-bottom:2pt;
               font-size:9pt;
}
LI.P-BulletTable {
                  font-size:8pt;
}
P.GroupCode2 {
              color:#008000;
              margin-right:0pt;
              margin-left:64px;
              margin-top:0pt;
              margin-bottom:0pt;
              line-height:150%;
              font-family:"Courier New" , monospace;
              font-size:9pt;
              font-weight:bold;
}
LI.P-GroupCode2 {
                 color:#008000;
                 line-height:150%;
                 font-family:"Courier New" , monospace;
                 font-size:9pt;
}
P.Bullet1afternumbering {
                         margin-top:0pt;
                         margin-bottom:0pt;
                         line-height:150%;
                         list-style:url("Shared_Images/bullet01.gif");
                         margin-right:18pt;
                         margin-left:54pt;
}
LI.P-Bullet1afternumbering {
                            line-height:150%;
                            list-style:url("Shared_Images/bullet01.gif");
                            font-size:9pt;
}
P.BoldIndentTitle {
                   font-weight:bold;
                   font-style:normal;
                   margin-left:30pt;
}
LI.P-BoldIndentTitle {
                      font-weight:bold;
                      font-style:normal;
                      font-size:9pt;
}
P.GroupCode3 {
              color:#008000;
              margin-right:2pt;
              margin-left:70pt;
              margin-top:0pt;
              margin-bottom:0pt;
              line-height:150%;
              font-family:"Courier New" , monospace;
              font-weight:bold;
}
LI.P-GroupCode3 {
                 color:#008000;
                 line-height:150%;
                 font-family:"Courier New" , monospace;
                 font-size:9pt;
                 font-weight:bold;
}
P.ProfessionalVersionOnly {
                           font-size:8pt;
                           margin-top:0pt;
}
LI.P-ProfessionalVersionOnly {
                              font-size:8pt;
}
p.Bullet1 {
           margin-left:0pt;
           margin-top:4.5pt;
           margin-bottom:2pt;
           line-height:110%;
           list-style:rh-list;
           x-list-class:rl-p-Bullet1;
           x-list-level:1;
}
LI.P-Bullet1 {
              list-style:url("Shared_Images/bullet01.gif");
              line-height:140%;
              font-size:9pt;
}
P.Bullet1smallspace {
                     margin-right:198pt;
                     margin-top:2pt;
                     margin-bottom:2pt;
                     list-style:url("Shared_Images/bullet01.gif");
                     line-height:130%;
}
LI.P-Bullet1smallspace {
                        list-style:url("Shared_Images/bullet01.gif");
                        line-height:130%;
                        font-size:9pt;
}
P.Bullet2Indent {
                 margin-left:18pt;
                 margin-top:0pt;
                 margin-bottom:0pt;
                 margin-right:198pt;
                 line-height:Normal;
                 list-style:url("Shared_Images/bullet02.gif");
}
LI.P-Bullet2Indent {
                    line-height:Normal;
                    list-style:url("Shared_Images/bullet02.gif");
                    font-size:9pt;
}
P.ScreenShotText {
                  margin-right:0pt;
                  margin-top:0pt;
                  margin-bottom:0pt;
                  line-height:150%;
}
LI.P-ScreenShotText {
                     line-height:150%;
                     font-size:9pt;
}
P.TableRows1 {
              font-weight:bold;
              font-style:normal;
              color:#ffffff;
              font-size:8pt;
}
LI.P-TableRows1 {
                 font-weight:bold;
                 font-style:normal;
                 color:#ffffff;
                 font-size:8pt;
}
LI.P-Style2 {
             font-size:9pt;
}
P.NormalTable {
               margin-right:0pt;
               margin-top:2pt;
               margin-bottom:6.5pt;
               line-height:120%;
               font-size:8pt;
}
LI.P-NormalTable {
                  font-size:9pt;
                  line-height:120%;
}
P.NormalTableBold {
                   font-weight:bold;
                   font-style:normal;
                   margin-top:2pt;
                   line-height:130%;
                   color:#ffffff;
                   margin-right:0pt;
                   font-size:8pt;
}
LI.P-NormalTableBold {
                      font-weight:bold;
                      font-style:normal;
                      line-height:130%;
                      color:#ffffff;
                      font-size:9pt;
}
P.Table {
}
LI.P-Table {
            font-size:9pt;
}
LI.P-NormalTableTitle {
                       font-weight:bold;
                       font-style:normal;
                       text-transform:uppercase;
                       text-align:Center;
                       color:#ffffff;
                       font-size:9pt;
}
P.NormalTableCenter {
                     text-align:Center;
                     margin-right:0pt;
                     line-height:Normal;
                     margin-top:5pt;
                     margin-bottom:5pt;
}
LI.P-NormalTableCenter {
                        text-align:Center;
                        line-height:Normal;
                        font-size:9pt;
}
P.NormalTableBoldCenter {
                         font-weight:bold;
                         font-style:normal;
                         margin-right:0pt;
                         margin-top:2pt;
                         text-align:Center;
                         color:#ffffff;
                         font-size:8pt;
}
LI.P-NormalTableBoldCenter {
                            font-weight:bold;
                            font-style:normal;
                            text-align:Center;
                            color:#ffffff;
                            font-size:9pt;
}
LI.P-NormalTablelrgsp {
                       font-size:8pt;
}
p.CourierTable {
                font-family:"Courier New" , monospace;
                margin-right:0pt;
                margin-top:2pt;
                line-height:120%;
                font-size:8pt;
}
LI.P-CourierTable {
                   font-family:"Courier New" , monospace;
                   line-height:120%;
                   font-size:9pt;
}
LI.P-Style3 {
             line-height:120%;
             font-size:9pt;
}
P.NomalWide {
             margin-top:9pt;
             margin-bottom:2pt;
             line-height:120%;
             margin-right:0pt;
             font-size:9pt;
}
LI.P-NomalWide {
                line-height:120%;
                font-size:9pt;
}
P.Bullet1Wide {
               margin-bottom:4.5pt;
               margin-left:0pt;
               margin-top:4.5pt;
               list-style:url("Shared_Images/bullet01.gif");
               margin-right:0pt;
               line-height:120%;
}
LI.P-Bullet1Wide {
                  list-style:url("Shared_Images/bullet01.gif");
                  line-height:120%;
                  font-size:9pt;
}
P.Popup {
         margin-right:0pt;
         margin-top:0pt;
         margin-bottom:0pt;
         line-height:Normal;
         font-size:9pt;
}
LI.P-Popup {
            line-height:Normal;
            font-size:9pt;
}
P.PopupText {
             margin-right:0pt;
             margin-top:0pt;
             margin-bottom:0pt;
             line-height:Normal;
             font-weight:bold;
             font-style:normal;
             color:#f48314;
             font-size:9pt;
}
LI.P-PopupText {
                line-height:Normal;
                font-weight:bold;
                font-style:normal;
                color:#f48314;
                font-size:8pt;
}
P.Titletext {
             line-height:120%;
             margin-left:24px;
             margin-top:0pt;
             margin-bottom:0pt;
             margin-right:108pt;
             font-size:9pt;
}
LI.P-Titletext {
                line-height:120%;
                font-size:9pt;
}
P.GroupCode2noGrn {
                   margin-right:0pt;
                   margin-left:64px;
                   margin-top:0pt;
                   margin-bottom:0pt;
                   line-height:150%;
                   font-family:"Courier New" , monospace;
                   color:#000000;
                   font-size:9pt;
}
LI.P-GroupCode2noGrn {
                      line-height:150%;
                      font-family:"Courier New" , monospace;
                      color:#000000;
                      font-size:9pt;
}
A.breadcrumbs {
               font-size:8pt;
}
A.popupspot {
             font-size:9pt;
}
span.PageTitle {
                font-weight:bold;
                font-size:10pt;
}
p.PopupBullet {
               margin-right:0pt;
               margin-top:0pt;
               margin-bottom:0pt;
               line-height:140%;
}
table.PaddedCells {
                   border-left-style:Solid;
                   border-left-width:1px;
                   border-left-color:#000000;
                   border-right-style:Solid;
                   border-right-width:1px;
                   border-right-color:#000000;
                   border-top-style:Solid;
                   border-top-width:1px;
                   border-top-color:#000000;
                   border-bottom-style:Solid;
                   border-bottom-width:1px;
                   border-bottom-color:#000000;
                   x-row-pat-1:1;
                   x-row-pat-1-name:t1Row;
                   x-row-pat-count:2;
                   x-row-pat-2:1;
                   x-row-pat-2-name:t2Row;
                   x-border-spacing:2px;
                   font-size:9pt;
}
table.PaddedCells tr.t1Row td {
                               font-family:Arial;
                               border-left-style:Solid;
                               border-left-width:1px;
                               border-left-color:#000000;
                               border-right-style:Solid;
                               border-right-width:1px;
                               border-right-color:#000000;
                               border-top-style:Solid;
                               border-top-width:1px;
                               border-top-color:#000000;
                               border-bottom-style:Solid;
                               border-bottom-width:1px;
                               border-bottom-color:#000000;
                               font-size:9pt;
}
table.PaddedCells tr.t2Row td {
                               font-family:Arial;
                               border-left-style:Solid;
                               border-left-width:1px;
                               border-left-color:#000000;
                               border-right-style:Solid;
                               border-right-width:1px;
                               border-right-color:#000000;
                               border-top-style:Solid;
                               border-top-width:1px;
                               border-top-color:#000000;
                               border-bottom-style:Solid;
                               border-bottom-width:1px;
                               border-bottom-color:#000000;
                               font-size:9pt;
}
table.PaddedCells td {
                      padding-left:5px;
                      padding-right:5px;
                      padding-top:5px;
                      padding-bottom:5px;
                      font-size:9pt;
}
p.PopText {
           line-height:110%;
           font-size:8pt;
           margin-left:0in;
           margin-right:216pt;
           margin-top:3pt;
}
li.PopTextNumbering {
                     font-size:8pt;
}
p.PopTextNumbering {
                    margin-top:2pt;
                    line-height:110%;
                    margin-right:216pt;
                    font-size:8pt;
                    list-style:rh-list;
                    x-list-class:rl-p-PopTextNumbering;
                    x-list-level:1;
                    text-indent:-17px;
                    margin-left:29px;
}
p.PopTextTitle {
                font-size:8pt;
                margin-right:144pt;
                font-weight:bold;
                font-style:normal;
                margin-top:4pt;
                margin-bottom:0pt;
}
DIV.droptext {
              font-size:9pt;
}
p.breadcrumbs {
               font-size:7pt;
}
H6 {
    font-weight:bold;
    margin-top:14pt;
    margin-bottom:14pt;
    margin-left:0pt;
    margin-right:0pt;
    page-break-after:avoid;
    x-next-type:P;
    font-size:8pt;
}
li.PopNumbering {
                 font-size:8pt;
                 margin-right:100in;
}
rh-list.rl-p-PopTextNumbering {
                               x-level-count:1;
                               x-lvl-1-format:<x>.;
                               x-lvl-1-type:decimal;
}
p.Welcome {
           font-size:12pt;
           margin-right:0pt;
           text-align:center;
           font-weight:bold;
           margin-top:2pt;
}
rh-list.rl-p-Bullet1 {
                      x-level-count:1;
                      x-lvl-1-format:Bullet1;
}
.memtemplate {
              font-size:8pt;
              color:#606060;
              font-weight:normal;
}
.memnav {
         background-color:#e8eef2;
         border:none;
         text-align:center;
         margin:2px;
         margin-right:15px;
         padding:2px;
}
.memitem {
          padding:4px;
          background-color:#e8eef2;
          border-width:0px;
          border-style:none;
          -moz-border-radius:8px 8px 8px 8px;
}
.memname {
          white-space:nowrap;
          font-weight:bold;
          border-width:0px;
          border-style:none;
}
.memdoc {
         padding-left:10px;
         border-width:0px;
         border-style:none;
         width:70%;
}
.memproto {
           background-color:#d5e1e8;
           width:70%;
           border-width:0px;
           border-style:none;
           border-color:#e8eef2;
           font-weight:bold;
           -moz-border-radius:8px 8px 8px 8px;
}
.paramkey {
           text-align:right;
           border-width:0px;
           border-style:none;
}
.paramtype {
            white-space:nowrap;
            border-width:0px;
            border-style:none;
}
.paramname {
            color:#602020;
            font-style:italic;
            border-width:0px;
            border-style:none;
}
P.Preformatted-CodeGroup {
                          x-text-tab-stops:repeat 1in;
                          white-space:nowrap;
                          font-weight:bold;
                          font-size:9pt;
                          font-family:"Courier New" , monospace;
                          line-height:150%;
                          margin-bottom:0pt;
                          margin-top:0pt;
                          font-style:normal;
                          margin-left:18pt;
                          color:#008000;
}
p.HowTo {
         font-size:10pt;
         font-weight:bold;
         font-style:normal;
         text-transform:uppercase;
         border-bottom-style:Solid;
         color:#000000;
         border-bottom-width:1px;
}
p.HTtitle {
           color:#ff7f00;
           text-transform:uppercase;
           border-bottom-style:Solid;
           border-bottom-width:1px;
           border-bottom-color:#000000;
           font-weight:bold;
           font-style:normal;
           font-size:9pt;
           margin-top:18pt;
}
span.Code {
           font-family:Courier New;
           font-weight:bold;
}
