<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>Welcome to JBoss</display-name>
	<description>Welcome to JBoss</description>
	<!-- PHP servlet for php web applications -->
	<servlet>
		<servlet-name>php</servlet-name>
		<servlet-class>org.jboss.web.php.Handler</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>0</param-value>
		</init-param>
		<load-on-startup>6</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>phps</servlet-name>
		<servlet-class>org.jboss.web.php.Highlight</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Status Servlet</servlet-name>
		<servlet-class>org.jboss.web.tomcat.service.StatusServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Status Servlet</servlet-name>
		<url-pattern>/status</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>php</servlet-name>
		<url-pattern>*.php</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>phps</servlet-name>
		<url-pattern>*.phps</url-pattern>
	</servlet-mapping>
</web-app>
        