@charset "UTF-8";
/* CSS Document */

.UniqueActionsID {
	margin-top:-133px;
}

.UniqueActionsIDhv {
	margin-top:-79px;
}

.UniqueActionsIDhg {
	margin-top:-48px; 
}

.UniqueActionsIDsg {
	margin-top:-135px;
}

.IEfixen {
	margin-top:-17px;
}

.uniqueTabClass {
	margin-bottom:0;
	padding-bottom:3px;
}

.arrowsClass {
	margin-bottom:9px;
}

div#bottom div.portlet-content-center {
    margin-top:-16px;
}

.UniqueMarginhv {
	margin-top:-85px;
}

.UniqueMarginhg {
	margin-top:-52px;
}

.UniqueMarginsg {
	margin-top:-165px;
}
.UniqueMarginsv {
	margin-top:-110px;
}

 

 .arrowsClass .MidMid .ptfd .icePnlTbLblLnk img {
				padding:0px 0 0px 0;
				margin:0px 0px 0px 0;
			}
			
			.arrowsClass .MidMid a img {
				padding:0px 0 0px 0;
				margin:0;
			}
			
			
.icePnlTbOff .MidMid a img{
		
		
	}
	
	#frmNavigationTabset #tabsetDiv {
		
		height:28px;
		width:100%;
		margin-left:0px!important;
	
	
	}
	
	.nextTabLeftside {
		margin-top:6px;
		margin-left:0px;
		
	}
	
	.backArrow {
		height:auto;
		width:15px!important;
		margin:0;
		padding:0px;
	}
	
	
	
#bottom {
		margin-top:-5px;
	}
	
#navigation {
	margin:32px 0 0 0;
}

.hgv_hv_filterView {height:111px}
.svComments{height:239px;}
