<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<display-name>nms-rstools</display-name>


	<servlet>
		<servlet-name>php</servlet-name>
		<servlet-class>org.jboss.web.php.Handler</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>0</param-value>
		</init-param>
		<load-on-startup>6</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>phps</servlet-name>
		<servlet-class>org.jboss.web.php.Highlight</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>php</servlet-name>
		<url-pattern>*.php</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>phps</servlet-name>
		<url-pattern>*.phps</url-pattern>
	</servlet-mapping>

	<!-- This filter will provide security context, if present -->
	<filter>
		<filter-name>JOSSOGenericServletFilter</filter-name>
		<description>JOSSO Generic Servlet Container filter</description>
		<filter-class>org.josso.servlet.agent.GenericServletSSOAgentFilter</filter-class>
		<init-param>
                <param-name>AUTHORIZED_ROLES</param-name>
                <param-value>GWAdmin</param-value>
        </init-param>
	</filter>

	<!-- This filter will automatically request user authentication -->
	<filter>
		<filter-name>JOSSOWebAccessControlServletFilter</filter-name>
		<description>JOSSO Generic Web Acces Control servlet filter</description>
		<filter-class>org.josso.agent.http.WebAccessControlFilter</filter-class>
	</filter>

	<!-- User information will be available when accessing this URLs -->
	<filter-mapping>
		<filter-name>JOSSOGenericServletFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<!-- User must be authenticated to access this URLs -->
	<filter-mapping>
		<filter-name>JOSSOWebAccessControlServletFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.php</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<session-config>
		<session-timeout>482</session-timeout>
	</session-config>
</web-app>