/* 
    Document   : ns_notifications        
    Description: format notifications view        
*/

.ns_notifications_box {overflow:auto;border:1px solid #c1c1c1 ;padding:10px;_height:100%; background-color:#f8f8f8 !important;}
.ns_notifications_box h1 {text-align:center;}
.ns_notifications_box ul {list-style-type: none;margin:0;padding:0;}
.ns_notifications_box li {border:1px solid #c1c1c1 ;padding:8px;margin:10px;background-color:#fff !important}
.ns_notifications_box li img {margin-right:6px; padding-top:3px;}
.last_checked {padding-left:10px;display:block;font-size:10px;font-family:  FreeSans , tahoma, Arial ;  }
#ns_show_unread_button {display:block; float:right;padding-top:6px;text-decoration:underline}
#ns_show_all_button {display:block; float:right;padding-top:6px;text-decoration:underline}
.ns_controls {text-align:right}
.ns_controls a {text-decoration:underline}
.ns_title {font-weight:bold}
.ns_date {color:gray}
