<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension id="com.icesoft.eclipse.sunri"  
   		point="org.eclipse.jst.jsf.core.pluginProvidedJsfLibraries">
      <jsfLibrary
            name="Sun_JSF_RI_v1_2_12"
            label="Sun JSF RI v1.2_12"
            archiveFilesDelegate="com.icesoft.icefaces.sunri.v12.SunRIFilesDelegate"
            maxVersionSupported = "v1_2"
            isImplementation="true" >
      </jsfLibrary>
         		
     <jsfLibrary
            name="Sun_JSF_RI_v1_1_02"
            label="Sun JSF RI v1.1_02"
            archiveFilesDelegate="com.icesoft.icefaces.sunri.v11.SunRIFilesDelegate"
            maxVersionSupported = "v1_1"
            isImplementation="true" >
      </jsfLibrary>
      
      <jsfLibrary
            name="ICEfaces_Sun_EL_RI_v2_1"
            label="Sun EL(Expression Language) RI v2.1"
            archiveFilesDelegate="com.icesoft.eclipse.sunri.ELFilesDelegate"
            maxVersionSupported = "v1_2"
            isImplementation="false" >
      </jsfLibrary>
      
     <jsfLibrary
            name="ICEfaces_Apache_Commons_Library"
            label="Apache Commons Library"
            archiveFilesDelegate="com.icesoft.eclipse.apache.CommonsFilesDelegate"
            maxVersionSupported = "v1_2"
            isImplementation="false" >
      </jsfLibrary>
      
      <jsfLibrary
            name="ICEfaces_Xerces_v1_3_1"
            label="Xerces v1.3.1"
            archiveFilesDelegate="com.icesoft.eclipse.apache.XercesFilesDelegate"
            maxVersionSupported = "v1_1"
            isImplementation="false" >
      </jsfLibrary>

      <jsfLibrary
            name="ICEfaces_FastInfoSet_v1.2.2"
            label="FastInfoSet v1.2.2"
            archiveFilesDelegate="com.icesoft.eclipse.jvnet.FastInfoSetDelegate"
            maxVersionSupported = "v1_2"
            isImplementation="false" >
      </jsfLibrary>
      
      <jsfLibrary
            name="ICEfaces_JXL_v2.6.9"
            label="JXL v2.6.9"
            archiveFilesDelegate="com.icesoft.eclipse.jxl.JXLDelegate"
            maxVersionSupported = "v1_2"
            isImplementation="false" >
      </jsfLibrary>
      
   </extension>
</plugin>
