/* custom inclusion of right, left and below tabs */
a.ItemIcon.DefaultPageIcon {
    color: black !important;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
}

.UINavigationPortlet .UITab a.TabIcon {
    color: black ;
    text-decoration: none ;
}

.UINavigationPortlet .NormalNavigationTab a.TabIcon {
    color: #fff;
}

.TabIcon {
    font-size: 11px !important;
    font-family: sans-serif !important;
}
.FL {
    font-size: 11px !important;
    font-family: sans-serif !important;
}
.Selected {
    font-size: 11px !important;
    font-family: sans-serif !important;
}

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
    border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}

.tab-content > .active,
.pill-content > .active {
    display: block;
}

.tabs-below > .nav-tabs {
    border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
    margin-top: -1px;
    margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
    border-top-color: #ddd;
    border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
    border-color: transparent #ddd #ddd #ddd;
}

.tab-icon {
    max-height: 2em;
    margin-right: 1.5em;
}

.tab-name {
    margin-top: 1em;
}

.tab-pane {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 1em;
    height: 500px;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}

.icon-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.icon-list:after {
    clear: both;
}

.icon-list .icon-list-item {
    float: left;
    position: relative;
    margin: 0 0 4px 0;
    width: 72px;
    height: 72px;
    text-align: center;
    padding: 8px;
}

.icon-list .icon-list-item .status {
    position: absolute;
    top: 0px;
    right: 3px;
}

.icon-list .icon-list-item .status-red {
    color: red;
}

.icon-list .icon-list-item .status-yellow {
    color: #7F6A00;
}

.icon-list .icon-list-item div.img-container {
    padding: 10px;
    max-width: 100px;
    border: 1px solid lightgrey;
}

.icon-list .icon-list-item div.img-container img {
    max-width: 100%;
}

.icon-list .icon-list-item p.name {
    margin-top: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 7pt;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.audit-nav-container form {
    padding: 0;
}

.panel.no-border {
    border: 0;
    box-shadow: none;
}

#audit-next[disabled] {
    color: #999;
}

#infohover {
    position: absolute;
    top: 0;
    left: 0;
    padding: .5em;
    background: white;
    border: 1px solid lightgrey;
    width: 300px;
    min-height: 100px;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    z-index: 1;
}

#infohover h3 {
    padding-top: 0;
    margin-top: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 270px;
    font-size: 1.6em;
    display: block;
    text-decoration: none !important;
}

#infohover .timestamp {
    font-size: 1.2em;
}

#infohover h4 {
    font-size: 1em;
}

#infohover h4 .icon {
    position: relative;
    top: -1px;
    margin-right: .7em;
}

#infohover h4 .icon.icon-alert {
    top: -3px;
}

#infohover hr {
    padding: 0;
    margin: 1em;
    color: grey;
    border-top: 1px solid grey;
}

.alert {
    color: red;
    padding-bottom: 0;
    margin-bottom: 0;
    text-shadow: 0 0 0;
    box-shadow: none;
}

.error-message {
    color: red;
}

table.filter-table, table.filter-table-2 {
    margin: .5em .25em 1em .25em;
}

table.filter-table td {
    padding: .5em 1em;
}

table.filter-table td label, table.filter-table-2 td label {
    margin-bottom: 3px;
}

table.filter-table td input, table.filter-table-2 td input {
    width: 100%;
    padding: 5px;
    height: 25px;
}

table.filter-table td .btn, table.filter-table-2 td .btn {
    padding: 2px 5px;
    font-size: 1.2em;
}

.audit-nav-container {
    position: relative;
}

.audit-nav-top {
    position: absolute;
    bottom: 20px;
    right: 10px;
}

input#host-identities-search {
    padding: 7px;
    height: 26px;
}

input.error {
    color: red;
    background-color: #FFE9E8;
    border-color: red;
}

.margin-bottom10 {
    margin-bottom: 10px;
}

.modal.fade.slide-from-right {
    margin: 0;
}

.modal.fade.slide-from-right:not(.in) .modal-dialog {
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
}

.modal.fade.slide-from-right.in .modal-dialog {
    margin: 0px 10% 0px auto;
}

div.svg-container {
    margin-top: 25px;
    margin-left: 25px;
}

svg.graph {
    width: 100%;
}

svg.graph .node, svg.drag-canvas .node {
    cursor: default;
}

svg.graph .clickable {
    cursor: pointer;
}

svg.graph .node polygon, svg.drag-canvas .node polygon {
    fill: #fff;
    stroke: lightgrey;
    stroke-width: 2px;
}

svg.graph .node polygon.cg, svg.drag-canvas .node polygon.cg {
    fill: #F2EA59;
    stroke: #DBCA11;
}

svg.graph .node polygon.hg, svg.drag-canvas .node polygon.hg {
    fill: #96A6FF;
    stroke: #546DFF;
}

svg.graph .node polygon.sg, svg.graph .node circle.sg,
svg.drag-canvas .node polygon.sg, svg.drag-canvas .node circle.sg {
    fill: #FFC444;
    stroke: #DBA83B;
}

svg.graph .node circle.sg, svg.drag-canvas .node circle.sg {
    stroke-width: 2px;
}

svg.graph .node text, svg.drag-canvas .node text {
    font: 12px sans-serif;
}

svg.drag-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    background: transparent;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.hidden {
    visibility: hidden;
}

.templink {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
    stroke-dasharray: 5,5;
}

.templink.disabled {
    stroke: #f00;
}

#back {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    border-bottom: 1px dashed blue;
}

#canvas-inner {
    position: relative;
    transform-origin: 0 0;
}

#root-list {
    min-width: 150px;
    padding: 3px;
}

#root-list[disabled] {
    background-color: lightgrey;
}

.legend {
    padding: 5px;
    position: fixed;
    top: 150px;
    right: 35px;
    z-index: 1;
}

.add-root {
    display: block;
    position: absolute;
    right: 0;
    width: 40px;
    height: 30px;
    line-height: 22px;
    padding: 2px;
    font-weight: bold;
    font-size: 12px;
    color: grey;
    text-decoration: none !important;
    cursor: pointer;
    cursor: hand;
    border: 3px solid grey;
    border-radius: 4px;
    text-align: center;
}

.add-root#add-cg-root {
    top: 0;
    background: #F2EA59;
    border-color: #DBCA11;
}

.add-root#add-hg-root {
    top: 50px;
    background: #96A6FF;
    border-color: #546DFF;
}

.add-root#show-hg-root {
    width: 20px;
    height: 20px;
    top: 52px;
    right: 50px;
}

.add-root#add-sg-root {
    top: 100px;
    background: #FFC444;
    border-color: #DBA83B;
}

.add-root#show-sg-root {
    width: 20px;
    height: 20px;
    top: 102px;
    right: 50px;
}

.add-root#scale-up {
    top: 150px;
    right: 4px;
    width: 32px;
    background: white;
    border-color: grey;
    color: grey;
}

.add-root#scale-down {
    top: 200px;
    right: 4px;
    width: 32px;
    background: white;
    border-color: grey;
    color: grey;
}

/**/

ul.catmenu {
    margin: 0;
    padding: 0;
    width: 185px;
    list-style-type: none;
}

ul.catmenu li a {
    text-decoration: none;
    color: white;
    padding: 10.5px 11px;
    background-color: #005555;
    display: block;
}

ul.catmenu li a:visited {
    color: white;
}

ul.catmenu li a:hover, ul.catmenu li .current {
    color: white;
    background-color: #5FD367;
}

.relative {
    position: relative;
}

#canvas-container {
    position: relative;
    min-height: 220px;
    max-height: 1000px;
    overflow: scroll;
}

#loading-container {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

#loading-container span {
    font-size: 16px;
}

div.checkers-container {
    max-height: 250px;
    overflow: auto;
}

div.no-padding-right {
    padding-right: 0;
}

div.checkers-container select {
    max-width: 100%;
    border: 0;
    height: 250px;
    overflow: visible;
    width: 100%;
}

div.checkers-container select option {
    padding: 8px 0 8px 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul.checkers {
    list-style-type: none;
}

ul.checkers li {
    padding: 0 0 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul.checkers li.custom {
    color: #EAE056;
}

ul.checkers li.host {
    color: #546DFF;
}

ul.checkers li.service {
    color: #DBA83B;
}

ul.checkers.selectable li:hover {
    background: #EEE;
}

ul.checkers li.selected {
    background: #DDD;
}

ul.checkers li[disabled] {
    color: lightgrey;
}

ul.checkers li input[type='checkbox'] {
    position: relative;
    top: 3px;
}

.modal-header.inner-header {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 15px;
}

.modal-header.inner-header.no-margin-bottom {
    margin-bottom: 0px;
}

.checker-title {
    width: 100%;
    line-height: 30px;
    background: #EFEFEF;
    padding: 0 5px;
}

.admin-header {
    background: white;
    height: 30px;
    width: 100%;
    line-height: 33px;
}

.admin-header input[type='text'] {
    height: 28px;
}

.admin-header ul li a {
    color: black;
}

/**/

g.glow polygon.cg {
    fill: #F2EA59;

    -webkit-animation-name: glow-yellow;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;

    animation-name: glow-yellow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;

    -moz-animation-name: glow-yellow;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-direction: alternate;
}

g.glow polygon.hg {
    fill: #96A6FF;

    -webkit-animation-name: glow-blue;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;

    animation-name: glow-blue;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;

    -moz-animation-name: glow-blue;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-direction: alternate;
}

g.glow polygon.sg {
    fill: #FFC444;

    -webkit-animation-name: glow-brown;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;

    animation-name: glow-brown;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;

    -moz-animation-name: glow-brown;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-direction: alternate;
}

@-webkit-keyframes glow-yellow {
    0% { fill: #F2EA59; }
    100% { fill: #DBCA11; }
}

@keyframes glow-yellow {
    0% { fill: #F2EA59; }
    100% { fill: #DBCA11; }
}

@-webkit-keyframes glow-blue {
    0% { fill: #96A6FF; }
    100% { fill: #546DFF; }
}

@keyframes glow-blue {
    0% { fill: #96A6FF; }
    100% { fill: #546DFF; }
}

@-webkit-keyframes glow-brown {
    0% { fill: #FFC444; }
    100% { fill: #DBA83B; }
}

@keyframes glow-brown {
    0% { fill: #FFC444; }
    100% { fill: #DBA83B; }
}

a.disabled {
    color: #AAAAAA !important;
    cursor: default;
    pointer-events: none;
    text-decoration: none;
}

/* Unhandled problems view */

.typeContainer {
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.problemType {
    width: calc(25% - 3px);
    text-align: center;
    display: inline-block;
    margin: 15px 0 20px;
    padding: 0;
    position: relative;
    cursor: default;
}

.problemSection.problemSectionSmall .problemType {
    width: calc(50% - 2px);
}

.problemType > div.typeIndicator {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    border: 5px solid white;
    color: white;
    margin: 0 auto;
    font-size: 24px;
    line-height: 58px;
    cursor: pointer;
    cursor: hand;
}

.problemType.selected > div.typeIndicator {
    border-color: #72C9E2;
    color: #72C9E2;
}

.problemType > div.downUnacknowledgedType {
    background-color: #B84D46;
}

.problemType > div.warningUnacknowledgedType {
    background-color: #FFD607;
}

.problemType > div.criticalAcknowledgedType {
    background-color: #999999;
}

.problemType > div.warningAcknowledgedType {
    background-color: #F89500;
}

.problemType > div.pointer {
    display: none;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #5BC0DE;
}

.problemType.selected > div.pointer {
    display: block;
    position: absolute;
    top: 70px;
    left: calc(50% - 20px);
}

.problemTypeName {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.problemSection {
    width: 35%;
    min-width: 300px;
    float: left;
    border-right: 1px solid lightgray;
}

.problemSection.problemSectionSmall {
    width: 30%;
    min-width: 200px;
}

.UIPopupCategory {
    z-index: 1 !important
}

.errorMessage {
    color: red;
}

.problemType .tooltip.top .tooltip-inner, .hittooltip .tooltip-inner {
    font-size: 10pt;
    word-break: break-all;
}

/**/

.panel-group.panel-group-noc .panel+.panel {
    margin-top: 0px;
}

.panel-group.panel-group-noc .panel {
    border-radius: 0;
    border: 1px solid transparent;
    box-shadow: none;
}

.panel-group.panel-group-noc .panel.panel-noc {
    border-bottom-width: 0;
}

.panel-group.panel-group-noc .panel.panel-noc:last-child {
    border-bottom-width: 1px;
    border-bottom-color: #ccc;
}

.panel-group.panel-group-noc .panel.panel-noc .panel-heading {
    background: #ccc;
    border-radius: 0;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
}

.panel-group.panel-group-noc .panel.panel-noc .panel-heading .panel-title {
    line-height: 30px;
    font-size: 14px;
}

.panel-group.panel-group-noc .panel.panel-noc .panel-heading .panel-heading-cell {
    background: #CCCCCC;
    padding: 7px;
    font-weight: bold;
}

.panel-group.panel-group-noc .panel.panel-noc .panel-heading .panel-heading-cell-expander {
    border-right: 1px solid #999;
}

.panel-group.panel-group-noc .panel.panel-noc .panel-heading a.accordion-toggle,
.panel-group.panel-group-noc .panel.panel-noc .panel-heading a.accordion-toggle:hover {
    color: black;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

.panel-group.panel-group-noc .panel.panel-noc .panel-heading .panel-heading-cell-expander i {
    position: relative;
    left: 2px;
}

.panel-group.panel-group-noc.panel-group.panel-group-noc .panel.panel-noc .panel-heading .host-down,
.panel-group.panel-group-noc .problem-description .host-down {
    color: #FF2617;
}

.panel-group.panel-group-noc .panel.panel-noc .panel-heading .host-warning,
.panel-group.panel-group-noc .problem-description .host-warning {
    color: #EEF978;
}

.panel-group.panel-group-noc .panel.panel-noc .panel-heading .host-up,
.panel-group.panel-group-noc .problem-description .host-up {
    color: #1EC318;
}

.panel-group.panel-group-noc .panel.panel-noc .panel-heading .host-pending,
.panel-group.panel-group-noc .problem-description .host-pending {
    color: blue;
}

.panel-group.panel-group-noc .panel.panel-noc .panel-heading .service-unknown,
.panel-group.panel-group-noc .problem-description .service-unknown {
    color: black;
}

.panel-group.panel-group-noc .panel-body {
    padding: 0;
}

.panel-group.panel-group-noc .col-border-left {
    border-left: 1px solid #ccc;
}

.panel-group.panel-group-noc .col-sm-6 {
    padding: 1.5em 2em;
}

.panel-group.panel-group-noc .problem-header {
    float: left;
    margin: 20px 20px 20px 5px;
    text-align: center;
}

.panel-group.panel-group-noc .problem-header .problem-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.panel-group.panel-group-noc .problem-header .problem-count {
    width: 135px;
    height: 135px;
    line-height: 126px;
    font-size: 125px;
    font-weight: bold;
    color: white;
    background: #FF2F0B;
    border: 1px solid black;
    margin: 0 auto;
}

.panel-group.panel-group-noc .problem-header .problem-count.problem-service-count {
    border-radius: 87px;
}

.panel-group.panel-group-noc .problem-description {
    margin-top: 45px;
}

.panel-group.panel-group-noc .problem-description .problem-description-title {
    font-weight: bold;
    font-size: 16px;
}

.panel-group.panel-group-noc .problem-description table {
    font-size: 13px;
    font-weight: bold;
    margin-top: 1em;
}

.panel-group.panel-group-noc .problem-description table td {
    padding-bottom: 5px;
    padding-right: 5px;
    vertical-align: top;
}

.panel-group.panel-group-noc .col-sm-6.no-padding {
    padding: 0;
}

.ngViewport {
    border-right: 1px solid #d4d4d4;
}

.ngHeaderText {
    font-size: 13px;
}

.ngCell, .ui-grid-cell {
    background: white;
    border-bottom: 1px solid #d4d4d4;
}

.hostCell .ngCellText {
    display: inline-block;
    padding: 0;
}

.hostCell input[type='checkbox'] {
    position: relative;
    top: -3px;
}

.hostCell .ngCellText {
    line-height: 21px;
}

.hostCell .ngCellText.host-message {
    display: block;
    width: 100%;
    padding: 4px 15px !important;
    line-height: 14px;
    background: #1EC318;
    color: black;
}

.hostCell .host-message.status-error {
    background: #FF2617;
    color: white;
}

.hostCell .host-message.status-warning {
    background: #EEF978;
}

.hostCell .host-message.status-pending {
    background: blue;
    color: white;
}

.hostCell .host-message.status-unknown {
    background: black;
    color: white;
}

.statusCell {
    padding: 4px;
    height: 47px;
}

.statusCell .status-message {
    background: #1EC318;
    width: 20px;
    height: 20px;
    margin: 10px auto 0;
    border-radius: 10px;
}

.statusCell .status-message.status-error {
    background: #FF2617;
}

.statusCell .status-message.status-warning {
    background: #EEF978;
}

.statusCell .status-message.status-pending {
    background: blue;
}

.statusCell .status-message.status-unknown {
    background: black;
}

.timedownCell {
    text-align: center;
    font-size: 10px;
}

.timedownCell .timedown-message {
    font-size: 14px;
}

.maintenanceCell {
    text-align: center;
    font-size: 12px;
}

.maintenanceCell.maintenanceCellPending {
    background-color: #FFFFC6;
}

.maintenanceCell.maintenanceCellActive {
    background-color: #CCFDC5;
}

.maintenanceCell.maintenanceCellNone {
    background-color: white;
}

.maintenanceCell.maintenanceCellExpired {
    background-color: #7F80F7;
    color: white;
}

.maintenanceCell .maintenance-message {
    width: 35%;
    float: left;
    line-height: 35px;
}

.maintenanceCell .maintenance-text {
    width: 65%;
    float: right;
}

.maintenanceCell .progress {
    width: 93%;
    height: 10px;
    margin-left: 3%;
}

.maintenanceCell .progress-bar-Active {
    background: #25b125;
}

.maintenanceCell .progress-bar-Pending {
    background: #428bca;
}

.maintenanceCell .progress-bar-Expired {
    background: #cece18;
}

.maintenanceCell .progress-bar-None {
    background: transparent;
}

.ackCell, .availabilityCell, .nDepHosts {
    text-align: center;
    line-height: 48px;
}

.nServicesCell {
    line-height: 48px;
    padding: 0 5px;
}

.ackCell.ack-active {
    background: lightgreen;
}

.availabilityCell.availability-danger {
    background: red;
}

.nDepHosts.affected {
    background: lightyellow;
}

.notificationsCell.notification-active .notification-block div {
    background: coral;
}

.notificationsCell.notification-active .comment-block div {
    background: lightcoral;
}

.notificationsCell .notification-block .notifications-disabled {
    background: lightgray;
}

.notificationsCell .notification-block, .notificationsCell .comment-block {
    width: 50px;
    text-align: center;
    line-height: 25px;
    float: left;
}

.notificationsCell .notification-block div {
    width: 40px;
    padding: 5px 0;
    border: 1px solid grey;
    box-shadow: 1px 1px 5px lightgrey;
    margin: 5px auto 0;
    margin-left: 25px;
}

.notificationsCell .comment-block div {
    width: 40px;
    padding: 5px 0;
    border: 1px solid grey;
    box-shadow: 1px 1px 5px lightgrey;
    border-radius: 20px;
    margin: 5px auto 0;
    margin-left: 30px;
}

#modal-title-notifications, #modal-title-comments {
    font-size: 18px;
    text-decoration: none;
}

#modal-body-notifications {
    font-size: 15px;
}

#modal-body-comments {
    font-size: 16px;
    padding: 15px 0 0 0;
}

#modal-body-comments p {
    margin: 0;
    padding: 0 15px 15px 15px;
    font-size: 15px;
}

.comment-author {
    font-weight: bold;
    color: blue;
    font-size: 15px;
}

.comment-date {
    display: block;
    font-size: 13px;
    color: grey;
}

.comment-box {
    position: relative;
    top: 3px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(100, 100, 100, 0.25);
    color: black;
    font-size: 25px;
    z-index: 1000000;
}

.relative {
    position: relative;
}

.btn-near-form {
    margin-top: 17px;
}

#nocBoardDetailHeader *, #nocBoardDetailForm * {
    font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;
}

#nocBoardDetailHeader h4 {
    font-weight: normal;
    color: #12293f;
    font-size: 8pt;
}

#nocBoardDetailForm h2 {
    color: #12293f;
    font-size: 9pt;
    font-weight: bold;
}

#nocBoardDetailForm label {
    font-size: 8pt;
}

#nocBoardDetailForm label.control-label {
    margin: 0px;
    white-space: normal;
    font-weight: normal;
    font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;
    color: #12293f;
    text-align: right;
}

#nocBoardDetailForm span.help-block {
    margin: 0px;
    white-space: normal;
    font-weight: normal;
    font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;
    color: #12293f;
    font-size: 8pt;
}