.event-container {
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
}

.event-container .event {
    /** width: 100%; */
    border-bottom: 1px solid lightgrey;
    padding: .5em;
    text-align: left;
}

.event-container .event.status-red {
    color: red;
}

.event-container .event.status-yellow {
    color: #7F6A00;
}

.event-container .event.status-blue {
    color: blue;
}

.event-container .event:last-child {
    border-bottom: 0;
}

.event-container .event.status:hover {
    background-color: #C6C6C6;
}

.event-container .event.status-red:hover {
    background-color: #FFAAAA;
}

.event-container .event.status-yellow:hover {
    background-color: #FFEFA0;
}

.event-container .event.status-blue:hover {
    background-color: #B2BDFF;
}

.event-container .count {
    float: right;
    text-align: right;
    width: 6em;
}

.event-container .count .status {
    margin-left: 1em;
    width: 2em;
    display: inline-block;
}

.event-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.event-list:after {
    clear: both;
}

#eventhover {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em;
    background: white;
    border: 1px solid lightgrey;
    width: 300px;
    min-height: 100px;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    z-index: 1;
}
