#contextmenu {
    position: absolute;
    top: 0;
    left: 0;
}

#contextmenu li, #contextmenu a {zoom:1;} /* Hacks for IE6, IE7 */
#contextmenu, #contextmenu ul
{
    width: 180px; /* Main Menu Item widths */
    border: 1px solid #ccc;
    border-top:none;
    font-size:0;
    list-style: none;
    margin: 0;
    padding: 0;
    display:block;
    z-index:9;
}
                
/* Top level menu links style
---------------------------------------*/

#contextmenu li
{
    background: #FFF;
    list-style: none; margin: 0; padding: 0;
}
#contextmenu li a
{
    font: normal 12px Arial;
    border-top: 1px solid #ccc;
    display: block;
    /*overflow: auto; force hasLayout in IE7 */
    color: black;
    text-decoration: none;
    line-height:26px;
    padding:2px 8px;
}
#contextmenu ul li a
{
    line-height:30px;
}
                
#contextmenu li a.arrow:hover
{
    background-image:url(arrowon.gif);
    background-repeat: no-repeat;
    background-position: 97% 50%;
}
        
/*Sub level menu items
---------------------------------------*/
#contextmenu li ul
{
    position: absolute;
    width: 215px; /*Sub Menu Items width */
    visibility:hidden;
}
        
#contextmenu a.arrow
{
    background-image:url(arrow.gif);
    background-repeat: no-repeat;
    background-position: 97% 50%;
}
#contextmenu li:hover, #contextmenu li.onhover
{
    background-position:0 -62px;
}
#contextmenu ul li
{
    background: rgba(255, 255, 255, 0.86);
    background-image:none;
}
#contextmenu ul li:hover, #contextmenu ul li.onhover
{
    background: #eee;
    background-image:none;
}
        
/* Holly Hack for IE \
* html #contextmenu  li
{
    float:left;
    height: 1%;
}
* html #contextmenu  li a
{
    height: 1%;
}*/
/* End */