.panel-grid {
    /*height: 500px;*/
}

.panel-grid .ngViewport {
    overflow-x: hidden;
    /*min-height: 160px;*/
}

.panel-grid .ngViewport.ng-scope{
    height: auto !important;
    overflow-y: hidden;
}

.panel-grid .ngTopPanel.ng-scope, .ngHeaderContainer{
    width: auto !important;
}
