# cacti.properties
# Properties file with Cacti-related settings.
#
# Copyright 2010-2013 GroundWork Open Source, Inc. ("GroundWork")
# All rights reserved. Use is subject to GroundWork commercial license terms.
#

# Deprecated count of instances.  Any code that depends on this value
# should be rewritten to just look directly at the sets of key=value
# parameters instead.  This will be removed in a future release.
number.cacti.instances=1

# You should be able to define whatever Cacti instance labels are most
# convenient for your environment, in the various "cacti.$label.field"
# parameter groups.  Characters in instance labels are limited to
# alphanumerics and underscore.  Any code that does not support this
# construction should be rewritten to do so.
#
# For the moment, though, you are restricted to simple numeric labels.

cacti.1.host={{ servername }}
cacti.1.port={{ proxy_port }}
cacti.1.uri=/nms-cacti/index.php
cacti.1.urlpath=/nms-cacti
cacti.1.protocol={{ protocol }}
cacti.1.dbhost={{ db_host }}
cacti.1.dbport=5432
cacti.1.dbname=cacti
cacti.1.dbuser=cactiuser
cacti.1.dbpass=cactiuser
cacti.1.dbtype=postgresql

# Sample set of labels mirroring an unqualified hostname:

# cacti.localhost.host=localhost
# cacti.localhost.port=80
# cacti.localhost.uri=/nms-cacti/index.php
# cacti.localhost.urlpath=/nms-cacti
# cacti.localhost.protocol=http
# cacti.localhost.dbhost=localhost
# cacti.localhost.dbport=5432
# cacti.localhost.dbname=cacti
# cacti.localhost.dbuser=cactiuser
# cacti.localhost.dbpass=cactiuser
# cacti.localhost.dbtype=postgresql

# Sample set of labels mirroring a fully qualified hostname:

# cacti.mymachine_mycompany_com.host=mymachine.mycompany.com
# cacti.mymachine_mycompany_com.port=80
# cacti.mymachine_mycompany_com.uri=/nms-cacti/index.php
# cacti.mymachine_mycompany_com.urlpath=/nms-cacti
# cacti.mymachine_mycompany_com.protocol=http
# cacti.mymachine_mycompany_com.dbhost=mymachine.mycompany.com
# cacti.mymachine_mycompany_com.dbport=5432
# cacti.mymachine_mycompany_com.dbname=cacti
# cacti.mymachine_mycompany_com.dbuser=cactiuser
# cacti.mymachine_mycompany_com.dbpass=cactiuser
# cacti.mymachine_mycompany_com.dbtype=postgresql
