locale=en

reports.name.xml=/usr/local/groundwork/gwreports/
#secure access is enabled property.This property should be true if secure access is enabled otherwise false
secure.access.enabled = {{ secure_enabled }}
