/*
// MonArch - Groundwork Monitor Architect
// performance.css
// Release 4.2
// August 2013
// Copyright 2007-2013 GroundWork Open Source, Inc. (GroundWork)
*/

.body {
	background-color: #f0f0f0;
	scrollbar-face-color: #dcdcdc;
	scrollbar-shadow-color: #000099;
	scrollbar-highlight-color: #dcdcdc;
	scrollbar-3dlight-color: #000099;
	scrollbar-darkshadow-color: #dcdcdc;
	scrollbar-track-color: #dcdcdc;
	scrollbar-arrow-color: #dcdcdc;
}

.smallbx {width: 10px; height: 10px; border: 1px solid #000099}

.ImageBorder {
  border: 2px solid #CCCCCC;
}
table.form {background-color: #bfbfbf;}
table.grid {background-color: #8089b9;}
td {color: #000000; font-family: verdana, helvetica, arial, sans-serif; font-size: 12px;}
tr {color: #000000; font-family: verdana, helvetica, arial, sans-serif; font-size: 12px;}
td.title {color: #000000; font-family: verdana, helvetica, arial, sans-serif; font-size: 18px; font-weight: normal; color: #FA840F;}
td.head {background-color: #444444; font-family: verdana, helvetica, arial, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFFF;}
td.topmenu {background-color: #525252; font-family: verdana, helvetica, arial, sans-serif; font-size: 12px; font-weight: normal; color: #CCCCCC;}
td.selected {background-color: #9B9B9B; font-family: verdana, helvetica, arial, sans-serif; font-size: 12px; font-weight: normal; color: #CCCCCC;}
td.subhead {background-color: #444444; font-family: verdana, helvetica, arial, sans-serif; font-size: 12px; font-weight: normal; color: #FFFFFF;}
td.top_menu_menu {border-bottom: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC; background-color: #525252; font-family: verdana, helvetica, arial, sans-serif; font-size: 12px; font-weight: normal; color: #FFFFFF;}
td.top_menu_selected {border-right: 1px solid #CCCCCC; background-color: #9B9B9B; font-family: verdana, helvetica, arial, sans-serif; font-size: 12px; font-weight: normal; color: #FFFFFF;}
td.top_menu_fill {background-color: #CCCCCC; font-family: verdana, helvetica, arial, sans-serif; font-size: 12px; font-weight: normal;}
td.orange {background-color: #fca54e; font-family: verdana, helvetica, arial, sans-serif; font-size: 12px; font-weight: normal; color: #FFFFFF;}
td.parent {background-color: #E6E6E6; font-family: verdana, helvetica, arial, sans-serif; font-size: 12px; font-weight: normal;}
td.row1 {background-color: #E6E6E6; border: 0px; font-family: verdana, helvetica, arial, sans-serif; font-size: 12px; font-weight: normal; padding-left: 6px;}
td.row2 {background-color: #CCCCCC; font-family: verdana, helvetica, arial, sans-serif; font-size: 12px; font-weight: normal;}
td.row2_column_head {background-color: #CCCCCC; font-family: verdana, helvetica, arial, sans-serif; font-size: 12px; font-weight: bold; color: #606060;}
td.row_lt {background-color: #FFFFFF; font-family: verdana, helvetica, arial, sans-serif; font-size: 12px; font-weight: normal;}
td.row_dk {background-color: #F2F2F2; font-family: verdana, helvetica, arial, sans-serif; font-size: 12px; font-weight: normal;}
td.error {background-color: #E6E6E6; font-family: verdana, helvetica, arial, sans-serif; font-size: 12px; font-weight: normal; color: #cc0000}
td.info {background-color: #dcdcdc; font-family: verdana, helvetica, arial, sans-serif; font-size: 12px; font-weight: normal; color: #003399}
td.msg {background-color: #dcdcdc; font-family: verdana, helvetica, arial, sans-serif; font-size: 12px; font-weight: normal; color: #009933}
input, textarea, select {border: 1px solid #000099; font-family: verdana, helvetica, arial, sans-serif; font-size: 12px; font-weight: normal; background-color: #FFFFFF; color: #000000;}
input.radio {border: 0px; background-color: #E6E6E6;}
input.row_lt {border: 0px; background-color: #FFFFFF;}
input.row_dk {border: 0px; background-color: #F2F2F2;}
input.checkbox {border: 0px; background-color: #E6E6E6;}
input.row1 {border: 0px; background-color: #E6E6E6;}
input.parent {border: 0px; background-color: #E6E6E6;}

td.data {background-color: #E6E6E6;}
td.data2 {border-top: 1px solid #000000; background-color: #E6E6E6;}

input.submitbutton {
border: 1px solid #FA840F;
border-radius: 2px;
padding: 0 10px;
font-family: verdana, helvetica, arial, sans-serif;
font-size: 12px;
font-weight: normal;
background-color: #FA840F;
color: #FFFFFF;
}

input.submitbutton:active {
border: 1px solid #FA840F;
border-radius: 2px;
padding: 0 10px;
font-family: verdana, helvetica, arial, sans-serif;
font-size: 12px;
font-weight: normal;
background-color: #FA840F;
color: #000000;
}

input.removebutton_lt {
border: 0px solid #000000;
border-style: solid;
border-top-width: auto;
border-right-width: auto;
border-bottom-width: auto;
border-left-width: auto;
font-family: verdana, helvetica, arial, sans-serif; font-size: 12px; font-weight: normal; background-color: #FFFFFF; color: #FA840F;
}

input.removebutton_lt:hover {
border: 0px solid #000000;
border-style: solid;
border-top-width: auto;
border-right-width: auto;
border-bottom-width: auto;
border-left-width: auto;
font-family: verdana, helvetica, arial, sans-serif; font-size: 12px; font-weight: normal; background-color: #FA840F; color: #FFFFFF; border-radius: 2px;
}

input.removebutton_dk {
border: 0px solid #000000;
border-style: solid;
border-top-width: auto;
border-right-width: auto;
border-bottom-width: auto;
border-left-width: auto;
font-family: verdana, helvetica, arial, sans-serif; font-size: 12px; font-weight: normal; background-color: #F2F2F2; color: #FA840F;
}

input.removebutton_dk:hover {
border: 0px solid #000000;
border-style: solid;
border-top-width: auto;
border-right-width: auto;
border-bottom-width: auto;
border-left-width: auto;
font-family: verdana, helvetica, arial, sans-serif; font-size: 12px; font-weight: normal; background-color: #FA840F; color: #FFFFFF; border-radius: 2px;
}

input.box {border: 0px;}

p.doc {
color: #000000;
font-family: verdana, helvetica, arial, sans-serif;
font-size: 12px;
font-weight: normal;
}

div.nicetitle {
position: absolute;
padding: 4px;
top: 0px;
left: 0px;
color: white;
font-size: 12px;
font-family: verdana, helvetica, arial, sans-serif;
width: 25em;
font-weight: normal;
background: #808080;
}
div.nicetitle p {
margin: 0; padding: 0 3px;
}
div.nicetitle p.destination {
font-size: 9px;
text-align: left;
padding-top: 3px;
}

a.top:link    {
color: #FFFFFF;
font-size: 12px;
font-family: verdana, helvetica, arial, sans-serif;
text-decoration: none;
font-weight: normal;
}
a.top:visited {
color: #FFFFFF;
font-size: 12px;
font-family: verdana, helvetica, arial, sans-serif;
text-decoration: none;
font-weight: normal;
}
a.top:active  {
color: #FFFFFF;
font-size: 12px;
font-family: verdana, helvetica, arial, sans-serif;
text-decoration: none;
font-weight: normal;
}
a.top:hover   {
color: #FFFFFF;
font-size: 12px;
font-family: verdana, helvetica, arial, sans-serif;
text-decoration: none;
font-weight: normal;
}

a.head:link    {
color: #FF9E3E;
font-size: 12px;
font-family: verdana, helvetica, arial, sans-serif;
text-decoration: none;
font-weight: normal;
}
a.head:visited {
color: #FF9E3E;
font-size: 12px;
font-family: verdana, helvetica, arial, sans-serif;
text-decoration: none;
font-weight: normal;
}
a.head:active  {
color: #FF9E3E;
font-size: 12px;
font-family: verdana, helvetica, arial, sans-serif;
text-decoration: none;
font-weight: normal;
}
a.head:hover   {
color: #FF9E3E;
font-size: 12px;
font-family: verdana, helvetica, arial, sans-serif;
text-decoration: none;
font-weight: normal;
}

a.left:link    {
color: #414141;
font-size: 12px;
font-family: verdana, helvetica, arial, sans-serif;
text-decoration: none;
font-weight: normal;
}
a.left:visited {
color: #414141;
font-size: 12px;
font-family: verdana, helvetica, arial, sans-serif;
text-decoration: none;
font-weight: normal;
}
a.left:active  {
color: #919191;
font-size: 12px;
font-family: verdana, helvetica, arial, sans-serif;
text-decoration: none;
font-weight: normal;
}
a.left:hover   {
color: #919191;
font-size: 12px;
font-family: verdana, helvetica, arial, sans-serif;
text-decoration: none;
font-weight: normal;
}

a.orange:link    {
color: #FA840F;
font-size: 12px;
font-family: verdana, helvetica, arial, sans-serif;
text-decoration: none;
font-weight: normal;
}
a.orange:visited {
color: #FA840F;
font-size: 12px;
font-family: verdana, helvetica, arial, sans-serif;
text-decoration: none;
font-weight: normal;
}
a.orange:active  {
color: #FA840F;
font-size: 12px;
font-family: verdana, helvetica, arial, sans-serif;
text-decoration: none;
font-weight: normal;
}
a.orange:hover   {
color: #FA840F;
font-size: 12px;
font-family: verdana, helvetica, arial, sans-serif;
text-decoration: none;
font-weight: normal;
}

/*Center paragraph*/
p.center {
color: #000000;
font-family: verdana, helvetica, arial, sans-serif;
font-size: 12px;
font-weight: normal;
}

h1 {
color: #FA840F;
font-family: verdana, helvetica, arial, sans-serif;
font-size: 16px;
font-weight: normal;
}

h2 {
color: #55609A;
font-family: verdana, helvetica, arial, sans-serif;
font-size: 14px;
font-weight: normal;
}

h3 {
color: #FA840F;
font-family: verdana, helvetica, arial, sans-serif;
font-size: 14px;
font-weight: 600;
}

h4 {
color: #55609A;
font-family: verdana, helvetica, arial, sans-serif;
font-size: 14px;
font-weight: normal;
}

h5 {
color: #000000;
font-family: verdana, helvetica, arial, sans-serif;
font-size: 16px;
font-style: italic;
font-weight: normal;
}

h6 {
color: #000000;
font-family: verdana, helvetica, arial, sans-serif;
font-size: 18px;
font-weight: normal;
}
