<h3 class="page-heading">Groundwork REST API Details</h3>
<div class="gf-form-group">

  <div class="gf-form">
    <span class="gf-form-label width-7">URL</span>
    <input type="text" class="gf-form-input" ng-model='ctrl.current.jsonData.url' placeholder="http://localhost" required></input>
  </div>

  <div class="gf-form-inline">

    <div class="gf-form max-width-r15">
      <span class="gf-form-label width-7">Username</span>
      <input type="text" class="gf-form-input" ng-model='ctrl.current.jsonData.username' placeholder="RESTAPIACCESS" required></input>
    </div>

    <div class="gf-form max-width-25">
      <span class="gf-form-label width-7">Password</span>
      <input type="password" class="gf-form-input" ng-model='ctrl.current.jsonData.password' placeholder="7UZZ..." required></input>
    </div>

  </div>

  <div class="gf-form max-width-95">
    <span class="gf-form-label width-67">Datasource Debug (output sent to Javascript console)</span>
    <input type="checkbox" class="gf-form-input" ng-model='ctrl.current.jsonData.gwdebug' ></input>
  </div>

  <div class="gf-form max-width-95">
    <span class="gf-form-label width-67">Persist Grafana dashboards outside of portal</span>
    <input type="checkbox" class="gf-form-input" ng-model='ctrl.current.jsonData.persist' ></input>
  </div>



</div>

