/*
Groundwork

Copyright 2007 GroundWork Open Source, Inc. ("GroundWork")
All rights reserved. Use is subject to GroundWork commercial license terms. 


groundwork.css
*/

body, table td, option, input {
	// font-family:  helvetica, verdana, arial, sans-serif;
	font-family:  sans-serif;
	font-size: 8pt;
	line-height: 1.4em;
	color: #000000;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #eeeeee;
}

A:link {
	color: #55609A;
	text-decoration: none;
	font-weight: bold;
}
A:visited {
	/* color: #999999;		COMMENTED OUT, LET'S KEEP LINKS ALWAYS COLORED FOR ACTIVE */
	color: #55609a;
	text-decoration: none;
	font-weight: bold;
}
A:active {
	text-decoration: none;
}
A:hover {
	color: #fA840F;
	text-decoration: none;
	cursor: pointer;
}

/** HEADERS **/
h1 {
	color: #fa840f;
	font-size: 9pt;
	margin: 0px;
}

h2 {
	color: #000000;
	font-size: 9pt;
	margin: 25px 0px 3px;
	font-wight: bold;
}

h3 {
	margin-bottom: 0px;
}
/** END HEADERS **/


ul {
	margin-top: .5em;
}

ul, li {
	line-height: 2em;
}

input {
	margin-left: 0px;
}

input.button {
	color: #ffffff;
	background-color: #fa840f;
	font-weight: bold;
	font-size: 8pt;
	border: 1px solid #000000;
}

/** For header text above form input elements **/
.formHeader {
	font-size: 7pt;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	/* margin-top: 1em; */
	/* position: relative; */
	/* top: 1em; */
}

/** HEADER SPECIFIC CLASSES **/
.header_banner {
	background-color: #666666;
}

.header_tabs {
	padding-left: 10px;
}

.header_table {
	border-bottom: 1px solid #666666;
}

.header_menu {
	font-size: 7pt;
	letter-spacing: 1px;
	padding-left: 3px;
}

.header_menu A:link, .header_menu A:visited  {
	font-weight: normal;
	color: #55609a;
}

.header_menu A:hover {
	color: #ffffff;
}

.header_tab {
	height: 24px;
	background-color: #525252;
	border: 1px solid black;
	padding: 0px 18px;
}

.header_selectedTab {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	height: 25px;
	color: #ffffff;
	background-color: #9b9b9b;
	font-size: 10px;
	padding: 0px 9px;
}

.header_tab A:link, .header_tab A:visited {
	font-weight: normal;
	font-size: 10px;
	color: #cccccc;
}

.header_tab A:hover {
	color: #fa840f;
}

.header_TabSpacer {
	width: 1px;
	background-color: #666666;
	border: 0px;
	padding: 0px;
}

.header_menu {
	background: #9b9b9b;
	height: 20px;
}
/** END HEADER CLASSES **/

/** LOGIN SPECIFIC CLASSES **/
.login_banner {
	padding-top: 23px;
	background-color: #666666;
	padding-bottom: 13px;
	padding-left: 150px;
	padding-right: 0px;
	margin-right: 0px;
}

/* login_footer is for footer text, smaller and less distinguished. */
.login_footer {
	font-size: 7pt;
	line-height: 9pt;
	color:#999999;
}

.login_imageBanner {
	background-image: url(/monitor/images/splash_landscape.png);
	background-repeat: repeat-x;
}

.login_backImage {
	width: 100%;
	position: absolute;
	top: 77px;
	left: 0px;
}

/* This is for the mars lander footprint image */
.login_landerImage {
	position: absolute;
	top: 219px;
	left: 20px;
}

.login_headerImage {
	padding-bottom: 5px;
	padding-top: 10px;
}

.login_logoImage {
	position: absolute;
	top: 87px;
	left: 581px;
}

.login_textImage {
	position: absolute;
	top: 158px;
	left: 670px;
}

/* For bold header in footer text */
.login_footerHeader {
	font-weight: bold;
}
.login_footer A:link {color:#999999; text-decoration:none;}
.login_footer A:visited {color:#999999; text-decoration:none}
.login_footer A:active {text-decoration:none}
.login_footer A:hover {color:#FA840F; text-decoration:none; cursor: pointer;}

/** END LOGIN SPECIFIC CLASSES **/

/** TOOLTIP SPECIFIC CLASSES **/
/* Nicetitle Style */
div.niceTitle
{
	background-color: #333333;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 13px;
	font-family: sans-serif;
	width: 250px;
	left: 0;
	top: 0;
	padding: 4px;
	position: absolute;
	text-align: left;
	z-index: 20;
	-moz-border-radius: 10px 10px 10px 10px;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=87);
	-moz-opacity: .92;
	-khtml-opacity: .92;
	opacity: .87;
}

div.niceTitle .caption {
	color: #fa840f;
}

div.niceTitle .contents
{
	color: #ffffff;
	margin: 0;
	padding: 0 3px;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
div.niceTitle p
{
	color: #D17E62;
	font-size: 9px;
	padding: 3px 0 0 0;
	margin: 0;
	text-align: left;
	-moz-opacity: 1;
}
/** END TOOLTIPS **/

/** SIDENAV CLASSES **/
.sidenav_Text {
	font-size: 10px;
}

.sidenav_Text A {
	font-weight: normal;
	position: relative;
	top: -3px;
}

.sidenav_vdotted {
	background-image: url(/monitor/images/menu/vline.gif);
	background-repeat: repeat-y;
}

.sidenav_vdotted-norepeat {
	background-image: url(/monitor/images/menu/corner.gif);
	background-repeat: no-repeat;
}
/** END SIDENAV CLASSES **/

/** WINDOW CLASSES **/
table.window td {
	border: 1px solid grey;
	font-size: 8pt;
}

.windowHeader {
	padding-left: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 5px;
	background-color: #55609A;
	font-size: 20pt;
	color: #FFFFFF;
}


.windowCapsule {
	padding-left: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 5px;
	background-color: #55609A;
	font-size: 20pt;
	color: #FFFFFF;
}

table.windowContent td {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 5px;
	border-width: 0px;
}

.componentTitlebar {
	background-color: #dbdbda;
	font-size: 8pt;
	/** height: 30px; **/
}

.titlebar {
	font-size: 8pt;
	color: #333333; 
}

tr.componentTitlebar td {
	padding: 0px;
}

table.componentHeader td {
	border-width: 0px;
	padding: 0px;
	color: #ffffff;
}

table.containerHeader td {
	border-width: 0px;
	padding: 0px;
	color: #ffffff;
}

.containerTitlebar { 
	background-color: #55609A;
	font-size: 8pt;
	/** height: 30px; **/
}

tr.containerTitlebar {
	padding: 0px;
}

/** END WINDOW CLASSES **/

/** BEGIN LIST CLASSES **/
tr.altTop td {
	border-bottom: 1px solid #aaaaaa;
}

tr.altRow1 td {
	background-color: #cccccc;
	border-bottom: 1px solid #aaaaaa;
	padding: 0px 0px 0px 0px;
}

tr.altRow2 td {
	background-color: #f0f0f0;
	border-bottom: 1px solid #aaaaaa;
	padding: 0px 0px 0px 0px;
}
/** END LIST CLASSES **/

/** BEGIN ERROR CLASSES **/
.error_msg {
	font-size: 9pt;
	font-weight: bold;
	color: #fa840f;
}
