 /*
Groundwork

Copyright 2007 GroundWork Open Source, Inc. ("GroundWork")
All rights reserved. Use is subject to GroundWork commercial license terms. 



groundwork.css
*/

body, table td, option, input, select, textarea {
	// font-family:  helvetica, verdana, arial, sans-serif;
	font-family:  sans-serif;
	font-size: 8pt;
	line-height: 1.5em;
	color: #333333;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
}

.dojoDialog {
	background : #ffffff;
	border : 1px solid #999;
	-moz-border-radius : 5px;
	padding : 4px;
}

html, body{	
	width: 100%;	/* make the body expand to fill the visible window */
	height: 100%;
	overflow: auto;	/* erase window level scrollbars */
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

A:link {
	color: #55609A;
	text-decoration: none;
	font-weight: bold;
}
A:visited {
	/* color: #999999;		COMMENTED OUT, LET'S KEEP LINKS ALWAYS COLORED FOR ACTIVE */
	color: #55609a;
	text-decoration: none;
	font-weight: bold;
}
A:active {
	text-decoration: none;
}
A:hover {
	color: #fA840F;
	text-decoration: none;
	cursor: pointer;
}

/** HEADERS **/
h1 {letter-spacing:1px;
	color: #fa840f;
	font-size: 9pt;
	margin: 0px;
}

/** for added top and bottom spacing for H1 headings **/
h1.wMargins {
	margin-top:20px; 
	margin-bottom:3px;
	text-transform:uppercase;
}

h1.wMargins_belowChapter {
	margin-top:0px; 
	margin-bottom:3px;
	text-transform:uppercase;
}

h2 {
	color: #000000;
	font-size: 9pt;
	margin: 25px 0px 3px;
	font-weight: bold;
}

h2.smMargin {
	color: #000000;
	font-size: 9pt;
	margin: 15px 0px 3px;
	font-weight: bold;
}

h3 {
	margin-bottom: 0px;
}


h4 {
	color:#000000; 
	font-size:9pt; 
	margin:15px 0px 3px; 
	font-style:italic; 
	font-weight:normal;
}

.chapter {
	letter-spacing:1px;
	font-style:bold; 
	font-size:12pt; 
	font-weight:bold; 
	color:#000000; 
	margin-top:20px
}

/** END HEADERS **/


ul {
	margin-top: .5em;
}

ul, li {
	line-height: 2em;
}

/** bulleted lists with arrows icons **/
.level01 {
	list-style-image:url(../images/bullet01.gif);	list-style-type:none;	
	margin-top:0px;
	margin-left:2em;	
	margin-bottom: 0.5em;	
}

.level02 {
	list-style-image:url(../images/bullet02.gif);	
	list-style-type:none;	
	margin-top:0.5em;
	margin-left:2em;
	margin-bottom:0.5em;	
}

.level03 {
	list-style-image:none;	
	list-style-type:circle;	
	margin-top:0.5em;
	margin-left:3em;
	margin-bottom:0.5em;	
}

/** end bulleted lists with arrows icons **/


input {
	margin-left: 0px;
}

input.button {
	color: #ffffff;
	background-color: #fa840f;
	font-weight: bold;
	font-size: .9em;
	border: 1px solid #999999;
	height: 20px;
	padding: 3px 10px 5px;
}

/** For header text above form input elements **/
.formHeader {
	font-size: 7pt;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	/* margin-top: 1em; */
	/* position: relative; */
	/* top: 1em; */
}

/** HEADER SPECIFIC CLASSES **/
.header_banner {
	background-color: #666666;
}

.header_tabs {
	padding-left: 10px;
}

.header_table {
	border-bottom: 1px solid #666666;
}

.header_menu {
	font-size: 7pt;
	letter-spacing: 1px;
	padding-left: 3px;
}

.header_menu A:link, .header_menu A:visited  {
	font-weight: normal;
	color: #ffffff;
}

.header_menu A:hover {
	color: #333333;
}

.header_tab {
	height: 24px;
	background-color: #525252;
	border: 1px solid black;
	padding: 0px 18px;
}

.header_selectedTab {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	height: 25px;
	color: #ffffff;
	background-color: #9b9b9b;
	font-size: 10px;
	padding: 0px 9px;
}

.header_tab A:link, .header_tab A:visited {
	font-weight: normal;
	font-size: 10px;
	color: #cccccc;
}

.header_tab A:hover {
	color: #fa840f;
}

.header_TabSpacer {
	width: 1px;
	background-color: #666666;
	border: 0px;
	padding: 0px;
}

.header_menu {
	background: #9b9b9b;
	height: 20px;
}
/** END HEADER CLASSES **/

/** LOGIN SPECIFIC CLASSES **/
.login_banner {
	padding-top: 23px;
	background-color: #666666;
	padding-bottom: 13px;
	padding-left: 150px;
	padding-right: 0px;
	margin-right: 0px;
}

/* login_footer is for footer text, smaller and less distinguished. */
.login_footer {
	font-size: 7pt;
	line-height: 9pt;
	color:#999999;
}

.login_imageBanner {
	background-image: url(/monitor/images/splash_landscape.png);
	background-repeat: repeat-x;
}

.login_backImage {
	width: 100%;
	position: absolute;
	top: 77px;
	left: 0px;
}

/* This is for the mars lander footprint image */
.login_landerImage {
	position: absolute;
	top: 219px;
	left: 20px;
}

.login_headerImage {
	padding-bottom: 5px;
	padding-top: 10px;
}

.login_logoImage {
	position: absolute;
	top: 87px;
	left: 581px;
}

.login_textImage {
	position: absolute;
	top: 158px;
	left: 670px;
}

/* For bold header in footer text */
.login_footerHeader {
	font-weight: bold;
}
.login_footer A:link {color:#999999; text-decoration:none;}
.login_footer A:visited {color:#999999; text-decoration:none}
.login_footer A:active {text-decoration:none}
.login_footer A:hover {color:#FA840F; text-decoration:none; cursor: pointer;}

/** END LOGIN SPECIFIC CLASSES **/

/** TOOLTIP SPECIFIC CLASSES **/
/* Nicetitle Style */
div.niceTitle
{
	background-color: #333333;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 13px;
	font-family: sans-serif;
	width: 250px;
	left: 0;
	top: 0;
	padding: 4px;
	position: absolute;
	text-align: left;
	z-index: 20;
	-moz-border-radius: 10px 10px 10px 10px;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=87);
	-moz-opacity: .92;
	-khtml-opacity: .92;
	opacity: .87;
}

div.niceTitle .caption {
	color: #fa840f;
}

div.niceTitle .contents
{
	color: #ffffff;
	margin: 0;
	padding: 0 3px;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
div.niceTitle p
{
	color: #D17E62;
	font-size: 9px;
	padding: 3px 0 0 0;
	margin: 0;
	text-align: left;
	-moz-opacity: 1;
}
/** END TOOLTIPS **/

/** SIDENAV CLASSES **/
.sidenav_Text {
	font-size: 10px;
}

.sidenav_Text A {
	font-weight: normal;
	position: relative;
	top: -3px;
}

.sidenav_vdotted {
	background-image: url(/guava/images/menu/vline.gif);
	background-repeat: repeat-y;
}

.sidenav_vdotted-norepeat {
	background-image: url(/guava/images/menu/corner.gif);
	background-repeat: no-repeat;
}
/** END SIDENAV CLASSES **/

/** WINDOW CLASSES **/

table.window {
	margin-top:10px;
}

table.window td {
	border: 1px solid #999999;
	font-size: 8pt;
}

.windowHeader {
	padding-left: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 5px;
	background-color: #55609A;
	color: #ffffff;
}

.windowHeader_wMargin {
	margin-top: 100px;
	padding-left: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 5px;
	background-color: #55609A;
	color: #ffffff;
}

table.windowContent td {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 5px;
	border-width: 0px;
}

.componentTitlebar {
	background-color: #dbdbda;
	font-size: 8pt;
	/** height: 30px; **/
}

.titlebar {
	font-size: 8pt;
	color: #333333; 
}

tr.componentTitlebar td {
	padding: 0px;
}

table.componentHeader td {
	border-width: 0px;
	padding: 0px;
	color: #ffffff;
}

table.containerHeader td {
	border-width: 0px;
	padding: 0px;
	color: #ffffff;
}

.containerTitlebar { 
	background-color: #55609A;
	font-size: 8pt;
	/** height: 30px; **/
}

tr.containerTitlebar {
	padding: 0px;
}

/** END WINDOW CLASSES **/

/** BEGIN LIST CLASSES **/
tr.altTop td {
	border-bottom: 1px solid #aaaaaa;
}

tr.altRow1 td {
	background-color: #cccccc;
	border-bottom: 1px solid #aaaaaa;
	padding: 0px 0px 0px 0px;
}

tr.altRow2 td {
	background-color: #f0f0f0;
	border-bottom: 1px solid #aaaaaa;
	padding: 0px 0px 0px 0px;
}
	
td.row1 {
	background-color:#A0A0A0; 
	color:#ffffff; 
	font-weight:bold; 
	padding-left:10px
}

td.row2 {
	background-color:#CCCCCC; 
	color:#000000; 
	padding-left:10px
	}
/** END LIST CLASSES **/

/** BEGIN ERROR CLASSES **/
.error_msg {
	font-size: 9pt;
	font-weight: bold;
	color: #fa840f;
}

/** END ERROR CLASSES **/


/** BEGIN CONSOLE CLASSES **/
tr.console_top td {
	border-bottom: 1px solid #dddddd;
	padding: 0px 0px 0px 0px;
}

tr.console_critical td {
	background:#E8835F;
	border-bottom: 1px solid #aaaaaa;
	padding: 0px 0px 0px 0px;
}

tr.console_warning td {
	background-color:#EAF090;
	border-bottom: 1px solid #aaaaaa;
	padding: 0px 0px 0px 0px;
}
	
tr.console_ok td {
	background:#93C97C;
	border-bottom: 1px solid #aaaaaa;
	padding: 0px 0px 0px 0px;
}

tr.console_unknown td {
	background:#cccccc;
	border-bottom: 1px solid #aaaaaa;
	padding: 0px 0px 0px 0px;
}
	
/** END CONSOLE CLASSES **/


/** BEGIN BOOKSHELF CLASSES **/

/** for constraining the width of document/encompassing table **/
table.main {
	width:780px;
	margin-left:10px;
}

td.bookshelf_textBg {
	background:#eeeeee;
	padding:10px 40px 5px 15px;}

.bookshelfpre {
	font-family:verdana, helvetica, arial, "sans-serif"; 	
	color:#339900; 
	margin:1em 3em; 
	font-weight:normal
}

.bookshelfcode { 		
	font-family:verdana, helvetica, arial, "sans-serif"; 
	color:#339900; 
	font-weight:normal
}

.bookshelf_screenshot {
	margin: 10px 0px 5px 38px;
	
}


/** END BOOKSHELF CLASSES **/



/** START TACTICAL OVERVIEW CLASSES **/
.tactical_column01 {width:100px}
.tactical_header {font-weight:bold;}
.tactical_down, .tactical_critical {width:45px; text-aling:center; background-color:#EB6232;}
.tactical_unreach {width:45px; text-aling:center; background-color:#FA840F;}
.tactical_pending {width:45px; background-color:#cccccc;}
.tactical_up, .tactical_ok {width:45px; background-color:#9ec56e;}
.tactical_disabled {width:45px; background-color:#999999;}
		
.tactical_warning {width:45px; background-color:#E0EA44;}
.tactical_unknown {width:45px; background-color:#F3B50F;}
		
.tactical_unack {width:45px; background-color:#ffffff;}
.tactical_schedDown {width:45px; background-color:#ffffff;}
.tactical_total {width:45px; background-color:#8DD9E0;}
		
.tactical_notif {width:45px; background-color:#9BAEFF;}
.tactical_event {width:45px; background-color:#8DD9E0;}
.tactical_active {width:45px; background-color:#E6E6E6;}
.tactical_passive {width:45px; background-color:#cccccc;}
.tactical_disabledRed {color: #cc0000;}
A:link .tactical_disabledRed {color: #cc0000;}
A:hover .tactical_disabledRed {color: #fA840F;}		
/** ENDTACTICAL OVERVIEW CLASSES **/


/* first or middle sibling, no children */
.guavatvtn {
	width:16px; height:22px; 
	background: url(/guava/images/menu/tn.gif) 0 0 no-repeat; 
}

/* first or middle sibling, collapsable */
.guavatvtm {
	width:16px; height:22px; 
	cursor:pointer ;
	background: url(/guava/images/menu/tm.gif) 0 0 no-repeat; 
}

/* first or middle sibling, collapsable, hover */
.guavatvtmh {
	width:16px; height:22px; 
	cursor:pointer ;
	background: url(/guava/images/menu/tmh.gif) 0 0 no-repeat; 
}

/* first or middle sibling, expandable */
.guavatvtp {
	width:16px; height:22px; 
	cursor:pointer ;
	background: url(/guava/images/menu/tp.gif) 0 0 no-repeat; 
}

/* first or middle sibling, expandable, hover */
.guavatvtph {
	width:16px; height:22px; 
	cursor:pointer ;
	background: url(/guava/images/menu/tph.gif) 0 0 no-repeat; 
}

/* last sibling, no children */
.guavatvln {
	width:16px; height:22px; 
	background: url(/guava/images/menu/ln.gif) 0 0 no-repeat; 
}

/* Last sibling, collapsable */
.guavatvlm {
	width:16px; height:22px; 
	cursor:pointer ;
	background: url(/guava/images/menu/lm.gif) 0 0 no-repeat; 
}

/* Last sibling, collapsable, hover */
.guavatvlmh {
	width:16px; height:22px; 
	cursor:pointer ;
	background: url(/guava/images/menu/lmh.gif) 0 0 no-repeat; 
}

/* Last sibling, expandable */
.guavatvlp { 
	width:16px; height:22px; 
	cursor:pointer ;
	background: url(/guava/images/menu/lp.gif) 0 0 no-repeat; 
}

/* Last sibling, expandable, hover */
.guavatvlph { 
	width:17px; height:22px; cursor:pointer ;
	background: url(/guava/images/menu/lph.gif) 0 0 no-repeat; 
}

/* Loading icon */
.guavatvloading { 
	width:16px; height:22px; 
	background: url(/guava/images/menu/loading.gif) 0 0 no-repeat; 
}

/* the style for the empty cells that are used for rendering the depth 
 * of the node */
.guavatvdepthcell { 
	width:16px; height:22px; 
	background: url(/guava/images/menu/vline.gif) 0 0 no-repeat; 
}

.guavatvblankdepthcell { width:16px; height:22px; }

/* the style of the div around each node */
.guavatvitem { }  

/* the style of the div around each node's collection of children */
.guavatvchildren { }  
* html .guavatvchildren { height:2%; }  

/* the style of the text label in guavaTextNode */
.guavatvlabel, .guavatvlabel:link, .guavatvlabel:visited, .guavatvlabel:hover { 
	margin-left:2px;
	text-decoration: none;
}


/** REDESIGNED MONITOR PROFESSIONAL LOGIN PAGE **/
body#login {
	font: 10px verdana, arial, helvetica, sans-serif;	text-align: center; /* for IE */
	background:#999999; 
	margin:0px;
	line-height: 1.5em;
	height: 70em;
	}
		
body#login img {
	border:0px; 
	margin:0px;
	padding:0px;
	}
	


body#login input.button {
	margin-top:.6em;

	}

body#login input.text {
	border:1px solid #cccccc;
	height: 20px;
	width: 185px;
	font-size: 10px;
	margin-bottom: .2em;
}


.mainImage {
	width:846px; 
	margin: 0 auto; 
	padding:0px;
	}
		
img.logo {
	position:relative; 
	top:-224px; 
	left:313px;
	}
	
img.loginPanel {
	position:relative; 
	top:-155px; 
	left:630px; 
	opacity:0.8;
	}
	
img.loginTop {
	position:relative; 
	top:-359px; 
	left:419px; 
	}
	
span.loginPanel {
	display: block;
	position:relative; 
	top:-381px; 
	left:640px; 
	line-height:1.7em;
	}
	
span.loginPanel span.heading {
	font-weight:bold; 
	display:block; 
	margin-bottom:1.5em;
	}
	
span.loginPanel span.note {
	font-size:0.9em; 
	color:#666666; 
	display:block; 
	width:19em;
	}
	
span.loginPanel input.button {
	margin-bottom:1.7em;
}
	
		
.login_content {
	background:#EFEEEE;
	width:846px;
	height: 35.5em; 
	margin: 0 auto;
	position:relative; 
	top:-37px;
	text-align:left;
	z-index: 40;
	}
	
.login_content span.mainText {
	display: block;
	width: 560px;
	position: relative;
	top: -440px;
	left: 30px;
	color: #444444;
	z-index: 30;
}

span.mainText h1 {
	color: #fa840f;
	font-size: 1.2em;
	margin: 1.5em 0px .2em 0px;
	letter-spacing: 0px;
}

.contact {
	background:#efeeee;
	width:846px;
	margin: 0 auto;
	position:relative; 
	top:-100px;
	text-align: right;
	font-size: .9em;
	color: #888888;
	line-height: 1.5em;
	border-top: 1px dashed #999999;
	z-index: 50;
	}
	
	
.contact ul {
	margin: 0;	padding: 0;	cursor: default;	list-style-type: none;	display: inline;
	width: 846px;
	position: relative;
	top: 8px;
	right: 8px;
}


.contact ul>li

{	display: table-cell;	position: relative;	padding: 0px 6px 10px 3em;
	line-height: 1.5em;
}

.contact ul>li A:link {
	color: #888888;
	text-decoration: none;
	font-weight: normal;
}

.contact ul>li A:visited {
	color: #888888;
	text-decoration: none;
	font-weight: normal;
}

.contact ul>li A:active {
	text-decoration: none;
}

.contact ul>li A:hover {
	color: #fA840F;
	text-decoration: none;
	cursor: pointer;
}	
/** END REDESIGNED MONITOR PROFESSIONAL LOGIN PAGE **/

/** GUAVA LOGIN PAGE **/
div#guava-default_login {
	font: 10px verdana, arial, helvetica, sans-serif;	text-align: center; /* for IE */
	background:#999999; 
	margin:0px;
	line-height: 1.5em;
	z-index: 100;
	}
		
div#guava-default_login img {
	border:0px; 
	margin:0px;
	padding:0px;
	}
	
div#guava-default_login input.button {
	margin-top:.6em;

	}

div#guava-default_login input.text {
	border:1px solid #cccccc;
	height: 20px;
	width: 185px;
	font-size: 10px;
	margin-bottom: .2em;
}

.guava-default_mainImage {
	width:856px;
	height: 558px; 
	margin: 0 auto; 
	padding:0px;
	background-image: url('images/guava_bg.gif');
	background-position: -373px -355px;
	}
		
img.guava-default_logo {
	position:relative; 
	top:10px; 
	left:250px;
	clear: both;
	}
	

/** Login Panel **/
div.guava-default_loginPanel {
	
	width:826px;
	height: 35.5em; 
	margin: 0 auto;
	position:relative; 
	top:-477px;
	text-align:left;
	z-index: 40;
	}
	
img.guava-default_loginPanelBg {
	opacity:.7;

}
	
div.guava-default_loginPanel span.heading {
	font-weight:bold; 
	display:block; 
	margin-bottom:1.5em;
	
	}
	
div.guava-default_loginPanel span.fields {
	display: block;
	margin: 0px 0px 1.7em 1em;
	position: relative;
	top: -225px;
	width:180px;
	
}
	
span.fields blockquote {
	font-size:0.9em; 
	color:#666666; 
	display:block; 
	width:180px;
	margin: 25px 0px 0px 0px;
	}
	
span.guava-default_loginPanel input.button {
	margin-bottom:1.7em;
}
	
.guava-default_loginPanel span.mainText {
	display: block;
	width: 550px;
	position: relative;
	top: -452px;
	left: 225px;
	color: #444444;
	z-index: 30;
	line-height: 1.7em;
}

/* main text */
span.mainText h1 {
	color: #333333;
	font-size: 1.2em;
	margin: 1.5em 0px .2em 0px;
	letter-spacing: 0px;
}

span.mainText A:link {
	color: #fA840F;
	text-decoration: none;
	font-weight: bold;
}
span.mainText A:visited {
	color: #55609a;
	text-decoration: none;
	font-weight: bold;
}
span.mainText A:active {
	text-decoration: none;
}

span.mainText A:hover {
	color: #55609A;
	text-decoration: underline;
	cursor: pointer;
}
/* end main text */

/* contact info */
.guava-default_contact {
	color: #666666;
	width:846px;
	margin: 0 auto;
	position:relative; 
	top:-425px;
	text-align: right;
	font-size: .9em;
	line-height: 1.5em;
	border-top: 1px dashed #999999;
	z-index: 50;
	}
	
	
.guava-default_contact ul {
	margin: 0;	padding: 0;	cursor: default;	list-style-type: none;	display: inline;
	width: 846px;
	position: relative;
	top: 8px;
	right: 8px;
}


.guava-default_contact ul>li

{	display: table-cell;	position: relative;	padding: 0px 6px 10px 3em;
	line-height: 1.5em;
}

.guava-default_contact ul>li A:link {
	color: #55609A;
	text-decoration: none;
	font-weight: normal;
}

.guava-default_contact ul>li A:visited {
	color: #55609A;
	text-decoration: none;
	font-weight: normal;
}

.guava-default_contact ul>li A:active {
	text-decoration: none;
	font-weight: normal;
}

.guava-default_contact ul>li A:hover {
	color: #fA840F;
	text-decoration: none;
	cursor: pointer;
	font-weight: normal;
}	
	

/* end contact info */	
/** END GUAVA LOGIN PAGE **/
	
	
	
/* GUAVA WRAPPIT */
table#wrappit {
	text-align: center;
	width: 700px;
	margin: 0px 0px 20px 0px;
}

table#wrappit td {
	text-align: left;
	padding: 5px;
}

table#wrappit td.formName {
	font-weight: bold;
	font-size: 10px;
	color: #0081C4;
	white-space: nowrap;
	text-align: right;
}

table#wrappit td.sectionName {
	font-weight: bold;
	font-size: 12px;
	color: #333333;
	white-space: nowrap;
	text-align: right;
	padding: 10px 0px 0px;
}

.smInputText {
	width: 253px;
	height: 20px;
	border: 1px solid #0081C4;
}

.lgInputText {
	width: 480px;
	height: 20px;
	border: 1px solid #0081C4;
}

table#wrappit td.note, table#wrappit td.noteDown {
	font-size: 10px;
	line-height: 1.5em;
	color: #999999;
	padding: 0px 40px 10px 5px;
}

table#wrappit td.noteDown {
	padding: 10px 30px 20px 5px;
}

table#wrappit td.column01 {
	width: 160px;
}

table#wrappit td.column02 {
	text-align: left;
}

table#wrappit input.button {
	line-height: 5em;
	font-size: 10px;
	padding: 3px 15px 5px;
	margin: 8px 0px 0px;
}

table#wrappit tr.subColumns td{
	padding: 5px 0px 0px 5px;
}

td.subColumn01 {
	width: 200px;
	padding: 0px;
	font-weight: bold;
}

td.subColumn02 {
	padding: 0px;
	font-weight: bold;
}

table#wrappit .checkbox {
	position: relative;
	top: 3px;	
}

table#wrappit p {
	margin: 8px 0px;
}

/* end GUAVA WRAPPIT */


/* LOG REPORTING */

body#logReports {
	background: #eeeeee;
	height: 100%;
	overflow: auto;
}

table#logReporting {
	border: 1px solid #0081C4;
	margin: 10px 40px;
}

table#logReporting td {
	padding: 3px;
	background: #ffffff;
}

table#logReporting td.windowHeader {
	background: #55609A;
	color: #ffffff;
}

table#logReporting input.text,
table#logReporting input.textMed,
table#logReporting textarea {
	width: 350px;
	height: 15px;
	border: 1px solid #cccccc;
	padding: 5px 0px 0px 3px;
}

table#logReporting input.textMed {
	width: 200px;
}

table#logReporting textarea {
	height: 100px;
}

table#logReporting tr.top td {
	padding-top: 12px;
}

table#logReporting td.columnLeft {
	padding-left: 10px;
}

table#logReporting td.columnRight {
	padding-right: 10px;
}

table#logReporting td.column01,
table#logReporting td.column01Half {
	width: 200px;
	padding-left: 10px;
}

table#logReporting td.column01Half, 
table#logReporting td.column02Half,
table#logReporting td.column03Half {
	width: 130px;
	padding-right: 0px;
	vertical-align: top;
}

table#logReporting td.column01Narrow {
	width: 90px;
	padding-left: 10px;
	text-align: right;
}

table#logReporting td.column03Half {
	padding-right: 10px;
	padding-left: 7px;
}

table#logReporting td.column03Half input.text {
	width: 220px;
	height: 15px;
	border: 1px solid #cccccc;
	padding: 5px 0px 0px 3px;
}

table#logReporting td.column02 input.text {
	width: 309px;
}

td.column03 {
	vertical-align: top;
}

table#logReporting td.column01Half textarea,
table#logReporting td.column02Half textarea {
	width: 171px;
	height: 100px;
}

table#logReporting td.column02, td.column02Bottom {
	width: 50px;
	padding-right: 10px;
}

table#logReporting tr.bottom td.column02Bottom {
	vertical-align: bottom;
	padding-bottom: 13px;
}

table#logReporting tr.bottom td {
	padding-bottom: 10px;
}

tr.valignTop td {
	vertical-align: top;
}

table#logReporting .textareaMed {
	width: 60px;
	height: 80px;
}

table#logReporting td.componentButtons {
	vertical-align: middle;
}

h3.logReports {
	margin: 40px 0px 0px 40px;
}

.error_msg {
	display: block;
	margin:0px 0px 0px 40px;
}

input.screen {
	margin: 0px 0px 0px 40px;
}
/* end LOG REPORTING */









	
	
	
	
	
	
