/* CSS Document */
/************************************************** Custom Styles for portlets **************************************************/
.portlet-filter-button {
   font-size: 10px;
   font-weight: bold;
   color: #000000;
   background-color: #ff9933;
   border-top: 1px solid #ac5501;
   border-left: 1px solid #ac5501;
   border-bottom: 1px solid #ac5501;
   border-right: 1px solid #ac5501;
   height:22px;
}

.portlet_margin
{
}

/************* Performance portlet Orange table classes *************************************/

.orange-top-left {
   background-image: url( images/orange_sq_TL.gif);
   background-repeat: no-repeat;
   width: 5px;
   height: 5px;
   min-width: 5px;
   background-position:right bottom;
}

.orange-top-center {
   background-image: url( images/orange_sq_TM.gif);
   background-repeat: repeat-x;
   height: 5px;
   background-position: bottom;
   position:relative;
}

.orange-top-right {
   background-image: url( images/orange_sq_TR.gif );
   background-repeat: no-repeat;
   width: 5px;
   height: 5px;
   min-width: 5px;
   background-position: bottom left;
}

.orange-content-left {
   background-image: url( images/orange_sq_LM.gif );
   background-repeat: repeat-y;
   background-position:right;	
   width: 5px;
   min-width: 5px;
   /*
      width:20px;
      background-color:#FFFFFF;
      border-left: 1px solid #dfe8ed;
   */
}

.orange-content-center {
   vertical-align: top;
   padding: 0;
   margin: 0;
}

.orange-body {
   background-color: #ff9933;
   padding: 0;
   margin: 0;
   vertica	l-align:top;
   text-align:center;
}

.orange-content-right {
   background-image: url( images/orange_sq_RM.gif);
   height: 100%;
   background-repeat: repeat-y;
   background-position: left;
   width: 5px;
   min-width: 5px;
   padding: 0;
   margin: 0;
   /*
      width:5px;
      background-color:#FFFFFF;
      border-right: 1px solid #dfe8ed;
   */
}

.orange-footer-left {
   background-image: url( images/orange_sq_BL.gif);
   width: 5px;
   height: 5px;
   background-repeat: no-repeat;
   background-position: top right;
   min-width: 5px;
   padding: 0;
   margin: 0;
   /*
   background-color:#FFFFFF;
   border-bottom: 1px solid #98b7c6;
   border-left: 1px solid #dfe8ed;
   height:5px;
   */
}

.orange-footer-center {
   background-image: url( images/orange_sq_BM.gif);
   height: 5px;
   background-repeat: repeat-x;
   /*	background-color:#FFFFFF;
      border-bottom: 1px solid #98b7c6;
      height:5px;
   */
}

.orange-footer-right {
   background-image: url( images/orange_sq_BR.gif);
   width: 5px;
   height: 5px;
   background-repeat: no-repeat;
   min-width: 5px;
   /*
      background-color:#FFFFFF;
      border-bottom: 1px solid #98b7c6;
      border-right: 1px solid #dfe8ed;
      height:5px;
   */
}

/************* Performance portlet Lit Orange table classes *************************************/

.orange-top-left-L{
   background-image: url( images/orange2_sq_TL.gif);
   background-repeat: no-repeat;
   width: 5px;
   height: 5px;
   min-width: 5px;
   background-position:right bottom;
}

.orange-top-center-L {
   background-image: url( images/orange2_sq_TM.gif);
   background-repeat: repeat-x;
   height: 5px;
   background-position: bottom;
   position:relative;
}

.orange-top-right-L {
   background-image: url( images/orange2_sq_TR.gif );
   background-repeat: no-repeat;
   width: 5px;
   height: 5px;
   min-width: 5px;
   background-position: bottom left;
}

.orange-content-left-L {
   background-image: url( images/orange2_sq_LM.gif );
   background-repeat: repeat-y;
   background-position:right;	
   width: 5px;
   min-width: 5px;
   /*
      width:20px;
      background-color:#FFFFFF;
      border-left: 1px solid #dfe8ed;
   */
}

.orange-content-center-L {
   vertical-align: top;
   padding: 0;
   margin: 0;
}

.orange-body-L {
   background-color: #fbc18d;

   padding: 0;
   margin: 0;
   vertical-align:top;
}

.orange-content-right-L {
   background-image: url( images/orange2_sq_RM.gif);
   height: 100%;
   background-repeat: repeat-y;
   background-position: left;
   width: 5px;
   min-width: 5px;
   padding: 0;
   margin: 0;
   /*
      width:5px;
      background-color:#FFFFFF;
      border-right: 1px solid #dfe8ed;
   */
}

.orange-footer-left-L {
   background-image: url( images/orange2_sq_BL.gif);
   width: 5px;
   height: 5px;
   background-repeat: no-repeat;
   background-position: top right;
   min-width: 5px;
   padding: 0;
   margin: 0;
   /*
   background-color:#FFFFFF;
   border-bottom: 1px solid #98b7c6;
   border-left: 1px solid #dfe8ed;
   height:5px;
   */
}

.orange-footer-center-L {
   background-image: url( images/orange2_sq_BM.gif);
   height: 5px;
   background-repeat: repeat-x;
   /*	background-color:#FFFFFF;
      border-bottom: 1px solid #98b7c6;
      height:5px;
   */
}

.orange-footer-right-L {
   background-image: url( images/orange2	_sq_BR.gif);
   width: 5px;
   height: 5px;
   background-repeat: no-repeat;
   min-width: 5px;
   /*
      background-color:#FFFFFF;
      border-bottom: 1px solid #98b7c6;
      border-right: 1px solid #dfe8ed;
      height:5px;
   */
}

/********************************* Custom Classes Added **************************************************************/

.status_colhdr
{
text-align:right; padding-right:15px;
}

.asiceOutTxt
{
    font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
    color: #000000;
}
.allcenter
{
text-align:center;
vertical-align:middle;
}
.txtblue
{
color:#55609a;
}
.txtright
{
text-align:right;
}
.txtred
{
color:#fe351d;
}
.txtleft
{
text-align:left;
}
.txtcenter
{
text-align:center;
}
.alignVertTop
{
vertical-align:top;
}
.txtbold
{
font-weight:bold;
}
/*Solid Lines */
.borderBottom
{
border-bottom:#ebebeb 1px solid;
}
.txtnorm
{
font-weight:normal;
}
.borderTop
{
border-top:1px solid #adadad;
}

.borderLeft
{
border-Left:#bcbcbc 1px solid;
}
.borderRight
{
border-right:#000000 1px solid;
}
/*Dotted lines */
.borderBottomdot
{
border-bottom:#000000 1px dashed;
}
.borderTopdot
{
border-top:#000000 1px dotted;
}
.borderLeftdot
{
border-Left:#918f8f 1px  dashed;
}
.borderRightdot
{
border-right:#000000 1px dotted;
}
.borderBottomdot_info
{
border-bottom:#cccccc 1px dashed;
}
.div_margin
{
margin-top:2px;
margin-bottom:5px;
margin-right:2px;
margin-left:2px;
padding-bottom:5px;
float:left;
}

.title_bold18 {
font-family:Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
}
.title_bold13 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}
.txt_arial14 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight:normal;
}
.txt_arial12 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:normal;
}
.title_bold11 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}

.orangeTbl_midBG
{
width:84.5%;
height:61px; 
background-image:url(../../../images/health_orange_box_mid.png); 
background-repeat:repeat-x; 
float:left; 
position:relative;
text-align:center;
}
.rollupOrange_midBG
{
width:84.5%;
height:61px; 
background-image:url(../../../images/rollup_orange_mid.png); 
background-repeat:repeat-x; 

text-align:center;
vertical-align:middle;
}
.gen_div
{
float:left; position:relative;
}
.gen_div_right
{
float:right; position:relative;
}
.gen_div_left
{
float:left; position:relative;
}
.div
{
position:relative;
}
.comments_row
{
background-color:#FFFFFF; padding-bottom:10px; padding-top:10px; padding-left:10px; padding-right:10px;
}

.comments_row_alternate
{
background-color:#e3e7d6; padding-bottom:10px; padding-top:10px; padding-left:10px; padding-right:10px;
}


.comments_tabel
{
border:1px #cbcbcb solid; background-color:#cbcbcb
}
/*********************************************** Padding all side **************************************/
.padleft19
{
padding-left:19px;
}
.padleft10
{
padding-left:10px;
}
.padleft12
{
padding-left:12px;
}
.padleft9
{
padding-left:9px;
}
.padleft3
{
padding-left:3px;
}
.padleft5
{
padding-left:5px;
}
.padright15
{
padding-right:15px;
}
.padright25
{
padding-right:25px
}
.padright31
{
padding-right:31px
}
.padright5
{
padding-right:5px
}
.padright7
{
padding-right:7px
}
.padLR15
{
padding-right:15px;
padding-left:15px;
}
.padtop10
{
padding-top:10px;
}

.padtop15
{
padding-top:15px;
}
.padtop20
{
padding-top:20px;
}
.padtop4
{
padding-top:4px;
}
.padbottom10
{
padding-bottom:10px;
}
.padbottom20
{
padding-bottom:20px;
}
.padbottom4
{
padding-bottom:2px;
}
.padbottomx
{
padding-bottom:6px;
padding-top:0px;
vertical-align:top
}
.chartcaption
{
text-align: center;
font-size:9px; 
font-weight:normal;
}

.pad2552
{
padding-top:2px; padding-right:5px; padding-bottom:5px; padding-left:2px
}

.pad_rolluptop
{
padding-top:2px; padding-right:5px; padding-bottom:20px; padding-left:2px
}

.pad2952
{
}

.pad2929
{
padding-top:2px; padding-right:0px; padding-bottom:2px; padding-left:0px;
vertical-align:middle;
text-align:center;
}

.hostInfo_rel_link
{
text-decoration:underline;
color:#666699;
font-size:9px;
}

/************************************************ Data tabel type A Data Table Component classes**********************/

.iceDatTbl_typA { /* was iceDataTblOutline */ /*Point : Data Table CSS*/
   
    border: 0px solid #ABABAB;
    margin: 0px;
/*	width:100%; */
	 
}

.iceDatTbl_typA  table{
	border-collapse:collapse;
}

.filter-button {
   font-size: 12px;
   font-weight: bold;
   color: #000000;
   background-color: #ff9933;
   border-top: 1px solid #ac5501;
   border-left: 1px solid #ac5501;
   border-bottom: 1px solid #ac5501;
   border-right: 1px solid #ac5501;
   height:22px;
}
.iceDatTblColHdr_typA , .iceDatTblColHdr1_typA,.iceDatTblColGrpHdrCol_typA{ 
/* was iceTblHeader */ /*Datagrid*/
    background-color: #ffffff;
   background-image:url(css-images/Hline_status_portlet.gif);
	 /*background-image: url( "./css-images/table_col_header.gif" );*/
    background-position: bottom;
    background-repeat: repeat-x;
    font-weight:bold;
    text-align: lEFT;
    color: #FF0000;
    border-right:0px solid #CCCCCC;
    border-top: 0px solid #CCCCCC;
	border-bottom:0px solid #ebebeb;
    padding-left: 19px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 4px;
}

.iceDatTblColHdr2_typA
{ 
/* was iceTblHeader */ /*Datagrid*/
    background-color: #ffffff;
    background-image:url(css-images/Hline_status_portlet.gif);/* background-image: url( "./css-images/table_col_header.gif" );/*/
    background-position: bottom;
    background-repeat: repeat-x;
    font-weight:bold;
    text-align: right;
    color: #FF0000;
    border-right:0px solid #CCCCCC;
    border-top: 0px solid #CCCCCC;
	border-bottom:0px solid #ebebeb;
    padding-left: 19px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 4px;
}

/* .iceDatTblFooter
 { 
    background-color: #ffffff;
    background-image:url(./css-images/Hline_status_portlet.gif); background-image: url( "./css-images/table_col_header.gif" );
    background-position:top;
    background-repeat: repeat-x;
    font-weight:bold;
    text-align: left;
    color: #FF0000;
    border-right:0px solid #CCCCCC;
    border-top: 0px solid #CCCCCC;
	border-bottom:0px solid #ebebeb;
    padding-left: 19px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 0px;
}*/

.iceDatTblResHdlr_typA {
    margin:0px;; 
    padding:0px;
    border-width: 0px;
    width:2px;
    background-color:transparent;
 
}

.iceDatTblResBor_typA {
    margin:0px;; 
    padding:0px;
    background-color: #EFEFEF;
    background-position: bottom;
    background-repeat: repeat-x;
    width:2px;    
}

.iceDatTblBlkTd_typA {
    border-bottom: 1px solid #CCCCCC;	
    background-color: #EFEFEF;   
}
	/* data tables are rendered with alternating row colors */
.iceDatTblRow1_typA { /* was iceTblRow1 */
    background-color: #FFFFFF;
}

.iceDatTblRow1_typA_Comments { /* was iceTblRow1 */
    background-color: #F2F2F2;
}

.iceDatTblRow2_typA { /* was iceTblRow2 */
    background-color: #FFFFFF;
}

/* set the common attributes for the column classes */
.iceDatTblCol_typA, .iceDatTblCol1_typA, .iceDatTblCol2_typA{
/*was column, column1, column2, column3*/ /*datagrid*/
    color: #000000;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-right: 0px solid #CCCCCC;
    border-bottom: 0px solid #CCCCCC;
	text-align:left;
	vertical-align:middle;
	
}

.iceDatTblHdr_typA{} /*was iceTblHeader */
.iceDatTblFtr_typA {
/*    background: none;
    border-top: 1px solid #CCCCCC;  */
	background-color: #ffffff;
    background-image:url(css-images/Hline_status_portlet.gif);/* background-image: url( "./css-images/table_col_header.gif" );/*/
    background-position:top;
    background-repeat: repeat-x;
    font-weight:bold;
   /* text-align: left;*/
    color: #FF0000;
    border-right:0px solid #CCCCCC;
    border-top: 0px solid #CCCCCC;
	border-bottom:0px solid #ebebeb;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 0px;
}

.iceDatTblScrlSpr_typA{ 
    background: url('css-images/table_col_header.gif') repeat-x bottom left;
    background-color: #EFEFEF;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

.iceDatTblScrlSprFtr_typA{ 
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;        
}

.iceDatTblScrlSprFtr_typA .iceDatTblFtr{ 
    border-bottom: none;     
}

.iceDatTblScrlSpr_typA .iceDatTblColHdr1, .iceDatTblScrlSpr_typA .iceDatTblColHdr2 {
    border-left-style: none;
    border-top-style: none;
	background-color:#009900;
	
}
/*
----- for datatable when cell content length exceeds-----
*/

.iceDatTbl_typA td span.iceOutTxt{
	overflow: hidden;
	display: block;
	padding: 0px;
	
	
	}

/************************************************ Data tabel type B Data Table Component classes**********************/

.iceDatTbl_typB { /* was iceDataTblOutline */ /*Point : Data Table CSS*/
    margin: 0 auto;
	/*padding:10px;*/
	width:94%;
	border: 1px solid #ABABAB;
	 
}

.iceDatTbl_typB table{
	border-collapse:collapse;
}

.iceDatTblColHdr_typB , .iceDatTblColHdr1_typB, .iceDatTblColHdr2_typB, .iceDatTblColGrpHdrCol_typB, .iceDatTblFtr_typB{ 
/* was iceTblHeader */ /*Datagrid*/
    background-color: #ffffff;
    background-image: url("css-images/dt_typb_hdr_bg.gif");/* background-image: url( "./css-images/table_col_header.gif" );*/
    background-position: bottom;
    background-repeat: repeat-x;
    font-weight:bold;
    text-align: center;
	vertical-align:middle;
    border-right:1px solid #CCCCCC;
    border-top: 0px solid #CCCCCC;
	border-bottom:1px solid #cacaca;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
	height:20px;

}

/*.iceDatTblColHdr1_typC
{ 	
Datagrid Popup tabel header
    background-color: #ffffff;
    background-image: url( "./css-images/dt_typb_hdr_bg.gif" ); background-image: url( "./css-images/table_col_header.gif" );
    background-position: bottom;
    background-repeat: repeat-x;
    font-weight:bold;
    text-align: center;
	vertical-align:middle;
    color: #333333;
    border-right:1px solid #CCCCCC;
    border-top: 0px solid #CCCCCC;
	border-bottom:1px solid #cacaca;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
	height:20px;

}
*/
/*.iceDatTblColHdr1_typC .typCTxt{
   font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
    color: #000000;
}*/

/*.iceDatTblCol1_typB, .iceOutTxts{
   font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:normal;
    color: #000000;
}*/

.iceDatTblResHdlr_typB {
    margin:0px;; 
    padding:0px;
    border-width: 0px;
    width:2px;
    background-color:transparent;
}

.iceDatTblResBor_typB {
    margin:0px;; 
    padding:0px;
    background-color: #EFEFEF;
    background-position: bottom;
    background-repeat: repeat-x;
    width:2px;    
}

.iceDatTblBlkTd_typB {
    border-bottom: 1px solid #CCCCCC;	
    background-color: #EFEFEF;   
}
	/* data tables are rendered with alternating row colors */
.iceDatTblRow1_typB { /* was iceTblRow1 */
   background-color: #FFFFFF;
}

.iceDatTblRow2_typB { /* was iceTblRow2 */
    /* background-color: #FFFFFF;*/
}

/* set the common attributes for the column classes */
.iceDatTblCol_typB, .iceDatTblCol1_typB, .iceDatTblCol2_typB{
/*was column, column1, column2, column3*/ /*datagrid*/
    color: #000000;
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-right: 0px solid #CCCCCC;
    border-bottom: 0px solid #CCCCCC;
	/*text-align:left; -- commented as left is by default*/
	font-weight:normal;
	vertical-align:middle;
	height:21px;
	
}

.iceDatTblHdr_typB{} /*was iceTblHeader */
.iceDatTblFtr_typB {
    background: none;
    border-top: 1px solid #CCCCCC;  
}

.iceDatTblScrlSpr_typB{ 
    background: url('css-images/table_col_header.gif') repeat-x bottom left;
    background-color: #EFEFEF;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

.iceDatTblScrlSprFtr_typB{ 
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;        
}

.iceDatTblScrlSprFtr_typB .iceDatTblFtr{ 
    border-bottom: none;     
}

.iceDatTblScrlSpr_typB .iceDatTblColHdr1, .iceDatTblScrlSpr_typB .iceDatTblColHdr2 {
    border-left-style: none;
    border-top-style: none;
	background-color:#333333;
	
}

.highlit_red
{
background-color:#f24b4b;
}
.highlit_yellow
{
background-color:#f0eb5d;
}
.highlit_gray
{
background-color:#bcbcbc;
}
.highlit_green
{
background-color:#4bf253;
}
/*
----- for datatable when cell content length exceeds-----
*/

.iceDatTbl_typB td span.iceOutTxt{
   font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:normal;
    color: #000000;
		
	overflow: hidden;
	display: block;
	padding: 1px 0px 1px 0px;
	}


.iceDatTbl_typB tr.iceRowSelSelected td {
	font-weight:bold;
	background-color:#ccccff;
	border-top:0px solid #5D8DB4;
	border-bottom:0px solid #5D8DB4;
}

/************************************************ Data tabel type C Data Table Component classes**********************/

.iceDatTbl_typC { /* was iceDataTblOutline */ /*Point : Data Table CSS*/
   
    border: 0px solid #ABABAB;
    margin: 0px;
	width:100%;

	 
}

.iceDatTbl_typC table{
	border-collapse:collapse;
}

.iceDatTblColHdr_typC , .iceDatTblColHdr1_typC, .iceDatTblColHdr2_typC, .iceDatTblColGrpHdrCol_typC, .iceDatTblFtr_typC{ 
/* was iceTblHeader */ /*Datagrid*/
  /*  background-color: #ff9933;*/
    background-image: url("css-images/dt_typC_hdr_bg.png");/* background-image: url( "./css-images/table_col_header.gif" );*/
    background-position: bottom;
    background-repeat: repeat-x;
	
	vertical-align:middle;
    
	border-right:0px solid #CCCCCC;
    border-top: 0px solid #CCCCCC;
	border-bottom:0px solid #cacaca;
    
	padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
	
	height:20px;

	font-size:11px;
    font-weight:bold;
    text-align:left;
	color:#000000;
}

.iceDatTblResHdlr_typC {
    margin:0px;; 
    padding:0px;
    border-width: 0px;
    width:2px;
    background-color:transparent;
}

.iceDatTblResBor_typC {
    margin:0px;; 
    padding:0px;
    background-color: #EFEFEF;
    background-position: bottom;
    background-repeat: repeat-x;
    width:2px;    
}

.iceDatTblBlkTd_typC {
    border-bottom: 1px solid #CCCCCC;	
    background-color: #EFEFEF;   
}
	/* data tables are rendered with alternating row colors */
.iceDatTblRow1_typC { /* was iceTblRow1 */
 /*  background-color: #FFFFFF;*/
}

.iceDatTblRow2_typC { /* was iceTblRow2 */
    /* background-color: #FFFFFF;*/
}

/* set the common attributes for the column classes */
.iceDatTblCol_typC, .iceDatTblCol1_typC, .iceDatTblCol2_typC{
/*was column, column1, column2, column3*/ /*datagrid*/
    color: #000000;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-right: 0px solid #CCCCCC;
    border-bottom: 0px solid #CCCCCC;
	text-align:center;
	font-weight:normal;
	vertical-align:middle;
	height:21px;
	
}

.iceDatTblHdr_typC{} /*was iceTblHeader */
.iceDatTblFtr_typC {
    background: none;
    border-top: 1px solid #CCCCCC;  
}

.iceDatTblScrlSpr_typC{ 
    background: url('css-images/table_col_header.gif') repeat-x bottom left;
    background-color: #EFEFEF;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

.iceDatTblScrlSprFtr_typC{ 
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;        
}

.iceDatTblScrlSprFtr_typC .iceDatTblFtr_typC{ 
    border-bottom: none;     
}

.iceDatTblScrlSpr_typC .iceDatTblColHdr1_typC, .iceDatTblScrlSpr_typC .iceDatTblColHdr2_typC {
    border-left-style: none;
    border-top-style: none;
	background-color:#333333;
	
}

/*
----- for datatable when cell content length exceeds-----
*/

.iceDatTbl_typC td span.iceOutTxt{
   font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:normal;
    color: #000000;
		
	overflow: hidden;
	display: block;
	padding: 1px 0px 1px 0px;
}

.iceDatTbl_typC td span.iceOutTxt_B{
   font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
    color: #000000;
		
	overflow: hidden;
	display: block;
	padding: 1px 0px 1px 0px;
}

/************************************************ Data tabel type D Data Table Component classes**********************/

.iceDatTbl_typD { /* was iceDataTblOutline */ /*Point : Data Table CSS*/
   
    border: 1px solid #999999;
    margin: 0px;
	width:100%;

	 
}

.iceDatTbl_typD table{
	border-collapse:collapse;
}

.iceDatTblColHdr_typD , .iceDatTblColHdr1_typD, .iceDatTblColHdr2_typD, .iceDatTblColGrpHdrCol_typD, .iceDatTblFtr_typD{ 
/* was iceTblHeader */ /*Datagrid*/
   background-color: #c2e5be;
    background-image: url("css-images/nagios_tblhdr_bg_typA.gif");/* background-image: url( "./css-images/table_col_header.gif" );*/
    background-position: bottom;
    background-repeat: repeat-x;
	
	vertical-align:middle;
    
	border-right:0px solid #CCCCCC;
    border-top: 0px solid #CCCCCC;
	border-bottom:1px solid #cacaca;
    
	padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 1px;
	
	height:12px;

	font-size:10px;
    font-weight:bold;
    text-align:center;
	color:#000000;
}

.iceDatTblResHdlr_typD {
    margin:0px;; 
    padding:0px;
    border-width: 0px;
    width:2px;
    background-color:transparent;
}

.iceDatTblResBor_typD {
    margin:0px;; 
    padding:0px;
    background-color: #EFEFEF;
    background-position: bottom;
    background-repeat: repeat-x;
    width:2px;    
}

.iceDatTblBlkTd_typD {
    border-bottom: 1px solid #CCCCCC;	
    background-color: #EFEFEF;   
}
	/* data tables are rendered with alternating row colors */
.iceDatTblRow1_typD { /* was iceTblRow1 */
   background-color: #FFFFFF;
}

.iceDatTblRow2_typD { /* was iceTblRow2 */
    /* background-color: #FFFFFF;*/
}

/* set the common attributes for the column classes */
.iceDatTblCol_typD, .iceDatTblCol1_typD, .iceDatTblCol2_typD{
/*was column, column1, column2, column3*/ /*datagrid*/
    color: #000000;
    padding-left: 5px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-right: 0px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
	text-align:center;
	font-weight:normal;
	vertical-align:middle;
	height:16px;
}

.cust_iceDatTblCol1_sel_typD
{
border:1px #FF0000 solid;
padding-left: 5px;
color:#55609a;
font-weight:bold;
}


.iceDatTblHdr_typD{} /*was iceTblHeader */
.iceDatTblFtr_typD {
    background: none;
    border-top: 1px solid #CCCCCC;  
}

.iceDatTblScrlSpr_typD{ 
    background: url('css-images/table_col_header.gif') repeat-x bottom left;
    background-color: #EFEFEF;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

.iceDatTblScrlSprFtr_typD{ 
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;        
}

.iceDatTblScrlSprFtr_typD .iceDatTblFtr_typD{ 
    border-bottom: none;     
}

.iceDatTblScrlSpr_typD .iceDatTblColHdr1_typD, .iceDatTblScrlSpr_typD .iceDatTblColHdr2_typD {
    border-left-style: none;
    border-top-style: none;
	background-color:#333333;
	
}

/*
----- for datatable when cell content length exceeds-----
*/

.iceDatTbl_typD td span.iceOutTxt{
   font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:normal;
    color: #000000;
		
	overflow: hidden;
	display: block;
	padding: 1px 0px 1px 0px;
}

.iceDatTbl_typD td span.iceOutTxt_B{
   font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
    color: #000000;
		
	overflow: hidden;
	display: block;
	padding: 1px 0px 1px 0px;
}

/************************************************ Data tabel type E Data Table Component classes**********************/

.iceDatTbl_typE { /* was iceDataTblOutline */ /*Point : Data Table CSS*/
   
    border: 1px solid #999999;
    margin: 0px;
	width:100%;

	 
}

.iceDatTbl_typE table{
	border-collapse:collapse;
}

.iceDatTblColHdr_typE , .iceDatTblColHdr1_typE, .iceDatTblColHdr2_typE, .iceDatTblColGrpHdrCol_typE, .iceDatTblFtr_typE{ 
/* was iceTblHeader */ /*Datagrid*/
   background-color: #FFFFFF;
    background-image: url("css-images/nagios_tblhdr_bg_typB.gif");/* background-image: url( "./css-images/table_col_header.gif" );*/
    background-position: bottom;
    background-repeat: repeat-x;
	
	vertical-align:middle;
    
	border-right:0px solid #CCCCCC;
    border-top: 0px solid #CCCCCC;
	border-bottom:1px solid #999999;
    
	padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 1px;
	
	height:12px;

	font-size:10px;
    font-weight:bold;
    text-align:center;
	color:#000000;
}

.iceDatTblResHdlr_typE {
    margin:0px;; 
    padding:0px;
    border-width: 0px;
    width:2px;
    background-color:transparent;
}

.iceDatTblResBor_typE {
    margin:0px;; 
    padding:0px;
    background-color: #EFEFEF;
    background-position: bottom;
    background-repeat: repeat-x;
    width:2px;    
}

.iceDatTblBlkTd_typE {
    border-bottom: 1px solid #CCCCCC;	
    background-color: #EFEFEF;   
}
	/* data tables are rendered with alternating row colors */
.iceDatTblRow1_typE { /* was iceTblRow1 */
   background-color: #FFFFFF;
   background-image:url(css-images/nagios_tbldis_bg.gif);
   }

.iceDatTblRow2_typE { /* was iceTblRow2 */
    /* background-color: #FFFFFF;*/
}

/* set the common attributes for the column classes */
.iceDatTblCol_typE, .iceDatTblCol1_typE, .iceDatTblCol2_typE{
/*was column, column1, column2, column3*/ /*datagrid*/
    color: #000000;
    padding-left: 5px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-right: 0px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
	text-align:center;
	font-weight:normal;
	vertical-align:middle;
	height:32px;
}

.cust_iceDatTblCol1_sel_typE
{
border:1px #FF0000 solid;
}


.iceDatTblHdr_typE{} /*was iceTblHeader */
.iceDatTblFtr_typE {
    background: none;
    border-top: 1px solid #CCCCCC;  
}

.iceDatTblScrlSpr_typE{ 
    background: url('css-images/table_col_header.gif') repeat-x bottom left;
    background-color: #EFEFEF;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

.iceDatTblScrlSprFtr_typE{ 
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;        
}

.iceDatTblScrlSprFtr_typE .iceDatTblFtr_typE{ 
    border-bottom: none;     
}

.iceDatTblScrlSpr_typE .iceDatTblColHdr1_typE, .iceDatTblScrlSpr_typE .iceDatTblColHdr2_typE {
    border-left-style: none;
    border-top-style: none;
	background-color:#333333;
	
}

/*
----- for datatable when cell content length exceeds-----
*/

.iceDatTbl_typE td span.iceOutTxt{
   font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:normal;
    color: #000000;
		
	overflow: hidden;
	display: block;
	padding: 1px 0px 1px 0px;
}

.iceDatTbl_typE td span.iceOutTxt_B{
   font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
    color: #000000;
		
	overflow: hidden;
	display: block;
	padding: 1px 0px 1px 0px;
}

.iceDatTbl_typF { /* was iceDataTblOutline */ /*Point : Data Table CSS*/
    margin: 0 auto;
	/*padding:10px;*/
	width:74%;
	border: 1px solid #ABABAB;
	 
}

.iceDatTbl_typG { /* was iceDataTblOutline */ /*Point : Data Table CSS*/
    margin: 10px auto;
	/*padding:10px;*/
	width:14%;
	border: 0px solid #ABABAB;
	 
}

.iceDatTblHdr_typF{} /*was iceTblHeader */
.iceDatTblFtr_typF {
	margin: 10px auto;
    background: none;
    border-top: 1px solid #CCCCCC;  
}

.iceDatTblFtr_typF iceOutTxt{
	font-weight: normal;
}

/************************************************ Popup Panel Custom Classes *************************************/

.cust_icePnlPopHdrLeft
{
   background-image: url(css-images/popup_TL.gif);
   background-repeat: no-repeat;
   width: 9px;
   height: 25px;
   min-width: 9px;
   background-position: top;
}
.cust_icePnlPopHdrCenter
{
   background-image: url(css-images/popup_TM.gif);
   background-repeat: repeat-x;
   height: 25px;
   background-position: top;
   position:relative;
   
   	color:#000000;
	font-size:18px;;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
}
.cust_icePnlPopHdrRight
{

   background-image: url(css-images/popup_TR.gif);
   background-repeat: no-repeat;
   width: 9px;
   height: 25px;
   min-width: 10px;
   background-position: top left;

}
.cust_icePnlPopContLeft {
   background-image:url(css-images/popup_VL.gif);
   background-repeat: repeat-y;
   background-position:left;
   width: 4px;
   min-width: 4px;
   
   /*
      width:20px;
      background-color:#FFFFFF;
      border-left: 1px solid #dfe8ed;
   */
}

.cust_icePnlPopContCenter {
   vertical-align: top;
   padding: 0;
   margin: 0;
}	


.cust_icePnlPopContRight {
   background-image:url(css-images/popup_VR.gif);
   height: 100%;
   background-repeat: repeat-y;
   background-position:right;
   width: 3px;
   min-width:3px;
   padding: 0;
   margin: 0;
}

.cust_icePnlPopFtrLeft {
   background-image:url(css-images/popup_BL.gif);
   width: 3px;
   height: 3px;
   background-repeat: no-repeat;
   background-position: top left;
   min-width: 3px;
   padding: 0;
   margin: 0;
   }

.cust_icePnlPopFtrCenter {
   background-image:url(css-images/popup_HB.gif);
   background-position:top;
   height: 4px;
   background-repeat: repeat-x;
   }

.cust_icePnlPopFtrRight {
   background-image:url(css-images/popup_BR.gif);
   background-position: top left;
   width: 3px;
   height: 3px;
   background-repeat: no-repeat;
   min-width: 3px;
   }
   
.cust_poupmodes{
   white-space:nowrap;
   float:right;
   width:auto;
   position:relative;
   vertical-align:middle;
   padding-bottom:3px;
}
 .cust_poup_modeBtn_close {
   background-image:url(css-images/popup_modeBtn_close.gif);
   background-repeat: no-repeat;
   width: 14px;
   height: 14px;
   float: left;
   display: inline;
   cursor: pointer;
   padding-left: 3px;
}

.cust_poup_modeBtn_close:hover {
   text-decoration: none;
}

.cust_poup_modeBtn_help {
   background-image: url(css-images/popup_modeBtn_help.gif);
   background-repeat: no-repeat;
   width: 14px;
   height: 14px;
   float: left;
   display: inline;
   cursor: pointer;
   padding-left: 0px;
   padding-right:5px;
}

.cust_poup_modeBtn_help:hover {
   text-decoration: none;
}

.cust_popup_pgr
{
text-align:center; 
padding-bottom:15px;
 padding-top:7px;
}
 .txtgray { color:#585858}
 

.error_msg
{
position:relative;
overflow:auto;

background-color:#fcf9ac;
border:1px solid #d6c664;
padding-bottom:3px;
padding-left:10px;
padding-right:10px;
padding-top:3px;

font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:9px;
font-weight:bold;
color:#f50f2a;
}
/*******************************Styles for filter Portal****************************/
.cust_popup_header
{
	text-align:left; 
	padding-bottom:2px; 
	padding-left:4px;
	width:233px;
}

.cust_portlet_filter_button 
{
   font-family:Verdana,Arial,Helvetica,sans-serif; 
   font-size: 11px;
   font-weight: bold;
   color: #000000;
   background-color: #ff9933;
   height: 22px;
   border: 0px;
   border-radius: 2px;
   padding: 0 10px;
}
.cust_portlet_filter_button_font
{
	font-family:Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
	height:19px; 
	font-weight:bold;
	color: #000000;
}
.cust_button_location
{
	padding: 15px 0 5px 5px;
}

/* *********************************Styles for Monitoring Performance Portal***************** */
.cust_orange_body {
   background-color: #ff9933;
   padding: 0;
   margin: 0;
   vertical-align:top;
   text-align:center;
   border: 1px solid #000000;
}
.cust_font_monitoring_portal
{
	font-size: 10px; 
	font-weight: bold; 
	font-family: Verdana,Arial,Helvetica,sans-serif; 
	text-align: center;
	color: #000000;
}
.cust_orange_body_L {
   background-color: #fbc18d;
   padding: 0;
   margin: 0;
   vertical-align:top;
   border: 1px solid #000000;
   text-align:center;
}
.cust_monitoring_portlet_section_header {
   font-weight: bold;
   color: #000000;
   font-size: 12px;
}
/******************************** Nagios Monitoring Statistics******************************************/

.cust_nagios_fontStyle
{
	font-size: 10px; 
	font-weight: bold; 
	color: #000000;
	text-align:left;
}
.cust_nagios_potal_tooltip
{
	border:solid 1px #DEDEDE;
	background:#EFEFEF;
	color:#222222;
	padding:4px;
	text-align:left;
}
/******************************** Host/Service Group health******************************************/
.cust_iceOrangeStatusLeft {
   background-image:url(css-images/health_orange_box_left.png);
   background-repeat: no-repeat;
   padding: 0;
   margin: 0;
   width: 15px;
   height: 61px;
  }
  .cust_iceOrangeStatusCenter {
   background-image:url(css-images/health_orange_box_mid.png);
   background-repeat: repeat-x;
   padding: 0;
   margin: 0;
  }
  .cust_iceOrangeStatusRight {
   background-image:url(css-images/health_orange_box_right.png);
   background-repeat: no-repeat;
   padding: 0;
   margin: 0;
   width: 15px;
   height: 61px;
  }
  .cust_link_text_color
  {
  	color: #5078AA;
  }
  
  .cust_popupHeader_font
  {
  	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
    color: #333333;
  }
  .cust_hostList_hostname_color
  {
  	color: #666699;
  }
  .cust_popup_closeButton
{
	position: absolute; 
	right: 10px; 
	bottom: 0px; 
	width: 120px;
	vertical-align: bottom;
}
 /**********************Styles for text showing  status *****************/ 
 .cust_txt_red
 {
	color:#f24b4b;
 }
 .cust_txt_green
 {
	color:#4bf253;
 }
 .cust_txt_grey
 {
	color:#bcbcbc;
 }
 .cust_txt_yellow
 {
	color: #f0eb5d;
 }
 .padleft15
 {
 	padding-left:15px;
 }
 .btn_grey
 {
	 background-color:#d0d0d0;
	 color:#000000;
	 border:1px solid #000000;
	 font-size:11px;
 }
 
 
/*********************************    Actions Portlet ***************************************************/
.actionportlet-titlebar-left {
   background-image:url(css-images/spacer.gif);
   background-repeat: no-repeat;
   width: 1px;
   height:1px;
   min-width: 1px;
   background-position: bottom;
}

.actionportlet-titlebar-center {
   background-image: url(css-images/spacer.gif);
   background-repeat: repeat-x;
   height: 1px;
   background-position: bottom;
   position:relative;
}

.actionportlet-titlebar-right {
   background-image: url( ./css-images/portlet-top-right.gif );
   background-repeat: no-repeat;
   width: 1px;
   height: 1px;
   min-width: 10px;
   background-position: bottom left;
}

.actionportlet-content-left {
   background-image: url( ./css-images/portlet-left-vertical.gif );
   background-repeat: repeat-y;
   width: 1px;
   min-width: 1px;
   /*
      width:20px;
      background-color:#FFFFFF;
      border-left: 1px solid #dfe8ed;
   */
}

.actionportlet-content-center {
   vertical-align: top;
   padding: 0;
   margin: 0;
}

.actionportlet-body {
   background-color: #FFFFFF;
   padding: 0;
   margin: 0;
   vertical-align:top;
   background-image:url(css-images/actions_bg.gif);
   background-repeat:repeat-x;
   border:1px #333333 solid;
   }

.actionportlet-content-right {
   background-image: url( ./css-images/portlet-right-vertical.gif );
   height: 100%;
   background-repeat: repeat-y;
   background-position: left;
   width: 5px;
   min-width: 5px;
   padding: 0;
   margin: 0;
   /*
      width:5px;
      background-color:#FFFFFF;
      border-right: 1px solid #dfe8ed;
   */
}

.actionportlet-footer-left {
   background-image: url( ./css-images/portlet-bottom-left.gif );
   width: 9px;
   height: 4px;
   background-repeat: no-repeat;
   background-position: top right;
   min-width: 9px;
   padding: 0;
   margin: 0;
   /*
   background-color:#FFFFFF;
   border-bottom: 1px solid #98b7c6;
   border-left: 1px solid #dfe8ed;
   height:5px;
   */
}

.actionportlet-footer-center {
   background-image: url( ./css-images/portlet-bottom-middle.gif );
   height: 4px;
   background-repeat: repeat-x;
   /*	background-color:#FFFFFF;
      border-bottom: 1px solid #98b7c6;
      height:5px;
   */
}

.actionportlet-footer-right {
   background-image: url( ./css-images/portlet-bottom-right.gif );
   width: 5px;
   height: 4px;
   background-repeat: no-repeat;
   min-width: 5px;
   /*
      background-color:#FFFFFF;
      border-bottom: 1px solid #98b7c6;
      border-right: 1px solid #dfe8ed;
      height:5px;
   */
}

.actions
{
background-image:url(css-images/arrow_actions.gif);
background-repeat:no-repeat;
background-position:right center;
padding-left:10px;
padding-right:20px;
padding-bottom:5px;
padding-top:5px;
border-left:1px #333333 solid;
}

.actions_strip
{
    background-image:url(css-images/actions_bg.gif);
   background-repeat:repeat-x;
   border:1px #333333 solid;
}
.events_actionBtn
{
/*	background-image:url(./css-images/action_btn.gif); */
	background-repeat:no-repeat;
	border:1;
 	background-position:bottom right;
 	height:20px;
 	padding-left: 15px;
  }

.menuBorder
{
	border-left: 1px solid #000000;
}

.font_headerTxt
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight:bold;
color:#585858;
text-align:left;
border-collapse:collapse;
}

.iceDatTblRow1_typA_PerformStats { /* was iceTblRow1 */
    background-color: #FF9933;
}
.iceDatTblRow1_typA_PerSerChks { /* was iceTblRow1 */
    background-color: #fbc18d;
}

.iceDatTblCommentsTbl {
	width: 100%;
}
.valign_bottom {
 vertical-align:bottom;
 }
 
 .div_horizontal_Scroll_bar_width1120{
 overflow: scroll; 
 width: 1050px;
 height: auto;
 overflow-x:scroll;
 overflow-y:hidden;
 }
 .div_horizontal_Scroll_bar_width1080{
 overflow: auto; 
 width: 1050px;
 height: auto;
 overflow-x:scroll;
 overflow-y:hidden;
 }
 .padRight130{
 padding-right:300px;
 }
 
.emptyClass{
 
 }
 
 .padRight105{
 padding-right:275px;
 }

 .padRight33{
 padding-right:33px;
 }
 .none_decoration{
 text-decoration: none;
 }
 
 .gwPnlDatTblColHdr {
    background: url("css-images/table_col_header.gif") repeat-x scroll left bottom #FFFFFF;
    color: #484848;
    font: bold 8px tahoma;
    padding: 5px;
    text-align: center;
}

.rtop, .artop {
    display: block;
}
.rtop *, .artop * {
    display: block;
    font-size: 1px;
    height: 1px;
    overflow: hidden;
}
.artop * {
    border-style: solid;
    border-width: 0 1px;
}
.r1, .rl1, .re1, .rel1 {
    margin-left: 5px;
}
.r1, .rr1, .re1, .rer1 {
    margin-right: 5px;
}
.r2, .rl2, .re2, .rel2, .ra1, .ral1 {
    margin-left: 3px;
}
.r2, .rr2, .re2, .rer2, .ra1, .rar1 {
    margin-right: 3px;
}
.r3, .rl3, .re3, .rel3, .ra2, .ral2, .rs1, .rsl1, .res1, .resl1 {
    margin-left: 2px;
}
.r3, .rr3, .re3, .rer3, .ra2, .rar2, .rs1, .rsr1, .res1, .resr1 {
    margin-right: 2px;
}
.r4, .rl4, .rs2, .rsl2, .re4, .rel4, .ra3, .ral3, .ras1, .rasl1, .res2, .resl2 {
    margin-left: 1px;
}
.r4, .rr4, .rs2, .rsr2, .re4, .rer4, .ra3, .rar3, .ras1, .rasr1, .res2, .resr2 {
    margin-right: 1px;
}
.rx1, .rxl1 {
    border-left-width: 5px;
}
.rx1, .rxr1 {
    border-right-width: 5px;
}
.rx2, .rxl2 {
    border-left-width: 3px;
}
.rx2, .rxr2 {
    border-right-width: 3px;
}
.re2, .rel2, .ra1, .ral1, .rx3, .rxl3, .rxs1, .rxsl1 {
    border-left-width: 2px;
}
.re2, .rer2, .ra1, .rar1, .rx3, .rxr3, .rxs1, .rxsr1 {
    border-right-width: 2px;
}
.rxl1, .rxl2, .rxl3, .rxl4, .rxsl1, .rxsl2, .ral1, .ral2, .ral3, .ral4, .rasl1, .rasl2 {
    border-right-width: 0;
}
.rxr1, .rxr2, .rxr3, .rxr4, .rxsr1, .rxsr2, .rar1, .rar2, .rar3, .rar4, .rasr1, .rasr2 {
    border-left-width: 0;
}
.r4, .rl4, .rr4, .re4, .rel4, .rer4, .ra4, .rar4, .ral4, .rx4, .rxl4, .rxr4 {
    height: 2px;
}
.rer1, .rel1, .re1, .res1, .resl1, .resr1 {
    border-width: 1px 0 0;
    height: 0 !important;
}

.sideBarPanelWrapper {
    background-color: #FFFFFF;
    border-bottom: 1px solid #999999;
    border-right: 1px solid #999999;
    clear: left;
    float: left;
    height: auto;
    margin: 3px 0;
    min-height: 850px;
    position: relative;
    width: 95%;
}

.sideBarWrapper {
	float:left;
	clear:left;
	/*width:210px;*/
	min-height:858px;
	height:auto;
	margin:0px 1px 0px 0px;
	/*background-image:url('../assets/leftBarBg.gif');*/
	background-color:#eeeeee;
	border-right:1px solid #666666;
	position:relative;	
	border-bottom:1px solid #666666;
	border-top:1px solid #666666;
}

.svWrapper {
    background-color: #999999;
    background-repeat: no-repeat;
    background-size: 102% auto;
    border-right: 1px solid #5C5858;
    border-bottom: 1px solid #5C5858;
    border-top: medium none;
    color: #333333;
    float: left;
    height: auto;
    margin: 2px 0 0;
    width: 75%;
}
 