body{
	margin:0px;
	padding:0px;
	font-family:Arial;
	font-size:12px;
	color:#7d7d7d;
}

.mainwrapper
{
	width:905px;
	margin:auto;
}

.topwrapper {
	width:905px;
	margin:auto;
	padding:30px 0px 0px 0px;
}
.header {
	width:905px;
	height:281px;
	margin-bottom:10px;
	background:url(images/header.jpg) no-repeat;
	position:relative;
}

.headercontent {
	padding:10px 20px 10px 47px;
	font-family:Arial;
	font-size:14px;
	color:#FFF;
	line-height:17px;
}
.headercontent_top {
	padding:36px 20px 5px 15px;
	font-family:Arial;
	font-size:16px;
	color:#FFF;
}
.headercontent_top ul {
	margin:0px;
	padding:0px;
}
.headercontent_top ul li {
	margin:0px;
	padding:0px 0px 0px 30px;
	font-size:26px;
	color:#FFF;
	font-family:Arial;
	line-height:30px;
	background:url(images/checkmark.gif) no-repeat 3px 4px;
}

.loginbutton {
	padding:3px 0px 0px 48px;
}

.loginbutton img {
	margin-right:15px;
}

.contentwrapper {
	width:905px;
}

.external_performance_monitoring {
	width:445px;
	float:left;
	margin-right:11px;
	border:solid 1px #c0c0c0;
}
.external_performance_monitoring_top {
	width:429px;
	padding:11px 0px 0px 16px;
	background:url(images/external_performance_monitoring_bg.jpg) no-repeat;
	height:59px;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	color:#FFF;
}
.external_performance_monitoring_top span {
	font-size:18px;
	line-height:28px;
}
.managed_load_testing {
	width:445px;
	float:left;
	margin:0px;
	
}

.managed_load_testing_wrap {
	border: 1px solid #c0c0c0;
}
	
	
.managed_load_testing_top {
	width:429px;
	padding:11px 0px 0px 16px;
	background:url(images/managed_load_testing_bg.jpg) no-repeat;
	height:59px;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	color:#FFF;
}
.managed_load_testing_top span {
	font-size:18px;
	line-height:28px;
}
.managedcontent {
	width: 413px;
	font-family: Arial;
	font-size: 12px;
	color: #555555;
	text-decoration: none;
	padding: 5px 0px 0px 13px;
	line-height: 16px;
}
.managedcontent_top {
	width: 413px;
	font-family: Arial;
	font-size: 12px;
	color: #555555;
	text-decoration: none;
	padding: 11px 0px 10px 13px;
	line-height: 16px;
}
.managedcontent img {
	float:left;
	margin:0px;
	padding:0px;
}
.managedcontent p {
	font-size:12px;
	margin:0px;
	padding:0px 0px 12px 0px;
	vertical-align:middle;
}
.managedcontent p span {
	color:#00693c;
	font-weight:bold;
}
.line {
	background:url(images/line.gif) no-repeat;
	width:410px;
	height:1px;
	margin:0px 0px 5px 13px;
}

ul {
	margin:9px 0 0 0;
	padding:0 0 0 20px;
}

ul li {
	list-style-image:none;
	list-style-type:none;
	background:url(images/arrow.gif) 0px 3px;
	background-repeat:no-repeat;
	margin:0px;
	padding:0px 0px 5px 14px;
}

ul li.space {
	padding-bottom:16px;
	margin:0px;
}

ul li a {
	color:#e7862a;
	font-weight:bold;
	text-decoration:none;
}
ul li a:hover {
	color:#e7862a;
	font-weight:bold;
	text-decoration:underline;
}

.signup {
			background: url(images/signup_button.png) no-repeat;
			width: 203px;
			height: 53px;
			margin: 20px 0 0  14px;
			text-indent: -9999px;
			}
			
.nswm_box {
	background:url(images/ns_wm_box_bg.jpg) repeat-x;
	width:415px;
	height: 62px;
	padding:15px;
	color:#fff;
	margin-top:18px;
	font: 20px Arial, Helvetica, sans-serif;
}

.nswm_box p {
	font-size:18px;
	margin:0;
	padding:5px 0 0 0;
}

sup {
	font-size:12px;

}

.about_Neustar {
	font-size:11px;
	width:873px;
	border:solid 1px #c0c0c0;
	padding:10px 15px;
	margin-top:10px;
}
.about_Neustar a {
	font-size:11px;
	text-decoration:underline;
	color:#7d7d7d;
	
}
.about_Neustar span {
	font-size:12px;
	font-weight:bold;
}
.partnerfooter {
	width:905px;
	margin-top:10px;
}
.footer{
	width:905px;
	margin-top:10px;
	margin-bottom:10px;
	font-size:10px;
	color:#797979;
}

.footer_logo {
	width:67px;
	float:left;
	margin:5px 5px 5px 0px;
}
.footer_text {
	width:300px;
	float:left;
	padding:6px 0px 0px 0px;
}
.footer_callus {
	margin-left:314px;
	width:93px;
	float:left;
	color:#9e9d98;
	font-size:11px;
	font-weight:bold;
	padding-top:6px;
}
.footer_phone {
	width:50px;
	float:left;
	color:#0062b5;
	font-size:17px;
	font-weight:bold;
	padding-top:1px;
}