select{font-size:small}
input{font-size:small}
for{float:right}
input#configxml{float:left;}
input#cmd{float:none;width:100px;FONT-SIZE: x-small;}
input#captureMetrics{float: left;}
input#driver{float: left;}
input#url{float: left;width: 260px;}
input#sk.login{float: left;FONT-SIZE: x-small;}
input#password{float: left;}
input#sk.server{float: left;FONT-SIZE: x-small;}
input#sk.port{float: left;FONT-SIZE: x-small;}
input#type {width:560px;}
label {text-align: right;width: 150px;padding-right: 20px;display: block;font-size: 1.1em;float: left;}
DIV.header1{BORDER-RIGHT: #87ceeb 1px solid;PADDING-RIGHT: 2px;
BORDER-TOP: #87ceeb 1px solid;PADDING-LEFT: 2px;FONT-WEIGHT: bolder;
FONT-SIZE: x-small;PADDING-BOTTOM: 2px;MARGIN: 2px 10% 10px;
TEXT-TRANSFORM: none;BORDER-LEFT: #87ceeb 1px solid;COLOR: #191970;PADDING-TOP: 2px;
BORDER-BOTTOM: #87ceeb 1px solid;FONT-STYLE: normal;FONT-FAMILY: Verdana, Arial;
BACKGROUND-COLOR: #ccc4de;TEXT-ALIGN: left;FONT-VARIANT: normal;TEXT-DECORATION: none}
DIV.header2{ BORDER-RIGHT: #87ceeb 1px solid; PADDING-RIGHT: 0px;BORDER-TOP: #87ceeb 1px solid;
PADDING-LEFT: 2px;FONT-WEIGHT: bolder;FONT-SIZE: x-small;PADDING-BOTTOM: 2px;MARGIN: 2px 4% 0px;
TEXT-TRANSFORM: none;BORDER-LEFT: #87ceeb 1px solid; COLOR: #191970;PADDING-TOP: 2px;
BORDER-BOTTOM: #87ceeb 1px solid;FONT-STYLE: normal;FONT-FAMILY: Verdana, Arial;
BACKGROUND-COLOR: #ffc4de;TEXT-ALIGN: left;FONT-VARIANT: normal;TEXT-DECORATION: none}
DIV.header3{BORDER-RIGHT: #87ceeb 1px solid;PADDING-RIGHT: 2px;BORDER-TOP: #87ceeb 1px solid;PADDING-LEFT: 2px;
FONT-WEIGHT: bolder;FONT-SIZE: x-small;PADDING-BOTTOM: 2px;MARGIN: 2px 10% 10px;TEXT-TRANSFORM: none;
BORDER-LEFT: #87ceeb 1px solid;COLOR: #191970;PADDING-TOP: 2px;BORDER-BOTTOM: #87ceeb 1px solid;
FONT-STYLE: normal;FONT-FAMILY: Verdana, Arial; BACKGROUND-COLOR: #b0c4de;TEXT-ALIGN: left;
FONT-VARIANT: normal;TEXT-DECORATION: none}
DIV.headerHelp{BORDER-RIGHT: #87ceeb 1px solid;BORDER-LEFT: #87ceeb 1px solid;PADDING-RIGHT: 42px;
BORDER-TOP: #87ceeb 1px solid;PADDING-LEFT: 22px;FONT-WEIGHT: bolder;
FONT-SIZE: x-small;PADDING-BOTTOM: 22px;MARGIN: 2px 10% 10px;
TEXT-TRANSFORM: none;BORDER-LEFT: #87ceeb 1px solid;COLOR: #191970;PADDING-TOP: 2px;
BORDER-BOTTOM: #87ceeb 1px solid;FONT-STYLE: normal;FONT-FAMILY: Verdana, Arial;
BACKGROUND-COLOR: #FFE4C4;TEXT-ALIGN: left;FONT-VARIANT: normal;TEXT-DECORATION: none}
DIV.headerH0{BORDER-RIGHT: #87ceeb 1px solid;BORDER-LEFT: #87ceeb 1px solid;PADDING-RIGHT: 2px;
BORDER-TOP: #87ceeb 1px solid;PADDING-LEFT: 2px;FONT-WEIGHT: bolder;
FONT-SIZE: x-small;PADDING-BOTTOM: 22px;MARGIN: 2px 10% 10px;
TEXT-TRANSFORM: none;BORDER-LEFT: #87ceeb 1px solid;COLOR: #191970;PADDING-TOP: 2px;
BORDER-BOTTOM: #87ceeb 1px solid;FONT-STYLE: normal;FONT-FAMILY: Verdana, Arial;
BACKGROUND-COLOR: #ccc4de;TEXT-ALIGN: left;FONT-VARIANT: normal;TEXT-DECORATION: none}
input#admsg{float: left;width:50px}
div.headerx{float:left;padding:7px;text-align:right;font-weight: bold; font-size: small;background-color:#99FF99}
td.start{padding:7px;text-align:right;font-weight: bold; font-size: small;background-color:#99FF99}
td.end{padding:7px;text-align:right;font-weight: bold; font-size: small;background-color:#99FFFF}
td.latency{padding:7px;text-align:right;font-weight: bold; font-size: small;background-color:#FFCC00}
td.hdg0{padding:7px;text-align:center;font-weight: bold; font-size: small;background-color:#FF6600}
td.hdg1{padding:7px;text-align:left;font-weight: bold; font-size: small;background-color:#CC9966}
td.hdg2{padding:7px;text-align:left;font-weight: bold; font-size: small;background-color:#CCCCCC}
td.hdgw{padding:7px;text-align:left;font-weight: bold; font-size: small;background-color:#5F9EA0}
td.hdgWW{padding:7px;text-align:left;font-weight: bold; font-size: small;background-color:#A0522D}
td.hdgs{padding:7px;text-align:left;font-weight: bold; font-size: small;background-color:#2E8B57}
td.hdgss{padding:7px;text-align:left;font-weight: bold; font-size: small;background-color:#8B4513}

a.ti{
font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif!important;
   color:#050;
   padding-left:10px;
   padding-right:10px;
   font-size:94%;
   font-weight:bold;
   background-color:#fed;
   text-decoration:none;
   border:1px solid;
   border-top-color:#696;
   border-left-color:#696;
   border-right-color:#363;
   border-bottom-color:#363;
   filter:progid:DXImageTransform.Microsoft.Gradient
      (GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffeeddaa');
}
select.at{
font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif!important;
   color:#050;
   
   font-size:84%;
   font-weight:bold;
   background-color:#fed;
   border:1px solid;
   border-top-color:#696;
   border-left-color:#696;
   border-right-color:#363;
   border-bottom-color:#363;
   filter:progid:DXImageTransform.Microsoft.Gradient
      (GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffeeddaa');
}
select,option{
-moz-appearance:none!important;
   color:#050;
   
   font-size:84%;
   font-weight:bold;
   background-color:#fed;
   border:1px solid;
   border-top-color:#696;
   border-left-color:#696;
   border-right-color:#363;
   border-bottom-color:#363;
   filter:progid:DXImageTransform.Microsoft.Gradient
      (GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffeeddaa');
}


input.in{
   color:blue;
   
   font-size:100%;
   font-weight:bold;
   background-color:#9ACD32;
   border:1px solid;
   border-top-color:#696;
   border-left-color:#696;
   border-right-color:#363;
   border-bottom-color:#363;
   filter:progid:DXImageTransform.Microsoft.Gradient
      (GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffeeddaa');}


input.btn{
   color:#050;
   font-family:'trebuchet ms',helvetica,sans-serif;
   font-size:84%;
   font-weight:bold;
   background-color:#fed;
   border:1px solid;
   border-top-color:#696;
   border-left-color:#696;
   border-right-color:#363;
   border-bottom-color:#363;
   filter:progid:DXImageTransform.Microsoft.Gradient
      (GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffeeddaa');}

input.btnhov{
   border-top-color:#c63;
   border-left-color:#c63;
   border-right-color:#930;
   border-bottom-color:#930;}
   
span#err{
   font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif!important;
   color:#050;
   padding-left:15px;
   padding-right:15px;
   font-size:124%;
   font-weight:bold;
   background-color:#FF6347;
   border:1px solid;
   border-top-color:	black;
   border-left-color:	black;
   border-right-color:	black;
   border-bottom-color:	black;
	
   filter:progid:DXImageTransform.Microsoft.Gradient
      (GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffeeddaa');
}