# Leftovers from initial setup.  Not sure if they usefully apply here, but
# if someone else thought they don't belong in Git, who am I to question that?
.tox
*.pyc

# This pattern matches the name of the directory in which Subversion stores its
# file-tracking artifacts.  If git is being used as a secondary repository, it
# must not interfere with the operation of Subversion by potentially restoring
# old copies of such artifacts.
.svn

# The GroundWork installer matches this pattern.
*.run

# This pattern matches the RPM build staging location.
.build

# These patterns match possible build targets.
*.rpm
*.deb

# These patterns match possible doc-build staging locations and targets.
_build
*.pdf

# This pattern matches our convention for temporary files.
,*
