

#subnav {
	top:54px;
	left:-40px;
}

.portlet-container {
	overflow:visible;
}

#tabsHeader {
	white-space:nowrap;
}


.UniqueActionsID {
	position:relative; z-index:300;
	}
	
body { 
	text-align:center
}

div#login {
	margin:0 auto;
	text-align:left;
}

.svComments{height:243px; }

#divContents{max-height:800px;}
#left .portlet-body{ }


#whatsNextContent ul{margin-left:135px; margin-top:-110px; float:left;}
	
#navigation{margin-top:32px; display:inline-block;}

.hgv_hv_filterView {height:99px}