/*
Groundwork

gwmos.css
*/

body, table td, option, input, select {
	/* font-family:  helvetica, verdana, arial, sans-serif; */
	font-family:  sans-serif;
	font-size: 8pt;
	line-height: 1.5em;
	color: #333333;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
}

.dojoDialog {
	background : #ffffff;
	border : 1px solid #999;
	-moz-border-radius : 5px;
	padding : 4px;
}

html, body{
	width: 100%;	/* make the body expand to fill the visible window */
	height: 500px;
	overflow: auto;	/* erase window level scrollbars */
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

A:link {
	color: #55609A;
	text-decoration: none;
	font-weight: bold;
}
A:visited {
	/* color: #999999;		COMMENTED OUT, LET'S KEEP LINKS ALWAYS COLORED FOR ACTIVE */
	color: #55609a;
	text-decoration: none;
	font-weight: bold;
}
A:active {
	text-decoration: none;
}
A:hover {
	color: #fA840F;
	text-decoration: none;
	cursor: pointer;
}

/** HEADERS **/
h1 {letter-spacing:1px;
	color: #fa840f;
	font-size: 9pt;
	margin: 0px;
}

/** for added top and bottom spacing for H1 headings **/
h1.wMargins {
	margin-top:20px;
	margin-bottom:3px;
	text-transform:uppercase;
}

h1.wMargins_belowChapter {
	margin-top:0px;
	margin-bottom:3px;
	text-transform:uppercase;
}

h2 {
	color: #000000;
	font-size: 9pt;
	margin: 25px 0px 3px;
	font-weight: bold;
}

h2.smMargin {
	color: #000000;
	font-size: 9pt;
	margin: 15px 0px 3px;
	font-weight: bold;
}

h3 {
	margin-bottom: 0px;
}

h4 {
	color:#000000;
	font-size:9pt;
	margin:15px 0px 3px;
	font-style:italic;
	font-weight:normal;
}

.chapter {
	letter-spacing:1px;
	font-style:bold;
	font-size:12pt;
	font-weight:bold;
	color:#000000;
	margin-top:20px
}

/** END HEADERS **/


ul {
	margin-top: .5em;
}

ul, li {
	line-height: 2em;
}

/** for bulleted lists with arrows icons **/
.level01 {
	list-style-image:url(../images/bullet01.gif);
	list-style-type:none;
	margin-top:0px;
	margin-left:2em;
	margin-bottom: 0.5em;
}

.level02 {
	list-style-image:url(../images/bullet02.gif);
	list-style-type:none;
	margin-top:0.5em;
	margin-left:2em;
	margin-bottom:0.5em;
}

.level03 {
	list-style-image:none;
	list-style-type:circle;
	margin-top:0.5em;
	margin-left:3em;
	margin-bottom:0.5em;
}

/** end rules for bulleted lists **/


input {
	margin-left: 0px;
}

input.button {
	color: #ffffff;
	background-color: #fa840f;
	font-weight: bold;
	font-size: 8pt;
	border: 1px solid #000000;
}

/** For header text above form input elements **/
.formHeader {
	font-size: 7pt;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	/* margin-top: 1em; */
	/* position: relative; */
	/* top: 1em; */
}

/** HEADER SPECIFIC CLASSES **/
.header_banner {
	background-color: #666666;
}

.header_tabs {
	padding-left: 10px;
}

.header_table {
	border-bottom: 1px solid #666666;
}

.header_menu {
	font-size: 7pt;
	letter-spacing: 1px;
	padding-left: 3px;
}

.header_menu A:link, .header_menu A:visited  {
	font-weight: normal;
	color: #ffffff;
}

.header_menu A:hover {
	color: #333333;
}

.header_tab {
	height: 24px;
	background-color: #525252;
	border: 1px solid black;
	padding: 0px 18px;
}

.header_selectedTab {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	height: 25px;
	color: #ffffff;
	background-color: #9b9b9b;
	font-size: 10px;
	padding: 0px 9px;
}

.header_tab A:link, .header_tab A:visited {
	font-weight: normal;
	font-size: 10px;
	color: #cccccc;
}

.header_tab A:hover {
	color: #fa840f;
}

.header_TabSpacer {
	width: 1px;
	background-color: #666666;
	border: 0px;
	padding: 0px;
}

.header_menu {
	background: #9b9b9b;
	height: 20px;
}
/** END HEADER CLASSES **/

/** LOGIN SPECIFIC CLASSES **/
.login_banner {
	padding-top: 23px;
	background-color: #666666;
	padding-bottom: 13px;
	padding-left: 150px;
	padding-right: 0px;
	margin-right: 0px;
}

/* login_footer is for footer text, smaller and less distinguished. */
.login_footer {
	font-size: 7pt;
	line-height: 9pt;
	color:#999999;
}

.login_imageBanner {
	background-image: url(/monitor/images/splash_landscape.png);
	background-repeat: repeat-x;
}

.login_backImage {
	width: 100%;
	position: absolute;
	top: 77px;
	left: 0px;
}

/* This is for the mars lander footprint image */
.login_landerImage {
	position: absolute;
	top: 219px;
	left: 20px;
}

.login_headerImage {
	padding-bottom: 5px;
	padding-top: 10px;
}

.login_logoImage {
	position: absolute;
	top: 87px;
	left: 581px;
}

.login_textImage {
	position: absolute;
	top: 158px;
	left: 670px;
}

/* For bold header in footer text */
.login_footerHeader {
	font-weight: bold;
}
.login_footer A:link {color:#999999; text-decoration:none;}
.login_footer A:visited {color:#999999; text-decoration:none}
.login_footer A:active {text-decoration:none}
.login_footer A:hover {color:#FA840F; text-decoration:none; cursor: pointer;}

/** END LOGIN SPECIFIC CLASSES **/

/** TOOLTIP SPECIFIC CLASSES **/
/* Nicetitle Style */
div.niceTitle
{
	background-color: #333333;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 13px;
	font-family: sans-serif;
	width: 250px;
	left: 0;
	top: 0;
	padding: 4px;
	position: absolute;
	text-align: left;
	z-index: 20;
	-moz-border-radius: 10px 10px 10px 10px;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=87);
	-moz-opacity: .92;
	-khtml-opacity: .92;
	opacity: .87;
}

div.niceTitle .caption {
	color: #fa840f;
}

div.niceTitle .contents
{
	color: #ffffff;
	margin: 0;
	padding: 0 3px;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
div.niceTitle p
{
	color: #D17E62;
	font-size: 9px;
	padding: 3px 0 0 0;
	margin: 0;
	text-align: left;
	-moz-opacity: 1;
}
/** END TOOLTIPS **/

/** SIDENAV CLASSES **/
.sidenav_Text {
	font-size: 10px;
}

.sidenav_Text A {
	font-weight: normal;
	position: relative;
	top: -3px;
}

.sidenav_vdotted {
	background-image: url(/monitor/images/menu/vline.gif);
	background-repeat: repeat-y;
}

.sidenav_vdotted-norepeat {
	background-image: url(/monitor/images/menu/corner.gif);
	background-repeat: no-repeat;
}
/** END SIDENAV CLASSES **/

/** WINDOW CLASSES **/

table.window {
	margin-top:10px;
}

table.window td {
	border: 1px solid #999999;
	font-size: 8pt;
}

.windowHeader {
	padding-left: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 5px;
	background-color: #55609A;
	color: #ffffff;
}

.windowHeader_wMargin {
	margin-top: 100px;
	padding-left: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 5px;
	background-color: #55609A;
	color: #ffffff;
}

table.windowContent td {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 5px;
	border-width: 0px;
}

.componentTitlebar {
	background-color: #dbdbda;
	font-size: 8pt;
	/** height: 30px; **/
}

.titlebar {
	font-size: 8pt;
	color: #333333;
}

tr.componentTitlebar td {
	padding: 0px;
}

table.componentHeader td {
	border-width: 0px;
	padding: 0px;
	color: #ffffff;
}

table.containerHeader td {
	border-width: 0px;
	padding: 0px;
	color: #ffffff;
}

.containerTitlebar {
	background-color: #55609A;
	font-size: 8pt;
	/** height: 30px; **/
}

tr.containerTitlebar {
	padding: 0px;
}

/** END WINDOW CLASSES **/

/** BEGIN LIST CLASSES **/
tr.altTop td {
	border-bottom: 1px solid #aaaaaa;
}

tr.altRow1 td {
	background-color: #cccccc;
	border-bottom: 1px solid #aaaaaa;
	padding: 0px 0px 0px 0px;
}

tr.altRow2 td {
	background-color: #f0f0f0;
	border-bottom: 1px solid #aaaaaa;
	padding: 0px 0px 0px 0px;
}

td.row1 {
	background-color:#A0A0A0;
	color:#ffffff;
	font-weight:bold;
	padding-left:10px
}

td.row2 {
	background-color:#CCCCCC;
	color:#000000;
	padding-left:10px
	}
/** END LIST CLASSES **/

/** BEGIN ERROR CLASSES **/
.error_msg {
	font-size: 9pt;
	font-weight: bold;
	color: #fa840f;
}

/** END ERROR CLASSES **/


/** BEGIN CONSOLE CLASSES **/
tr.console_top td {
	border-bottom: 1px solid #dddddd;
	padding: 0px 0px 0px 0px;
}

tr.console_critical td {
	background:#E8835F;
	border-bottom: 1px solid #aaaaaa;
	padding: 0px 0px 0px 0px;
}

tr.console_warning td {
	background-color:#EAF090;
	border-bottom: 1px solid #aaaaaa;
	padding: 0px 0px 0px 0px;
}

tr.console_ok td {
	background:#93C97C;
	border-bottom: 1px solid #aaaaaa;
	padding: 0px 0px 0px 0px;
}

tr.console_unknown td {
	background:#cccccc;
	border-bottom: 1px solid #aaaaaa;
	padding: 0px 0px 0px 0px;
}

/** END CONSOLE CLASSES **/


/** BEGIN BOOKSHELF CLASSES **/

/** for constraining the width of document/encompassing table **/
table.main {
	width:780px;
	margin-left:10px;
}

td.bookshelf_textBg {
	background:#eeeeee;
	padding:10px 40px 5px 15px;}

.bookshelfpre {
	font-family:verdana, helvetica, arial, "sans-serif";
	color:#339900;
	margin:1em 3em;
	font-weight:normal
}

.bookshelfcode {
	font-family:verdana, helvetica, arial, "sans-serif";
	color:#339900;
	font-weight:normal
}

.bookshelf_screenshot {
	margin: 10px 0px 5px 38px;

}

/** the following rules prevent named Headers from behaving as links **/
/** END BOOKSHELF CLASSES **/



/** START TACTICAL OVERVIEW CLASSES **/
.tactical_column01 {width:100px}
.tactical_header {font-weight:bold;}
.tactical_down, .tactical_critical {width:45px; text-align:center; background-color:#EB6232;}
.tactical_unreach {width:45px; text-align:center; background-color:#FA840F;}
.tactical_pending {width:45px; background-color:#cccccc;}
.tactical_up, .tactical_ok {width:45px; background-color:#9ec56e;}
.tactical_disabled {width:45px; background-color:#999999;}

.tactical_warning {width:45px; background-color:#E0EA44;}
.tactical_unknown {width:45px; background-color:#F3B50F;}

.tactical_unack {width:45px; background-color:#ffffff;}
.tactical_schedDown {width:45px; background-color:#ffffff;}
.tactical_total {width:45px; background-color:#8DD9E0;}

.tactical_notif {width:45px; background-color:#9BAEFF;}
.tactical_event {width:45px; background-color:#8DD9E0;}
.tactical_active {width:45px; background-color:#E6E6E6;}
.tactical_passive {width:45px; background-color:#cccccc;}
.tactical_disabledRed {color: #cc0000;}
A:link .tactical_disabledRed {color: #cc0000;}
A:hover .tactical_disabledRed {color: #fA840F;}
/** ENDTACTICAL OVERVIEW CLASSES **/


/* first or middle sibling, no children */
.guavatvtn {
	width:16px; height:22px;
	background: url(/monitor/images/menu/tn.gif) 0 0 no-repeat;
}

/* first or middle sibling, collapsable */
.guavatvtm {
	width:16px; height:22px;
	cursor:pointer ;
	background: url(/monitor/images/menu/tm.gif) 0 0 no-repeat;
}

/* first or middle sibling, collapsable, hover */
.guavatvtmh {
	width:16px; height:22px;
	cursor:pointer ;
	background: url(/monitor/images/menu/tmh.gif) 0 0 no-repeat;
}

/* first or middle sibling, expandable */
.guavatvtp {
	width:16px; height:22px;
	cursor:pointer ;
	background: url(/monitor/images/menu/tp.gif) 0 0 no-repeat;
}

/* first or middle sibling, expandable, hover */
.guavatvtph {
	width:16px; height:22px;
	cursor:pointer ;
	background: url(/monitor/images/menu/tph.gif) 0 0 no-repeat;
}

/* last sibling, no children */
.guavatvln {
	width:16px; height:22px;
	background: url(/monitor/images/menu/ln.gif) 0 0 no-repeat;
}

/* Last sibling, collapsable */
.guavatvlm {
	width:16px; height:22px;
	cursor:pointer ;
	background: url(/monitor/images/menu/lm.gif) 0 0 no-repeat;
}

/* Last sibling, collapsable, hover */
.guavatvlmh {
	width:16px; height:22px;
	cursor:pointer ;
	background: url(/monitor/images/menu/lmh.gif) 0 0 no-repeat;
}

/* Last sibling, expandable */
.guavatvlp {
	width:16px; height:22px;
	cursor:pointer ;
	background: url(/monitor/images/menu/lp.gif) 0 0 no-repeat;
}

/* Last sibling, expandable, hover */
.guavatvlph {
	width:17px; height:22px; cursor:pointer ;
	background: url(/monitor/images/menu/lph.gif) 0 0 no-repeat;
}

/* Loading icon */
.guavatvloading {
	width:16px; height:22px;
	background: url(/monitor/images/menu/loading.gif) 0 0 no-repeat;
}

/* the style for the empty cells that are used for rendering the depth
 * of the node */
.guavatvdepthcell {
	width:16px; height:22px;
	background: url(/monitor/images/menu/vline.gif) 0 0 no-repeat;
}

.guavatvblankdepthcell { width:16px; height:22px; }

/* the style of the div around each node */
.guavatvitem { }

/* the style of the div around each node's collection of children */
.guavatvchildren { }
* html .guavatvchildren { height:2%; }

/* the style of the text label in guavaTextNode */
.guavatvlabel, .guavatvlabel:link, .guavatvlabel:visited, .guavatvlabel:hover {
	margin-left:2px;
	text-decoration: none;
}


/* for redesigned login page */

div#login {
	font: 10px verdana, arial, helvetica, sans-serif;
	text-align: center;
	background:#999999;
	margin:0px;
	line-height: 1.5em;
	height: 100%;
}

div.bigDiv {
	width: 100%;
	height: 100%;
	line-height: 1.5em;
	margin: 0px;
	background: #999999;
	text-align: center;
	font: 10px verdana, arial, helvetica, sans-serif;
}

table#loginPage {
	width: 846px;
	background-color: #eeeeee;
}

table#loginPage tr td.mainText {
	padding-left: 30px;
}

table#loginPage td.logo {
	background-image: url('/monitor/themes/gwmos/images/topBg02.jpg');
	background-repeat: no-repeat;
	width: 856px;
	height: 263px;
	vertical-align: top;
	text-align: right;
}

.gwlogo {
	margin-left: 592px;
}

table#contacts {
	position: relative;
	top: -20px;
	padding: 20px 0px 0px 0px;
	width: 856px;
	font-size: 10pt;
	border-top: 1px dotted #999999;
}

table#contacts td.left {
	text-align: left;
	vertical-align: top;
	font-size: 85%;
	color: #999999;
	padding: 5px 25px 0px 30px;
}

table#contacts td.right {
	text-align: right;
	vertical-align: top;
	font-size: 85%;
	color: #999999;
	padding: 5px 30px 0px 25px;
}

table#contacts tr td A:link,
table#contacts tr td A:visited {
	color: #999999;
	font-weight: normal;
}

table#contacts tr td A:hover {
	color: #fA840F;
}

div.overlay {
	z-index: 40;
	position: absolute;
	top: 67px;
	left: 0px;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

table.positioning {
	width: 846px;
	height: 157px;
	border: 0px;
	padding: 0px;
	margin: 0px;
}

table.positioning tr td {
	padding: 0px;
	margin: 0px;
}

table#credentials {
	border: 0px;
	padding: 0px;
	margin: 0px 30px;
}

table#credentials tr td {
	text-align: left;
	font: 10px verdana, arial, helvetica, sans-serif;
	line-height: 1.5em;
}

table#credentials td.label {
	padding-top: 1px;
}

table#credentials input {
	font: 10px verdana, arial, helvetica, sans-serif;
}

body#login {
	font: 10px verdana, arial, helvetica, sans-serif;
	text-align: center; /* for IE */
	background:#666666;
	margin:0px;
	line-height: 1.5em;
	height: 70em;
	overflow: auto;
}

body#login img {
	border:0px;
	margin:0px;
	padding:0px;
}

body#login input.button {
	margin-top:.6em;
}

.mainImage {
	width:856px;
	margin: 0 auto;
	padding:0px;
}

img.logo {
	position:relative;
	top:-224px;
	left:333px;
}

.loginPanel {
	width: 207px;
	height: 224px;
	position: relative;
	left: 594px;
	top: 30px;
	background-image: url('/monitor/themes/gwmos/images/login_panel.gif');
	background-repeat: no-repeat;
	background-position: 0% 0%;
	padding: 1px 9px 0px;
	line-height: 1.7em;
}

.loginPanel span.heading {
	font-weight:bold;
	display:block;
	margin-bottom:1.5em;
}

.loginPanel span.note {
	font-size:92%;
	color:#666666;
	display:block;
	width:18em;
	margin-top: 2px;
}

.loginPanel input.button {
	margin-bottom:1.7em;
}

.loginPanel input.text {
	border:1px solid #cccccc;
	height: 15px;
	width: 145px;
	font-size: 10px;
	margin: 0px 0px .5em 0px;
	padding:4px 0px 0px 3px;
}

div.loginButton input {
	margin: 3px 2px;
	font-size: 10px;
}

div.mainText {
	text-align: left;
	margin:0px 0px 0px 40px;
	z-index: 30;
}

div.mainText h1 {
	color: #fa840f;
	font-size: 1.2em;
	margin: 1.5em 0px .5em 0px;
	letter-spacing: 0px;
}

div.mainDescription {
	width: 560px;
	position: relative;
	top: -40px;
	margin: 0px;
}
div.mainDescriptionnew {
	width: 720px;
	position: relative;
	margin: 0px;
	top: -20px;
}


/* search suggest styles */
.suggest_link {
		background-color: #FFFEB2;
		padding: 2px 6px 2px 6px;
}
.suggest_link_over {
		background-color: #A1C2FE;
		padding: 2px 6px 2px 6px;
}
#search_suggest {
		position: absolute;
		background-color: #FFFEB2;
		text-align: left;
		border: 1px solid #000000;
}
.text-legal {
	/* font-family:  helvetica, verdana, arial, sans-serif; */
	font-family:  sans-serif;
	font-size: 7pt;
	line-height: 1.5em;
	color: #999999;
}
.logo-new {
	width: 195px;
	height: 60px;
	position: relative;
	top: -5px;
	left: 505px;
	background-repeat: no-repeat;
	padding: 1px 9px 0px;
}

