<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"  debug="false">

<!-- Console (stdout) -->
<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
    <param name="Target" value="System.out" />
    <param name="Threshold" value="DEBUG" />
    <layout class="org.apache.log4j.PatternLayout">
        <!-- The default pattern: Date Priority [Category] Message\n -->
        <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n" />
    </layout>
</appender>

<category name="org.hibernate">
    <priority value="ERROR" />
</category>

<category name="org.springframework">
    <priority value="ERROR" />
</category>

<category name="com.groundwork.collage.SpringAccessor">
    <priority value="ERROR" />
</category>

<category name="org.groundwork.foundation.bs">
    <priority value="DEBUG" />
</category>

<category name="com.groundwork.collage.test">
    <priority value="DEBUG" />
</category>

<category name="net.sf.ehcache">
    <priority value="ERROR" />
</category>

<category name="com.mchange.v2.c3p0">
    <priority value="ERROR" />
</category>

<category name="com.groundwork.collage.CollageEhCacheProvider">
    <priority value="ERROR" />
</category>

<root>
    <priority value="INFO" />
    <appender-ref ref="CONSOLE" />
</root>

</log4j:configuration>
