#
# Copyright 2009 GroundWork Open Source, Inc. ("GroundWork")  
# All rights reserved. Use is subject to GroundWork commercial license terms.
#

#
# Tuning of the MYSQL database for best performance on system conform with Systems described in the System planning Guide
# Last Update: August 2009
#

[mysqladmin]
user=root

[mysqld]
basedir=/usr/local/groundwork/mysql
datadir=/usr/local/groundwork/mysql/data
port=3306
socket=/usr/local/groundwork/mysql/tmp/mysql.sock
tmpdir=/usr/local/groundwork/mysql/tmp

# Jboss uses 2 connection pools to max of 20 
# Foundation uses a connection pool defined in db.properties set to 25 max
max_connections = 75

innodb_buffer_pool_size=512M
innodb_log_buffer_size=5M
innodb_log_file_size=256M

key_buffer_size=64M
sort_buffer_size=128k
read_buffer_size=128k

join_buffer_size=8M
read_rnd_buffer_size=4M
innodb_flush_log_at_trx_commit=0

innodb_doublewrite=0

#disable double buffer on file sync
innodb_flush_method=O_DIRECT

# Maximum size for internal (in-memory) temporary tables. If a table
# grows larger than this value, it is automatically converted to disk
# based table This limitation is for a single table. There can be many
# of them.
tmp_table_size = 16M
max_heap_table_size=16M

max_tmp_tables=64

query_cache_size=128M
query_cache_type=1
thread_cache_size=20

#optimize or alter command
myisam_sort_buffer_size=256M

table_cache=4096

[mysqld_safe]

mysqld=mysqld.bin
# Increase the amount of open files allowed per process. Warning: Make
# sure you have set the global system limit high enough! The high value
# is required for a large number of opened tables
open-files-limit = 8192

[client]
port=3306
socket=/usr/local/groundwork/mysql/tmp/mysql.sock

[manager]
port=3306
socket=/usr/local/groundwork/mysql/tmp/mysql.sock
pid-file=/usr/local/groundwork/mysql/tmp/manager.pid
default-mysqld-path=/usr/local/groundwork/mysql/bin/mysqld.bin

[mysqldump]
net_buffer_length=512K
